<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpNewsMapper">

	<select id="searchNewsCnt" parameterType="java.util.Map" resultType="java.util.Map">
		WITH TB_CNT AS (
			SELECT *  
			FROM TMHP_BOARD
			<where>
				BOARDSEQ = '2' 
				AND NOT DELYN = '1'
					<if test=' SURVYEAR != null and SURVYEAR != "" '>
						AND SURVYEAR = #{SURVYEAR}
					</if>
					<if test=' SURVKINDCD != null and SURVKINDCD != "" '>
						AND SURVKINDCD = #{SURVKINDCD}
					</if>					
			</where>
		)
		SELECT COUNT(BOARDSEQ) AS CNT
		FROM TB_CNT
		<where>
			<if test=' KEYWORD != null and SUBJECT == "Y" '>
				OR SUBJECT LIKE '%' || #{KEYWORD} || '%'			
			</if>
			<if test=' KEYWORD != null and TEXT == "Y" '>
				OR <![CDATA[ CONTAINS(TEXT, '%' || #{KEYWORD} ||'%') > 0 ]]>			
			</if>
			<if test=' KEYWORD != null and WORKERID == "Y" '>
				OR WORKERID LIKE '%' || #{KEYWORD} || '%'	
			</if>		
		</where>		
	</select>
	
	<select id="searchNewsList" parameterType="java.util.Map" resultType="java.util.Map">
	 	WITH BASE AS (
						SELECT 
					 		A.BOARDSEQ, A.BBSNO, A.BOARDTYPECD, A.SURVYEAR, A.SURVKINDCD, B.CDNM AS SURVKINDNM
					 		, A.REFNO, A.SUBJECT, A.TEXT
					 		, A.NOTICEYN, A.SECRETYN, A.HIT, A.DELYN
					 		 , CASE 
					 			WHEN (SELECT COUNT(ATT_IDT_NO) FROM TMHP_BOARDFILE WHERE ATT_IDT_NO = A.FILEID) > 0 THEN  'Y' 
					 			ELSE 'N' END AS FILEYN
							, A.WORKERID, NVL(SP_DEC_FU(COALESCE(A.WORKERNM, C.USERNM)), ' ') as WORKERNM, A.WORKDTHM, A.MODIFIERID, A.MODDTHM  
						FROM TMHP_BOARD A
							LEFT OUTER JOIN (SELECT DISTINCT CD, CDNM
											FROM TCCM_CODE
											WHERE CDTYPE = '0079' AND CD != 'GROUPCD'
										) B ON A.SURVKINDCD = B.CD 
							LEFT OUTER JOIN TMAD_USER C ON A.WORKERID = C.USERID
						<where> 
							A.BOARDSEQ = '2' /* 1.공지사항 ,2.취업통계소식, 3.자료실, 4.FAQ, 5.QnA */
							AND NOT A.DELYN = '1'
							<if test=' SURVYEAR != null and SURVYEAR != "" '>
								AND A.SURVYEAR = #{SURVYEAR}
							</if>
							<if test=' SURVKINDCD != null and SURVKINDCD != "" '>
								AND A.SURVKINDCD = #{SURVKINDCD}
							</if>							
						</where>
						ORDER by A.WORKDTHM DESC
		)
		SELECT * FROM
			(
				SELECT ROWNUM AS RNUM, T1.* FROM BASE T1
				<where>
					<if test=' KEYWORD != null and SUBJECT == "Y" '>
						OR T1.SUBJECT LIKE '%' || #{KEYWORD} || '%'			
					</if>
					<if test=' KEYWORD != null and TEXT == "Y" '>
						OR <![CDATA[ CONTAINS(T1.TEXT, '%' || #{KEYWORD} ||'%') > 0 ]]>			
					</if>
					<if test=' KEYWORD != null and WORKERID == "Y" '>
						OR T1.WORKERID LIKE '%' || #{KEYWORD} || '%'			
					</if>			
				</where>
			)
		WHERE RNUM BETWEEN #{START} AND #{END}
			
	</select>
	
	<select id="selectNewsView" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			A.BOARDSEQ, A.BBSNO, A.BOARDTYPECD, A.SURVYEAR, A.SURVKINDCD, A.REFNO
			, A.SUBJECT, A.TEXT, A.NOTICEYN, A.SECRETYN, A.HIT, A.DELYN
			, A.FILEID
			, A.WORKERID, TO_CHAR(A.WORKDTHM, 'YYYY-MM-DD HH24:MI') AS WORKDTHM, A.MODIFIERID, A.MODDTHM 
			, (SELECT DISTINCT CDNM
							FROM TCCM_CODE
							WHERE CDTYPE = '0079' AND CD != 'GROUPCD'
							AND SURVSEQ = SUBSTR('2020', 3,2)||'1231'
							AND CD = A.SURVKINDCD) AS SURVKINDNM
			, NVL(SP_DEC_FU(COALESCE(A.WORKERNM, B.USERNM)), ' ') as WORKERNM
			, NVL(B.DEPTNM, ' ') AS DEPTNM
		FROM TMHP_BOARD A		
			LEFT OUTER JOIN TMAD_USER B ON A.WORKERID = B.USERID	
		WHERE A.BOARDSEQ = '2'
			AND A.BBSNO = #{BBSNO}	
	</select>
		
	<insert id="insertNews">
		INSERT INTO TMHP_BOARD (
			BOARDSEQ, BBSNO
			, SUBJECT, TEXT
			, WORKERID
			, WORKERNM
		) VALUES (
			'2', seq_board.nextval
			, #{SUBJECT}, #{TEXT}
			, #{WORKERID}
			, SP_ENC_FU(#{WORKERNM})
		)	
	</insert>
		
	<update id="updateNews">
		UPDATE TMHP_BOARD
		SET 
		    SUBJECT     = #{SUBJECT}, 
		    TEXT        = #{TEXT}, 
		    MODIFIERID  = #{MODIFIERID}, 
		    MODDTHM     = SYSDATE
		WHERE BBSNO = #{BBSNO}
	</update>
	
	<update id="deleteNews">
		UPDATE TMHP_BOARD
		SET
		    DELYN       = '1', 
		    MODIFIERID  = #{MODIFIERID}, 
		    MODDTHM     = SYSDATE
		WHERE BOARDSEQ    = '2'
			AND BBSNO = #{BBSNO}	
	</update>
	
</mapper>