<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgResultSumMapper">
	
	<select id="listResult01" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				COLNM 
			<if test='DNYN == "1"'>
				,SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '1004', DNCD) AS DNNM
			</if>
				,JOBTYPECD_M0,JOBTYPECD_F0
				,JOBTYPECD_M1,JOBTYPECD_F1
				,JOBTYPECD_M2,JOBTYPECD_F2
				,JOBTYPECD_M3,JOBTYPECD_F3
				,JOBTYPECD_M4,JOBTYPECD_F4
				,JOBTYPECD_M5,JOBTYPECD_F5
				,JOBTYPECD_M6,JOBTYPECD_F6
				,JOBTYPECD_M7,JOBTYPECD_F7
				,JOBTYPECD_M8,JOBTYPECD_F8
				,JOBTYPECD_M9,JOBTYPECD_F9
				,JOBTYPECD_M10,JOBTYPECD_F10
				,JOBTYPECD_M11,JOBTYPECD_F11
				,JOBTYPECD_M12,JOBTYPECD_F12
				,JOBTYPECD_M13,JOBTYPECD_F13
				,JOBTYPECD_M14,JOBTYPECD_F14
				,JOBTYPECD_M15,JOBTYPECD_F15
			FROM(
				SELECT T1.SURVSEQ, T1.SURVKINDCD,T1.COLCD,T1.COLNM
				<if test='DNYN == "1"'>
					,T1.DNCD
				</if>
					,SUM(DECODE(T1.SEXCD,'1',1,0)) AS JOBTYPECD_M0
					,SUM(DECODE(T1.SEXCD,'2',1,0)) AS JOBTYPECD_F0
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_M1 --취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_F1 --취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_M2 --건보취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_F2 --건보취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_M3 --교내취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_F3 --교내취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_M4 --해외취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_F4 --해외취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_M5 --농립어업종사자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_F5 --농립어업종사자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_M6 --개인창작
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_F6 --개인창작
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_M7 --1인사업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_F7 --1인사업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_M8 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_F8 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_M9 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_F9 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_M10 --입대
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_F10 --입대
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_M11 --취업불가
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_F11 --취업불가
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_M12 --제외인정자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_F12 --제외인정자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_M13 --기타
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_F13 --기타
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_M14 --외국인유학생
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_F14 --외국인유학생
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_M15 --미상
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_F15 --미상
					
				FROM
					TMAG_ATRGRDINFOBF T1, TRAG_ATRGRDINFO T4	
				<if test='USERGRPTYPE == "6"'> 	
					,TMAD_DEPTUSER T3	
				</if>							
				WHERE
					T1.SURVSEQ = #{SURVSEQ}
					AND T1.SURVKINDCD = #{SURVKINDCD}
					AND T1.SCHCD = #{SCHCD}
					AND T1.ORGCD = #{ORGCD}	
					AND T1.SURVSEQ = T4.SURVSEQ
					AND T1.SURVKINDCD = T4.SURVKINDCD
					AND T1.SCHCD = T4.SCHCD
					AND T1.ORGCD = T4.ORGCD
					AND T1.UNIQUEKEY = T4.UNIQUEKEY						
				<if test='USERGRPTYPE == "6"'> 	
					AND T3.USERID = #{USERID}
					AND T1.SURVSEQ = T3.SURVSEQ 
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
					AND T1.COLCD = T3.COLCD
					AND T1.DEPTCD = T3.DEPTCD
					AND T1.DETAILDEPTNM = T3.DETAILDEPTNM
					AND T1.DNCD = T3.DNCD
				</if>																
				GROUP BY
					T1.SURVSEQ,
					T1.SURVKINDCD,
					T1.SCHCD,
					T1.ORGCD,
					T1.COLCD,
					T1.COLNM
				<if test='DNYN == "1"'> 	
					,T1.DNCD
				</if>
			)
	</select>	
	
	<select id="listResult02" parameterType="java.util.Map" resultType="java.util.Map">
				SELECT
				DEPTNM
			<if test='GBN == "3"'>
				,COLNM 
			</if>
			<if test='GBN == "4"'>
				,COLNM 
				,DETAILDEPTNM
			</if>
				
			<if test='DNYN == "1"'>
				,SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '1004', DNCD) AS DNNM
			</if>
				,JOBTYPECD_M0,JOBTYPECD_F0
				,JOBTYPECD_M1,JOBTYPECD_F1
				,JOBTYPECD_M2,JOBTYPECD_F2
				,JOBTYPECD_M3,JOBTYPECD_F3
				,JOBTYPECD_M4,JOBTYPECD_F4
				,JOBTYPECD_M5,JOBTYPECD_F5
				,JOBTYPECD_M6,JOBTYPECD_F6
				,JOBTYPECD_M7,JOBTYPECD_F7
				,JOBTYPECD_M8,JOBTYPECD_F8
				,JOBTYPECD_M9,JOBTYPECD_F9
				,JOBTYPECD_M10,JOBTYPECD_F10
				,JOBTYPECD_M11,JOBTYPECD_F11
				,JOBTYPECD_M12,JOBTYPECD_F12
				,JOBTYPECD_M13,JOBTYPECD_F13
				,JOBTYPECD_M14,JOBTYPECD_F14
				,JOBTYPECD_M15,JOBTYPECD_F15
			FROM(
				SELECT T1.SURVSEQ, T1.SURVKINDCD
					,T2.DEPTNM
				<if test='GBN == "3"'>
					,T1.COLCD
					,T1.COLNM
				</if>
				<if test='GBN == "4"'>
					,T1.COLCD
					,T1.COLNM
					,T1.DETAILDEPTNM
				</if>
				<if test='DNYN == "1"'>
					,T1.DNCD
				</if>
					,SUM(DECODE(T1.SEXCD,'1',1,0)) AS JOBTYPECD_M0
					,SUM(DECODE(T1.SEXCD,'2',1,0)) AS JOBTYPECD_F0
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_M1 --취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_F1 --취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_M2 --건보취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_F2 --건보취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_M3 --교내취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_F3 --교내취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_M4 --해외취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_F4 --해외취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_M5 --농립어업종사자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_F5 --농립어업종사자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_M6 --개인창작
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_F6 --개인창작
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_M7 --1인사업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_F7 --1인사업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_M8 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_F8 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_M9 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_F9 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_M10 --입대
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_F10 --입대
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_M11 --취업불가
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_F11 --취업불가
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_M12 --제외인정자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_F12 --제외인정자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_M13 --기타
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_F13 --기타
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_M14 --외국인유학생
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_F14 --외국인유학생
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_M15 --미상
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_F15 --미상
					
				FROM
					TMAG_ATRGRDINFOBF T1, TMCM_DEPT T2, TRAG_ATRGRDINFO T4
				<if test='USERGRPTYPE == "6"'> 	
					,TMAD_DEPTUSER T3	
				</if>
				WHERE
					T1.SURVSEQ = #{SURVSEQ}
					AND T1.SURVKINDCD = #{SURVKINDCD}
					AND T1.SCHCD = #{SCHCD}
					AND T1.ORGCD = #{ORGCD}		
					AND T1.SURVSEQ = T4.SURVSEQ
					AND T1.SURVKINDCD = T4.SURVKINDCD
					AND T1.SCHCD = T4.SCHCD
					AND T1.ORGCD = T4.ORGCD
					AND T1.UNIQUEKEY = T4.UNIQUEKEY					
					AND T1.SURVSEQ = T2.SURVSEQ
					AND T1.SURVKINDCD = T2.SURVKINDCD
					AND T1.DEPTCD = T2.DEPTCD	
				<if test='USERGRPTYPE == "6"'> 	
					AND T3.USERID = #{USERID}
					AND T1.SURVSEQ = T3.SURVSEQ 
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
					AND T1.COLCD = T3.COLCD
					AND T1.DEPTCD = T3.DEPTCD 
					AND T1.DETAILDEPTNM = T3.DETAILDEPTNM
					AND T1.DNCD = T3.DNCD
				</if>															
				GROUP BY
					T1.SURVSEQ
					,T1.SURVKINDCD
					,T1.SCHCD
					,T1.ORGCD
					,T2.DEPTNM
				<if test='GBN == "3"'>
					,T1.COLCD
					,T1.COLNM
				</if>
				<if test='GBN == "4"'>
					,T1.COLCD
					,T1.COLNM
					,T1.DETAILDEPTNM
				</if>					
				<if test='DNYN == "1"'> 	
					,T1.DNCD
				</if>
			)
	</select>	

	<select id="listResult03" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				SURVSEQ
			<if test='GBN == "5"'>
				,LNM AS COLNM
			</if>
			<if test='GBN == "6"'>
				,SNM AS COLNM
			</if>				
			<if test='DNYN == "1"'>
				,SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '1004', DNCD) AS DNNM
			</if>
				,JOBTYPECD_M0,JOBTYPECD_F0
				,JOBTYPECD_M1,JOBTYPECD_F1
				,JOBTYPECD_M2,JOBTYPECD_F2
				,JOBTYPECD_M3,JOBTYPECD_F3
				,JOBTYPECD_M4,JOBTYPECD_F4
				,JOBTYPECD_M5,JOBTYPECD_F5
				,JOBTYPECD_M6,JOBTYPECD_F6
				,JOBTYPECD_M7,JOBTYPECD_F7
				,JOBTYPECD_M8,JOBTYPECD_F8
				,JOBTYPECD_M9,JOBTYPECD_F9
				,JOBTYPECD_M10,JOBTYPECD_F10
				,JOBTYPECD_M11,JOBTYPECD_F11
				,JOBTYPECD_M12,JOBTYPECD_F12
				,JOBTYPECD_M13,JOBTYPECD_F13
				,JOBTYPECD_M14,JOBTYPECD_F14
				,JOBTYPECD_M15,JOBTYPECD_F15
			FROM(
				SELECT T1.SURVSEQ, T1.SURVKINDCD
				<if test='GBN == "5"'>
					,T2.LNM
				</if>
				<if test='GBN == "6"'>
					,T2.SNM
				</if>
				<if test='DNYN == "1"'>
					,T1.DNCD
				</if>
					,SUM(DECODE(T1.SEXCD,'1',1,0)) AS JOBTYPECD_M0
					,SUM(DECODE(T1.SEXCD,'2',1,0)) AS JOBTYPECD_F0
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_M1 --취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,'28',1,'29',1,'41',1,'42',1,'43',1,'44',1,'45',1,'46',1,'48',1,'51',1,'52',1,'32',1,'47',1,0),0)) AS JOBTYPECD_F1 --취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_M2 --건보취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'27',1,0),0)) AS JOBTYPECD_F2 --건보취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_M3 --교내취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'28',1,'29',1,0),0)) AS JOBTYPECD_F3 --교내취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_M4 --해외취업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'51',1,'52',1,0),0)) AS JOBTYPECD_F4 --해외취업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_M5 --농립어업종사자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'48',1,0),0)) AS JOBTYPECD_F5 --농립어업종사자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_M6 --개인창작
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'41',1,'42',1,'43',1,'44',1,'45',1,0),0)) AS JOBTYPECD_F6 --개인창작
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_M7 --1인사업
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'46',1,0),0)) AS JOBTYPECD_F7 --1인사업
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_M8 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'80',1,'81',1,'82',1,'4',1,'14',1,'16',1,0),0)) AS JOBTYPECD_F8 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_M9 --진학국내
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'70',1,'71',1,'72',1,0),0)) AS JOBTYPECD_F9 --진학국내
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_M10 --입대
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'6',1,0),0)) AS JOBTYPECD_F10 --입대
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_M11 --취업불가
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'33',1,'34',1,'35',1,'36',1,0),0)) AS JOBTYPECD_F11 --취업불가
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_M12 --제외인정자
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'61',1,'62',1,'64',1,'65',1,'66',1,0),0)) AS JOBTYPECD_F12 --제외인정자
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_M13 --기타
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'30',1,0),0)) AS JOBTYPECD_F13 --기타
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_M14 --외국인유학생
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T1.EXCHANGEYN,'1',1,0),0)) AS JOBTYPECD_F14 --외국인유학생
					
					,SUM(DECODE(T1.SEXCD,'1',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_M15 --미상
					,SUM(DECODE(T1.SEXCD,'2',DECODE(T4.JOBTYPECD,'99',1,0),0)) AS JOBTYPECD_F15 --미상
					
				FROM
					TMAG_ATRGRDINFOBF T1, TMCM_DEPT T2, TRAG_ATRGRDINFO T4	
				<if test='USERGRPTYPE == "6"'> 	
					,TMAD_DEPTUSER T3	
				</if>
				WHERE
					T1.SURVSEQ = #{SURVSEQ}
					AND T1.SURVKINDCD = #{SURVKINDCD}
					AND T1.SCHCD = #{SCHCD}
					AND T1.ORGCD = #{ORGCD}		
					AND T1.SURVSEQ = T4.SURVSEQ
					AND T1.SURVKINDCD = T4.SURVKINDCD
					AND T1.SCHCD = T4.SCHCD
					AND T1.ORGCD = T4.ORGCD
					AND T1.UNIQUEKEY = T4.UNIQUEKEY						
					AND T1.SURVSEQ = T2.SURVSEQ
					AND T1.SURVKINDCD = T2.SURVKINDCD
					AND T1.DEPTCD = T2.DEPTCD		
				<if test='USERGRPTYPE == "6"'> 	
					AND T3.USERID = #{USERID}
					AND T1.SURVSEQ = T3.SURVSEQ 
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
					AND T1.COLCD = T3.COLCD
					AND T1.DEPTCD = T3.DEPTCD
					AND T1.DETAILDEPTNM = T3.DETAILDEPTNM
					AND T1.DNCD = T3.DNCD
				</if>															
				GROUP BY
					T1.SURVSEQ
					,T1.SURVKINDCD
					,T1.SCHCD
					,T1.ORGCD
				<if test='GBN == "5"'>
					,T2.LNM
				</if>
				<if test='GBN == "6"'>
					,T2.SNM
				</if>					
				<if test='DNYN == "1"'> 	
					,T1.DNCD
				</if>
			)
	</select>	
	
</mapper>