<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpCommonMapper">

	
	
	<select id="selectFileList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			ATT_IDT_NO, ATT_SEQ
			, SAVE_FILE_NAME, REAL_FILE_NAME, SAVE_PATH, FILE_SIZE
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMHP_BOARDFILE
		WHERE ATT_IDT_NO = #{ATT_IDT_NO}
		ORDER BY ATT_SEQ
	</select>	
	
	<select id="selectYearList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DISTINCT SURVYEAR AS CDNM, SUBSTR(SURVYEAR, 3, 2) AS CD
		FROM TMAD_SURVEY 
		ORDER BY SURVYEAR DESC	
	</select>
	
	
	<select id="selectSurvList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
		FROM TMAD_SURVEY
		WHERE SURVYEAR = #{SURVYEAR}	
		ORDER BY SURVNM
	</select>
	
	<update id="updateReadCnt">
		UPDATE TMHP_BOARD SET HIT = HIT+1  WHERE BBSNO = #{BBSNO}	
	</update>
	
	<select id="genBBSKey" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SP_ENC_FU(#{IPADDR}||to_char(systimestamp,'YYMMDDHH24MISS')) genBBSKey
			, #{IPADDR}||to_char(systimestamp,'YYMMDDHH24MISS') genBBSKeyOrg
		FROM DUAL
	</select>	
	
</mapper>