@media print {
    .resultWrapper {
      width: 1200px;
      min-height: 721px;
      display: none;
      flex-direction: column;
    }
    .discText {
      height: 17px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 350;
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .resultTabWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .resultTab {
      flex-grow: 1;
      /*width: 200px;*/
      height: 65px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      border-right: 1px solid #f3f6ff;
      background: #e1e5f2;
      color: #707792;
      cursor: pointer;
    }

    input[name='resultTabs'] {
      display: none;
    }
    .resultTabWrapper input:checked + .resultTab {
      border-top: 3px solid #2f5dff;
      color: #1d45d2;
      background-color: #fff;
    }
    .blockBox {
      display: none;
      /* visibility: hidden; */
    }

    .resultContentWrapper {
      display: flex;
      width: 1200px;
      min-height: 623px;
      align-items: center;
      padding: 0px 10px 0px 10px;
      border-radius: 0px 0px 10px 10px;
      background: #fff;
      /*box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);*/
    }

    .conpLWRapper {
      width: 554px;
      height: 100%;
    }
    .compVLine {
      width: 1px;
      height: 600px;
      background: linear-gradient(
        rgba(220, 223, 234, 0) 0%,
        #dcdfea 10.15%,
        #dcdfea 89.7%,
        rgba(220, 223, 234, 0) 100%
      );
    }
    .compRWrapper {
      display: flex;
      flex-direction: column;
      padding-left: 59px;
    }
    .compRWrapper > span:first-child {
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 25px;
    }

    .compListBox {
      width: 490px;
      height: 395px;
      overflow: auto;
      margin-bottom: 30px;
      cursor: pointer;
    }
    .singleCompList {
      display: flex;
      align-items: center;
      width: 459px;
      height: 34px;
      padding-right: 16px;
      margin-bottom: 6px;
      border-radius: 5px;
      background-color: #f4f4f4;
      font-weight: 500;
    }
    .singleCompList > div:first-child {
      margin-right: 14px;
      width: 34px;
      height: 30px;
      color: rgba(0, 0, 0, 0.5);
      background-color: #e6e6e7;
      border-radius: 5px 0 0 5px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .singleCompList > div:last-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .singleCompList > div:last-child > div:first-child {
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
    }
    .singleCompList > div:last-child > div:last-child {
      width: 127px;
      color: rgba(0, 0, 0, 0.7);
      text-align: right;
      font-size: 14px;
    }

    .activeSingleCompList {
      display: flex;
      align-items: center;
      width: 459px;
      height: 34px;
      padding-right: 16px;
      margin-bottom: 6px;
      border-radius: 5px;
      background-color: #f3f6ff;
      font-weight: 500;
    }
    .activeSingleCompList > div:first-child {
      margin-right: 14px;
      width: 34px;
      height: 30px;
      color: #2f5dff;
      background-color: #d4dcff;
      border-radius: 5px 0 0 5px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .activeSingleCompList > div:last-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .activeSingleCompList > div:last-child > div:first-child {
      color: #2f5dff;
      font-size: 14px;
    }
    .activeSingleCompList > div:last-child > div:last-child {
      width: 127px;
      color: rgba(0, 0, 0, 0.7);
      text-align: right;
      font-size: 14px;
    }

    .reSearchBtn {
      border: none;
      width: 459px;
      height: 46px;
      border-radius: 10px;
      background: #567bff;
      box-shadow: 0px 2px 20px 0px rgba(74, 91, 151, 0.3);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }

    .reSearchBtn:hover {
      background-color: #2F5DFF;
      transition-duration: .2s;
      cursor: pointer;
    }

    .statusWrapper {
      display: flex;
      flex-direction: column;
    }
    .statusLWrapper {
      padding-right: 50px;
    }
    .statusRWrapper {
      padding-left: 49px;
    }
    .statusTitleWrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    .statusTitle {
      color: rgba(0, 0, 0, 0.8);
      font-size: 22px;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
    .statusTitle > span {
      font-size: 16px;
      font-weight: 400;
      margin-left: 6px;
    }
    .statusUTitle {
      margin-bottom: 33px;
    }
    .statusLTitle {
      margin-bottom: 48px;
    }
    .statusDegreeBoxWrapper {
      display: flex;
      flex-wrap: wrap;
      width: 510px;
      margin-bottom: 88px;
      margin-right: -10px;
    }
    .statusDegreeBox {
      display: flex;
      width: 245px;
      padding: 15px 20px;
      align-items: flex-start;
      gap: 50px;
      border-radius: 5px;
      background: #f4f6fb;
      margin-bottom: 10px;
      margin-right: 10px;
    }
    .statusDegreeBox > span {
      width: 52px;
      color: #626a86;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .statusDegreeBox > div {
      display: flex;
      flex-direction: column;
    }
    .statusDegreeBox > div > span:first-child {
      color: #1d45d2;
      font-size: 26px;
      font-weight: 500;
      line-height: 31px;
      font-family: 'Inter';
    }
    .statusDegreeBox > div > span:last-child {
      color: #626a86;
      font-size: 16px;
      font-weight: 500;
      line-height: 23px;
    }
    .statusGaugeWrapper {
      display: flex;
      gap: 10px;
      position: relative;
    }
    .statusGaugeText {
      color: #2f5dff;
      font-size: 14px;
      font-weight: 700;
    }
    .statusGaugeBar {
      width: 259px;
      height: 8px;
      border-radius: 10px;
      background: #e6e6e7;
      margin-top: 4px;
    }
    .statusGaugePointer {
      position: absolute;
      width: 72px;
      height: 96px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
    }
    .statusGaugePointer > div:first-child {
      width: 16px;
      height: 16px;
      border-radius: 10px;
      background: #2f5dff;
    }
    .statusGaugePointer > div:last-child {
      position: relative;
    }
    .statusGaugePointer > div:last-child > span {
      position: absolute;
      top: 11px;
      left: 11.5px;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
    .statusBoxWrapper {
      display: flex;
      gap: 10px;
    }
    .statusQualBox {
      display: flex;
      width: 159px;
      padding: 15px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      border-radius: 5px;
      background: #f4f6fb;
    }
    .statusQualBox > div:first-child {
      display: flex;
      flex-direction: column;
      height: 40px;
    }
    .statusQualBox > div:first-child > span {
      line-height: 20px;
    }
    .statusQualBox > div:first-child > span:first-child {
      color: #626a86;
      font-size: 14px;
      font-weight: 700;
    }
    .statusQualBox > div:first-child > span:nth-child(2) {
      color: #626a86;
      font-size: 14px;
      font-weight: 400;
    }
    .statusQualBox > div:last-child {
      color: #1d45d2;
      width: 100%;
      text-align: right;
    }
    .statusQualBox > div:last-child > span:first-child {
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.78px;
      font-family: 'Inter';
    }
    .statusQualBoxScore {
      font-family: 'Inter' !important;
    }
    .statusQualBox > div:last-child > span:last-child {
      font-size: 17px;
      font-weight: 400;
    }
    .statusVLineWrapper {
      display: flex;
      flex-direction: column;
      gap: 45px;
      margin-top: 40px;
    }
    .statusVLine1 {
      width: 1px;
      height: 296px;
      background: linear-gradient(
        rgba(220, 223, 234, 0) 0%,
        #dcdfea 10.15%,
        #dcdfea 82.7%,
        rgba(220, 223, 234, 0) 100%
      );
    }
    .statusVLine2 {
      width: 1px;
      height: 263px;
      background: linear-gradient(
        rgba(220, 223, 234, 0) 0%,
        #dcdfea 10.15%,
        #dcdfea 67.7%,
        rgba(220, 223, 234, 0) 100%
      );
    }
    .statusMajorWrapper {
      display: flex;
      gap: 30px;
      margin-bottom: 90px;
    }
    .statusMajorBox {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    .statusMajorBox > div:first-child {
      width: 245px;
      height: 34px;
      border-radius: 5px 5px 0px 0px;
      background: #e1e5f2;
      color: #626a86;
      font-size: 13px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .statusMajorBoxInner {
      display: flex;
      width: 245px;
      height: 47px;
      gap: 30px;
      align-items: center;
      padding: 0 12px;
      background: #f4f6fb;
    }
    .statusMajorBoxInner > div:first-child {
      display: flex;
      align-items: center;
      gap: 14px;
      width: 140px;
    }
    .statusMajorBoxInner > div:first-child > span:first-child {
      color: #567bff;
      font-size: 14px;
      font-weight: 700;
    }
    .statusMajorBoxInnerLine {
      width: 1px;
      height: 21px;
      background: rgba(86, 123, 255, 0.2);
    }
    .statusMajorBoxInner > div:first-child > span:last-child {
      color: #626a86;
      font-size: 14px;
      font-weight: 500;
    }
    .statusMajorBoxInner > div:last-child {
      color: #1d45d2;
      width: 60px;
      text-align: right;
      font-size: 16px;
      font-weight: 700;
    }

    .statusCharacterBox {
      display: flex;
      width: 118px;
      height: 112px;
      padding: 15px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      border-radius: 5px;
      background: #f4f6fb;
    }
    .statusCharacterBox > span {
      color: #626a86;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .statusCharacterBox > div {
      width: 100%;
      display: flex;
      justify-content: right;
    }
    .statusCharacterBox > div > span {
      color: #1d45d2;
      text-align: right;
      font-size: 26px;
      font-weight: 500;
      font-family: 'Inter';
      letter-spacing: -0.78px;
    }

    .resultDataListWrapper {
      display: flex;
      flex-direction: column;
      width: 500px;
      height: fit-content;
    }
    .resultDataTabWrapper {
      display: flex;
      gap: 3px;
      cursor: pointer;
    }
    .resultDataTab {
      width: 98px;
      height: 35px;
      background: #f1f3f9;
      color: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 400;
    }
    .resultDataTabActive {
      background: #2f5dff;
      color: #fff;
    }
    .resultDataContentWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 321px;
      border-top: 1px solid #567bff;
      border-bottom: 1px solid #bfc3d1;
      overflow-y: auto;
      cursor: pointer;
    }
    .resultDataContent {
      display: flex;
      align-items: center;
      height: 32px;
      border-bottom: 1px solid #f1f3f9;
      cursor: pointer;
    }
    .resultDataContent > div:first-child {
      width: 37px;
      height: 23px;
      background-color: #f4f4f4;
      color: rgba(0, 0, 0, 0.4);
      font-family: 'Inter';
      font-size: 12px;
      font-weight: 700;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
    .resultDataContent > div:nth-child(2) {
      color: rgba(0, 0, 0, 0.6);
      height: 32px;
      display: flex;
      align-items: center;
      width: 315px;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
    }
    .resultDataContent > div:last-child {
      color: rgba(0, 0, 0, 0.6);
      width: 110px;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
    }
    .resultDataContentActive > div:first-child {
      color: #2f5dff;
      background-color: #f3f6ff;
    }
    .resultDataContentActive > div:nth-child(2) {
      color: #2f5dff;
      font-weight: 700;
    }
    .resultDataContentActive > div:last-child {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
    }

    .doChartBox1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .chartText {
      position: absolute;
      top: 47%;
      left: 39%;
      color: rgba(0, 0, 0, 0.8);
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .colWrapper {
      display: flex;
      flex-direction: column;
    }
    .singleDegree {
      width: 100%;
      margin-top: 10px;
      display: flex;
      align-items: center;
    }
    .shortSingleDegree {
      margin-top: 50px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .lineHeader2 {
      width: 1100px;
      height: 32.882px;
      position: absolute;
      top: 0;
    }
    .lineHeader3 {
      width: 1100px;
      height: 32.882px;
    }
    .headerContent2 {
      width: 1100px;
    }
    .flexBox2 {
      width: 1100px;
      display: flex;
      align-items: center;
      padding-right: 5px;
    }

    .doChartBox2 {
      height: 470px;
    }
    .chartText2 {
      top: 48%;
      left: 40%;
    }
    .halfDoText {
      display: flex;
      position: absolute;
      bottom: 93px;
      left: 35%;
      flex-direction: column;
      align-items: center;
    }
    .halfDoText2 {
      width: 104.595px;
      height: 34.118px;
      color: #2f5dff;
      text-align: center;
      font-family: 'Inter';
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .searchContentWrapper {
      width: 1200px;
      height: 370px;
      border-radius: 0px 0px 10px 10px;
      background-color: #fff;
      box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
      border-top: 2px solid #2F5DFF;
    }
    .searchUpper {
      height: 225px;
      padding: 44px 56px;
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
    .searchUpper > div {
      gap: 20px;
    }
    .searchTitle {
      color: rgba(0, 0, 0, 0.8);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .longSearchBar {
      width: 776px;
      height: 52px;
      border-radius: 10px;
      border: 1px solid #dcdfea;
      background-color: #fff;
      padding-left: 58px;
      outline: none;
    }
    .longSearchBarInner {
      outline: none;
      border: none;
      width: 90%;
      height: 95%;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .longSearchBarInner::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
    .compSearchBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 290.5px;
      height: 52px;
      border-radius: 10px;
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      gap: 11px;
      border: none;
      background-color: #2f5dff;
    }
    .compSearchBtn:hover {
      background-color: #1D45D2;
      cursor: pointer;
      transition-duration: .2s;
    }
    .searchLower {
      width: 1200px;
      height: 145px;
      border-radius: 0px 0px 10px 10px;
      background-color: #f3f6ff;
      padding: 19px;
      display: flex;
      flex-direction: column;
    }
    .searchLower > button {
      border-radius: 10px;
      background-color: #dcdfea;
      width: 195px;
      height: 52px;
      margin: 14px auto;
      border: none;
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
    }
    .searchLower > div {
      margin-top: 10px;
      /*color: rgba(0, 0, 0, 0.6);*/
      text-align: center;
      /*font-size: 12px;*/
      font-style: normal;
      /*font-weight: 350;*/
      line-height: normal;
      width: 100%;
      font-size: 16px;
      color: red;
    }

    .searchIcon2 {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 20px;
      top: 15px;
    }

    .resultDataContent > span:first-child {
      width: 37px;
      height: 23px;
      background-color: #f4f4f4;
      color: rgba(0, 0, 0, 0.4);
      font-family: 'Inter';
      font-size: 12px;
      font-weight: 700;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
    }
    .resultDataContent > span:nth-child(2) {
      color: rgba(0, 0, 0, 0.6);
      height: 32px;
      display: flex;
      align-items: center;
      width: 315px;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
    }
    .resultDataContent > span:last-child {
      color: rgba(0, 0, 0, 0.6);
      width: 150px;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
    }

    .resultDataContentActive > span:first-child {
      color: #2f5dff;
      background-color: #f3f6ff;
    }
    .resultDataContentActive > span:nth-child(2) {
      color: #2f5dff;
      font-weight: 700;
    }
    .resultDataContentActive > span:last-child {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
    }
}