@media print {
    .searchWrapper {
      display: flex;
      flex-direction: column;
      width: 1200px;
      height: fit-content;
    }
    .tagHeader {
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 60px;
    }
    .tabWrapper {
      display: flex;
      gap: 10px;
    }
    .tabs {
      padding: 0 20px 0 22px;
      width: 185px;
      height: 60px;
      border-radius: 10px 10px 0px 0px;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #3955b8;
      background: #d1dbff;
      cursor: pointer;
    }



    /* .activeTab {
      color: #fff;
      background: #2f5dff;
      box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
    }
    .inactiveTab {
      color: #3955b8;
      background: #d1dbff;
    } */

    .activeTab {
      display: none;
    }
    .inactiveTab {
      display: block;
    }
    input[name='searchTabs'] {
      display: none;
    }
    .tabWrapper input:checked + .tabs {
      color: #fff;
      background: #2f5dff;
      box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
    }
    .tabWrapper input:checked + .tabs > div:first-child {
      display: block;
    }
    .tabWrapper input:checked + .tabs > div:last-child {
      display: none;
    }

    #check {
      width: 0px;
      height: 0px;
      padding: 0px;
      margin: 0px;
    }
    /*
    #check:checked ~ .resetBtn {
      transition-duration: .5s;
      background-color: #d1dbff;
    }
    #check:not(:checked) ~ .resetBtn {
      transition-duration: .5s;
      background-color: #fff;
    }*/

    .resetLabel {
      width: 110px;
      height: 42px;
      position: absolute;
      top: 0;
      background-color: transparent;
      cursor: pointer;
    }
    .resetBtn {
      position: relative;
      gap: 9px;
      border: none;
      width: 110px;
      height: 42px;
      border-radius: 50px;
      background: #fff;
      box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .resetBtn:hover {
      transition-duration: .5s;
      background-color: #d1dbff;
    }

    .resetBtn:after {
      transition-duration: .5s;
      background-color: #fff;
    }

    .wholeContentWrapper {
      width: 1200px;
      height: 686px;
      border-top: 2px solid #2F5DFF;
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
    }
    .tagsWrapper {
      height: 540px;
      display: flex;
      align-items: end;
      padding: 56px 59px 30px 59px;
      background: #fff;
      justify-content: space-between;
    }
    .singleTags {
      display: flex;
      flex-direction: column;
    }
    .tagTitle {
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .tagBox {
      width: fit-content;
      height: 410px;
    }
    .selectAll {
      color: rgba(0, 0, 0, 0.4);
      font-size: 13px;
      font-weight: 500;
      height: 20px;
      margin-bottom: 15px;
      gap: 5px;
      display: flex;
      align-items: center;
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox'] + label {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #bfc3d1;
      position: relative;
    }
    input[type='checkbox']:checked + label::after {
      content: '';
      font-size: 25px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #2f5dff;
      text-align: center;
      position: absolute;
      left: 3.1px;
      top: 3.1px;
    }
    #companySearch:checked ~ .wholeContentWrapper {
      display: none;
    }

    .activeTag {
      border: 1px solid #2f5dff;
      background: rgba(47, 93, 255, 0.2);
    }
    .divWrapper {
      width: 252px;
      display: flex;
      flex-wrap: wrap;
    }
    .locaWrapper {
      width: 166px;
      display: flex;
      flex-wrap: wrap;
    }
    .tag {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #dcdfea;
      background: #f1f3f9;
      color: rgba(0, 0, 0, 0.7);
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 6px;
    }
    .tag:focus {
      border: 1px solid #2f5dff;
      background-color: rgba(47, 93, 255, 0.2);
      color: #413eff;
      font-weight: 700;
    }
    .tag:hover {
      border: 1px solid #2f5dff;
      background-color: rgba(47, 93, 255, 0.2);
      color: #413eff;
      transition-duration: .2s;
      font-weight: 700;

    }


    .longTag {
      width: 100% !important;
      margin-bottom: 0px !important;
      margin-right: 0px !important;
    }
    .cateTag {
      width: 170px;
      height: 54px;
    }
    .divTag {
      width: 80px;
      height: 46px;
      margin-right: 6px;
    }
    .divTag:nth-child(3n),
    .locaTag:nth-child(2n) {
      margin-right: 0;
    }
    .scaleTag {
      width: 170px;
      height: 77px;
    }
    .locaTag {
      width: 80px;
      height: 40px;
      margin-right: 6px;
    }
    #check1:checked .cateTag {
      border: 1px solid #2f5dff;
      background-color: rgba(47, 93, 255, 0.2);
      color: #413eff;
    }
    .verLine {
      width: 1px;
      height: 563px;
      background: linear-gradient(
        transparent 0%,
        #dcdfea 19.24%,
        #dcdfea 80.4%,
        transparent 100%
      );
      margin-bottom: -56px;
    }
    .contentFooter {
      width: 1200px;
      height: 145px;
      border-radius: 0px 0px 10px 10px;
      background: #f3f6ff;
      padding: 32px 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .searchBtn {
      width: 195px;
      height: 52px;
      border-radius: 10px;
      background: #2f5dff;
      border: none;
      box-shadow: 0px 2px 20px 0px rgba(74, 91, 151, 0.3);
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }

    .searchBtn:hover {
      background: #1D45D2;
      transition-duration: .2s;
      cursor: pointer;
    }
    .footerDes {
      /*color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 350;*/
      font-size: 16px;
      color: red;
    }
    .footerWrapper {
      display: flex;
      width: 1200px;
      height: fit-content;
      margin-top: 39px;
      margin-bottom: 6px;
      justify-content: right;
    }
    .footerBtn {
      width: 150px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: #24a3ff;
      gap: 7px;
      box-shadow: 0px 2px 15px 0px rgba(74, 91, 151, 0.3);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border: none;
      margin-left: 10px;
    }

    .footerBtn:hover {
      background: #008BEF;
      transition-duration: .2s;
      cursor: pointer;
    }
    .doChartBox1 {
      width: 100%;
      padding-right: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .flexBox4 {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .flexBox5 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .iconHover2 {
      position: relative;
    }
    .iconTooltip2 {
      display: none;
      position: absolute;
      top: -7px;
      right: -312px;
    }
    .iconHover2:hover  .iconTooltip2 {
      display: block !important;
      z-index: 1;
    }
}