<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpLoginMapper">
	
	<select id="setLoginInfo" parameterType="java.util.Map" resultType="java.util.Map">
	
  			SELECT 
  				CASE WHEN A.USERID IS NOT NULL THEN 'Y' ELSE 'N' END AS LOGIN_YN
  				, A.SURVSEQ
				,A.SURVKINDCD
				,A.USERID
				,A.USERGRPTYPE  
				, SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0104', A.USERGRPTYPE)    AS  USERGRPNM
				,SP_DEC_FU( A.USERNM ) USERNM
				,A.DEPTNM
				,A.TELNO
				,SP_DEC_FU( A.MOBILENO ) MOBILENO
				,A.FAXNO
				,SP_DEC_FU( A.EMAILADDR ) EMAILADDR
			  FROM TMAD_USER A
			 WHERE 
			 	A.USERID =  #{USERID}
			 	and WORKYN = '1'
		 
	</select>
	
	<select id="getLoginInfo" parameterType="java.util.Map" resultType="java.util.Map">
			 	
  			SELECT 'Y' LOGIN_YN
                 , A.SURVSEQ
                 , A.SURVKINDCD
                 , A.SURVYEAR
                 , A.SURVSTRTDT
                 , A.SURVENDDT
                 , A.SURVNM
                 , A.SURVOBJ
                 , #{USERID} USERID
                 , #{USERGRPTYPE} USERGRPTYPE
                 , SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD,'0104', #{USERGRPTYPE})    AS  USERGRPNM
                 , #{USERNM} USERNM
              FROM TMAD_SURVEY A
                 , (
                    SELECT SURVKINDCD
                         , MAX(SURVSEQ) SURVSEQ
                      FROM TMAD_SURVEY
                     WHERE 1=1
                       AND SURVSTRTDT <![CDATA[ <= ]]> TO_CHAR(SYSDATE, 'YYYYMMDD')
                     GROUP BY SURVKINDCD
                   ) B
             WHERE A.SURVSEQ = B.SURVSEQ
               AND A.SURVKINDCD = B.SURVKINDCD
             ORDER BY DECODE(A.SURVKINDCD, 'GP',1,'FP',2,3) 		 	
			 			
	</select>	
		
	<select id="selectChargeSchool" parameterType="java.util.Map" resultType="java.util.Map">

			SELECT 
			A.SCHCD
			,A.ORGCD
			,A.ORGNM
			,( SELECT SCHNM  FROM TMAD_SCHOOL WHERE SCHCD = A.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = A.ORGCD ) SCHNM
			FROM
			(			

	  			SELECT 
	  				SCHCD
	  				, ORGCD
	  				,  SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', ORGCD) AS ORGNM
				  FROM TMAD_USERSCHOOL
				 WHERE 
				 	USERID =  #{USERID}

			) A
					

	</select>
	
	<select id="getLoginSchool" parameterType="java.util.Map" resultType="java.util.Map">
			 	
  		SELECT A.SCHCD
             , A.ORGCD
             , SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', A.ORGCD) AS ORGNM
             , B.SCHNM
             , B.SURVSTRTDT
             , B.SURVENDDT
             , B.SURVSEQ
		<if test='USERGRPTYPE != "6"'>             
          FROM TMAD_USERSCHOOL A
		</if>
		<if test='USERGRPTYPE == "6"'>             
          FROM TMAD_DEPTUSER A
		</if>
             , (
                SELECT SCHCD, ORGCD, SCHNM, SURVSTRTDT, SURVENDDT, MAX(SURVSEQ) AS SURVSEQ
                  FROM TMAD_SCHOOL
                 WHERE SURVSTRTDT <![CDATA[ <= ]]> TO_CHAR(SYSDATE, 'YYYYMMDD')
                   AND SURVENDDT <![CDATA[ >= ]]> TO_CHAR(SYSDATE, 'YYYYMMDD')
                   AND SURVKINDCD = #{SURVKINDCD}
                 GROUP BY SCHCD, ORGCD, SCHNM, SURVSTRTDT, SURVENDDT
               ) B
         WHERE A.SCHCD = B.SCHCD(+)
           AND A.ORGCD = B.ORGCD(+)
           AND A.USERID = #{USERID}		 	
			 			
	</select>	
	
	
	<!-- smsid 로그인 -->
	<select id="selectUserId" parameterType="java.util.Map" resultType="java.util.Map">

  			SELECT 
  				USERID
  				,USERGRPTYPE
			  FROM TMAD_USER
			 WHERE 
			 	USERID =  #{userId}
				AND PASSWD = SP_PWENC_FU( TRIM(#{userPw}) )
				AND WORKYN = '1'

	</select>
	<select id="selectUserId02" parameterType="java.util.Map" resultType="java.util.Map">

  			SELECT 
  				USERID
  				,USERGRPTYPE
			  FROM TMAD_USER
			 WHERE 
			 	USERID =  #{userId}
				AND WORKYN = '1'

	</select>		
	
	<!-- 조사기간확인 -->
	<select id="selectSurveyCnt" parameterType="java.util.Map" resultType="int">
  			SELECT 
  				COUNT(SURVSEQ) 
			  FROM TMAD_SURVEY
			  WHERE  SURVSTRTDT IS NOT NULL AND SURVSTRTDT <![CDATA[ >= ]]>  #{currentTimeStr} AND SURVENDDT <![CDATA[ <= ]]> #{currentTimeStr}

	</select>		
	<!-- 학교조사기간확인 -->
	<select id="selectSurveyShCnt" parameterType="java.util.Map" resultType="int">
  			SELECT 
  				COUNT(SURVSEQ) 
			  FROM TMAD_SCHOOL
			  WHERE SURVSTRTDT IS NOT NULL AND SURVSTRTDT  <![CDATA[ >= ]]>  #{currentTimeStr} AND SURVENDDT <![CDATA[ <= ]]> #{currentTimeStr}

	</select>			
			
	
	
	
	<select id="selectUserSmsInfo" parameterType="java.util.Map" resultType="java.util.Map">

  			SELECT 
  				 USERID
				,USERGRPTYPE  
				,SP_DEC_FU( USERNM ) USERNM
				,DEPTNM
				,TELNO
				,SP_DEC_FU( MOBILENO ) MOBILENO
				,FAXNO
				,SP_DEC_FU( EMAILADDR) EMAILADDR
			  FROM TMAD_USER
			 WHERE 
			 	USERID =  #{userId}
			 	and WORKYN = '1'

	</select>	
	
	
	<!-- 현재 마지막 조사정보 가져오기 -->
	<select id="selectSurveyInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
  				SURVSEQ
				,SURVKINDCD	
				,SURVNM
				,SURVYEAR
				,SURVSTRTDT
				,SURVENDDT
				,SURVOBJ
				,WORKDTHM
		 FROM (
  			SELECT 
  				SURVSEQ
				,SURVKINDCD	
				,SURVNM
				,SURVYEAR
				,SURVSTRTDT
				,SURVENDDT
				,SURVOBJ
				,WORKDTHM
			  FROM TMAD_SURVEY
			  ORDER BY WORKDTHM DESC
		) WHERE ROWNUM = 1

	</select>	
		
		
		
	<!--  내정보수정 --> 
	<select id="getMyInfo" parameterType="java.util.Map" resultType="java.util.Map">	
					SELECT 
						USERID
						,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0104', USERGRPTYPE) USERGRPTYPESTR
						,SP_DEC_FU(USERNM) USERNM
						,TELNO
						,DEPTNM
						,SP_DEC_FU(MOBILENO) MOBILENO
						,SP_DEC_FU(EMAILADDR) EMAILADDR

					FROM TMAD_USER 
					WHERE  USERID = #{USERID} 
	</select>			
		
		
 	<!-- 비밀번호 -->
	<update id="updateMypwd" parameterType="java.util.Map">

			UPDATE TMAD_USER
				set	PASSWD = SP_PWENC_FU( #{new_pwd})
				WHERE  USERID = #{USERID} 		
    </update>
    
	<!-- 현재 비밀번호  확인 -->
	<select id="chkMypwd" parameterType="java.util.Map" resultType="int">
  			SELECT 
  				COUNT(USERID) 
			  FROM TMAD_USER
			  WHERE  USERID = #{USERID} 
			  AND PASSWD = SP_PWENC_FU( #{curr_pwd})
	</select>	    		
		
	<!-- 중복확인  -->
	<select id="getUserDupCnt" parameterType="java.util.Map" resultType="int">
			SELECT count(USERID)
			  FROM TMAD_USER
			 WHERE   USERID = #{USERID} 	
	</select>	
		
 	<!-- 내정보수정 -->
	<update id="updateMyinfo" parameterType="java.util.Map">

			UPDATE TMAD_USER
				set	USERNM = SP_ENC_FU( #{USERNM})
				  , TELNO = #{TELNO}
				  , MOBILENO = SP_ENC_FU(#{MOBILENO})
				  , USERID =  #{USERID}
				  , EMAILADDR = SP_ENC_FU( #{USERID} )
				  , DEPTNM =  #{DEPTNM}
				  , MODIFIERID =  #{ssUSERID}
				  , MODDTHM = sysdate 
				WHERE  USERID = #{ssUSERID} 		
    </update>
    <!-- 내정보수정에서 USERID 변경될 때  TMAD_USERSCHOOL의 USERID도 변경 2021-01-20 yyz-->
	<update id="updateMySchoolinfo" parameterType="java.util.Map">

			UPDATE TMAD_USERSCHOOL
				set	USERID =  #{USERID}
				  , MODIFIERID =  #{ssUSERID} 
				  , MODDTHM = sysdate 
				WHERE  USERID = #{ssUSERID} 		
    </update>
		
	<!-- 인증서 등록/ 로그인 5회 실패시 잠김처리  -->
	<select id="getAuthFailCnt" parameterType="java.util.Map" resultType="int">
			SELECT PASSWDDIFFCNT
			  FROM TMAD_USER
			 WHERE   USERID = #{userId} 	
	</select>			
	<!-- 인증실패 TMAD_USER  : PASSWDDIFFCNT 카운트 에드 -->
	<update id="addAuthFailCnt" parameterType="java.util.Map">
		<selectKey resultType="int" keyProperty="PASSWDDIFFCNT" order="BEFORE">
	        SELECT NVL(MAX(PASSWDDIFFCNT),0)+1 FROM TMAD_USER  WHERE USERID = #{userId}      
	    </selectKey> 	
			UPDATE TMAD_USER
				set	PASSWDDIFFCNT =  #{PASSWDDIFFCNT}
				WHERE  USERID = #{userId}
	</update>			
	<!-- 인증성공 TMAD_USER  : PASSWDDIFFCNT  클리어-->
	<update id="clearAuthFailCnt" parameterType="java.util.Map">	
			UPDATE TMAD_USER
				set	PASSWDDIFFCNT = 0
				WHERE  USERID = #{userId}
	</update>		

		
		
	
	<!-- 임시 현재 마지막 조사정보 가져오기                !! 임시                                -->
	<select id="selectSurveyInfoTemp" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
  				SURVSEQ
				,SURVKINDCD	
				,SURVNM
				,SURVYEAR
				,SURVSTRTDT
				,SURVENDDT
				,SURVOBJ
				,WORKDTHM
		 FROM (
  			SELECT 
  				SURVSEQ
				,SURVKINDCD	
				,SURVNM
				,SURVYEAR
				,SURVSTRTDT
				,SURVENDDT
				,SURVOBJ
				,WORKDTHM
			  FROM TMAD_SURVEY
					WHERE SURVSEQ = #{SURVSEQ}
					AND SURVKINDCD = #{SURVKINDCD}
		) WHERE ROWNUM = 1

	</select>	
				
		

		
		
		
	
</mapper>