<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpHomeMapper">

	<select id="selectSurvInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM (
			SELECT 
				TO_CHAR(TO_DATE(A.SURVDATE, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS SURVDATE
				, A.SURVMSG
				, TO_CHAR(TO_DATE(A.SURVSTRTDT, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS SURVSTRTDT
				, TO_CHAR(TO_DATE(A.SURVENDDT, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS SURVENDDT
				, TO_CHAR(TO_DATE(A.RATEDT, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS RATEDT
				, A.SCHRATETOTAL, A.SCHRATEN, A.SCHRATET, A.SCHRATEG, A.NOTICE
			FROM TMAD_HP A
			ORDER BY A.WORKDTHM DESC    
		) WHERE ROWNUM=1
	</select>

	<select id="selectNoticeList" parameterType="java.util.Map" resultType="java.util.Map">
	 	<![CDATA[
	 	WITH NOTICE_Y AS (
						SELECT 
							A.BOARDSEQ, A.BBSNO, '[공지] '||A.SUBJECT AS SUBJECT, A.NOTICEYN, TO_CHAR(A.WORKDTHM, 'YYYY.MM.DD') AS WORKDTHM
						FROM TMHP_BOARD A
						WHERE BOARDSEQ = '1' 
							AND  A.NOTICEYN = '1'
							AND NOT DELYN = '1'
						ORDER by WORKDTHM DESC						
		), NOTICE_N AS (
						SELECT 
							A.BOARDSEQ, A.BBSNO, A.SUBJECT, A.NOTICEYN, TO_CHAR(A.WORKDTHM, 'YYYY.MM.DD') AS WORKDTHM
						FROM TMHP_BOARD A
						WHERE BOARDSEQ = '1' 
							/* AND  A.NOTICEYN = '2' */
							AND NOT DELYN = '1'
						ORDER by WORKDTHM DESC
		)
		/*
		SELECT * FROM NOTICE_Y	
		UNION ALL
		*/
		SELECT * FROM NOTICE_N	
		
		WHERE ROWNUM < 5
		]]>			
	</select>

	
</mapper>