<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FPinsertReMapper">
	
	<!--  신편입 조사년도 가져오기 -->
	<select id="getFpSurvYear" parameterType="java.util.Map" resultType="java.util.Map">
	
	  			SELECT 
	  				 A.SURVSEQ
					, ( SUBSTR(A.SURVSEQ,0,2) ||'.' ||  SUBSTR(A.SURVSEQ,3,2) ||'.' ||  SUBSTR(A.SURVSEQ,5,2) )   SURVSEQ_TXT
				FROM(
					SELECT 
						distinct SURVSEQ
					  FROM TMAD_SURVEY
				) A ORDER BY A.SURVSEQ DESC

	</select>
	

	<!--  신편입 조사 정보 세팅 -->
	<select id="setSurvInfo" parameterType="java.util.Map" resultType="java.util.Map">
	  			SELECT 
	  				SURVSEQ
	  				,SURVKINDCD
	  				,SURVYEAR
	  				,SURVSTRTDT
	  				,SURVENDDT
	  				,SURVOBJ
	  				,SURVNM
				  FROM TMAD_SURVEY
				 WHERE 
				 	SURVSEQ = #{SURVSEQ}
				 	AND SURVKINDCD = #{SURVKINDCD}

	</select>	

	
	<!-- 검색용 학교목록 가져 옴  -->
	<select id="getSelSchoolList" parameterType="java.util.Map" resultType="java.util.Map">

			SELECT B.SCHCD, B.SCHNM ,B.ORGCD, B.ORGNM ,B.SURVPROSTATUSNM  ,B.SURVPROSTATUSCD ,B.CHGCOMYN  
			,( SELECT SURVSTRTDT  FROM TMAD_SCHOOL WHERE SCHCD = B.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = B.ORGCD ) SURVSTRTDT
			,( SELECT SURVENDDT  FROM TMAD_SCHOOL WHERE SCHCD = B.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = B.ORGCD ) SURVENDDT
			, ( SELECT UNIGRADECD  FROM TMAD_SCHOOL WHERE SCHCD = B.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = B.ORGCD ) UNIGRADECD
			,TO_CHAR(SYSDATE,'YYYYMMDD') AS TO_DATE		
			
			FROM 
			(	
				SELECT 	
					A.SCHCD SCHCD
					,A.SCHNM || ' (' || SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', A.ORGCD) || ')'  SCHNM
					,A.ORGCD ORGCD
					, A.SURVPROSTATUSCD SURVPROSTATUSCD
			        ,CASE  A.CHGCOMYN
			          WHEN '1' THEN '1'
			          ELSE '2'
			         END as CHGCOMYN					
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', A.ORGCD) AS ORGNM
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},#{STATUSparamCD}, A.SURVPROSTATUSCD) AS SURVPROSTATUSNM
					,A.ORDBY ORDBY
					,A.RN RN
				FROM (
				
		  			SELECT 
		  				SH.SCHCD 
		  				,  SH.ORGCD
		  				, ( SELECT CHGCOMYN  FROM TMAD_USERSCHOOL WHERE SCHCD = SH.SCHCD  AND ORGCD = SH.ORGCD AND USERGRPTYPE ='4' )  CHGCOMYN 
		  				, ( SELECT SCHNM  FROM TMAD_SCHOOL WHERE SCHCD = SH.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = SH.ORGCD ) SCHNM
		  				, ( SELECT SURVPROSTATUSCD  FROM TMAD_SCHOOL WHERE SCHCD = SH.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = SH.ORGCD ) SURVPROSTATUSCD
						, 1 ORDBY 
						, ROWNUM RN

					  FROM TMAD_USERSCHOOL  SH 
					 WHERE 
					 	SH.USERID =  #{USERID}

						
				) A
			) B ORDER BY B.SCHNM , B.ORGCD
				
	</select>		
	

	<!-- 등록 오류 개수 가져오기  -->
	<select id="getErrCnt" parameterType="java.util.Map" resultType="int">
			SELECT COUNT(SCHCD)  FROM TMAD_SAVEERROR 
				WHERE SURVSEQ = #{SURVSEQ}
				AND SURVKINDCD = #{SURVKINDCD}
				AND SCHCD = #{SCHCD}
				AND ORGCD = #{ORGCD}
				AND ERRKIND ='2'

	</select>		
	
	<!--  결과조회 -->
	<select id="selectFpRegResult" parameterType="java.util.Map" resultType="java.util.Map">
	
	  			SELECT 
					A.SURVSEQ
					,A.SURVKINDCD
					,A.SCHCD
					,( SELECT SCHNM  FROM TMAD_SCHOOL WHERE SCHCD = A.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = A.ORGCD ) SCHNM
					,A.ORGCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', A.ORGCD) AS ORGNM
					,A.STUDENTSEQ
					,A.COLCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0504', A.COLCD) AS COLNM
					,A.DEPTCD
					,(    SELECT  DEPTNM FROM TMCM_DEPT  WHERE  SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND DEPTCD =  A.DEPTCD  ) DEPTNM
					,A.STUDENTNO
					,SP_DEC_FU(  A.NAME ) NAME
					,A.NAME NAME_NM
					,A.JUMINNO
					,A.UNIQUEKEY
					,SP_DEC_FU(  A.BIRTHYEAR ) BIRTHYEAR
					, A.BIRTHYEAR BIRTHYEAR_NM
					, CASE A.SEXCD
				          WHEN  '1'  THEN '남자'
				          WHEN  '2'  THEN '여자'
				          ELSE ''  
			          END SEXCD	
			        ,A.SEXCD SEXCD_CD
			        ,A.AGE
					,A.DNCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1004', A.DNCD) AS DNNM
					, CASE A.EXCHANGEYN
				          WHEN  '1'  THEN '예'
				          WHEN  '2'  THEN '아니요'
				          ELSE ''  
			          END EXCHANGEYN	
			        ,A.EXCHANGEYN EXCHANGEYN_YN
					,A.ENTRANCETYPE
					, CASE A.ENTRANCETYPE
				          WHEN  '1'  THEN '신입학'
				          WHEN  '2'  THEN '편입학'
				          WHEN  '3'  THEN '특별편입학'
				          WHEN  '4'  THEN '재입학'
				          WHEN  '5'  THEN '별도편입학'
				          ELSE ''  
			          END ENTRANCETYPE_STR
					,A.ENTRANCEDATE
					,A.ENTRANCEYEAR
					,A.DEGREECD
					, CASE A.DEGREECD
				          WHEN  '1'  THEN '전문학사'
				          WHEN  '2'  THEN '학사'
				          WHEN  '3'  THEN '학석사통합과정'
				          WHEN  '4'  THEN '석사과정'
				          WHEN  '5'  THEN '박사과정'
				          WHEN  '6'  THEN '석박사통합과정'
				          ELSE ''  
			          END DEGREECD_STR
					, A.REGISTERTYPE
					, CASE A.REGISTERTYPE
				          WHEN  '1'  THEN '재학'
				          WHEN  '2'  THEN '휴학'
				          WHEN  '3'  THEN '제적'
				          WHEN  '4'  THEN '졸업'
				          WHEN  '5'  THEN '학사학위졸업유예'
				          ELSE ''  
			          END REGISTERTYPE_STR
					,A.REGISTERDATE	
					,A.WORKERID
					,A.WORKDTHM
				  FROM TMFP_FRSPSNINFO A
				 WHERE 
				 	SURVSEQ = #{SURVSEQ}
				 	AND SURVKINDCD = #{SURVKINDCD}
				 	AND SCHCD = #{SCHCD}
				 	AND ORGCD = #{ORGCD}
					<if test='COLNM != null and COLNM != ""'>
						AND COLCD IN (  SELECT  CD FROM TCCM_CODE  WHERE   SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND CDTYPE ='0504'  AND UPPER(CDNM) LIKE UPPER('%' || #{COLNM} || '%') )
					</if>
					<if test='DEPTNM != null and DEPTNM != ""'>
						AND DEPTCD IN (  SELECT  DEPTCD FROM TMCM_DEPT  WHERE  SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND UPPER(DEPTNM) LIKE UPPER('%' || #{DEPTNM} || '%') )
					</if>							
					<if test='STUDENTNO != null and STUDENTNO != ""'>
						AND  UPPER(STUDENTNO) LIKE UPPER('%' || #{STUDENTNO} || '%') 
					</if>	
					<if test='STUDENTNAME != null and STUDENTNAME != ""'>
						AND  UPPER(NAME) LIKE UPPER('%'||SP_ENC_FU(#{STUDENTNAME})||'%') 
					</if>
					ORDER BY STUDENTSEQ
					
																		 	

	</select>	
	

	<!--  학교별 상태 가져오기 -->
	<select id="getFpSchStatus" parameterType="java.util.Map" resultType="java.util.Map">
	
	  			SELECT 
	  				'Y' RESULTVAL
	  				,  SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},#{STATUSparamCD}, A.SURVPROSTATUSCD)    RESULTTXT
				FROM TMAD_SCHOOL A
				 WHERE 
				 	SURVSEQ = #{SURVSEQ}
				 	AND SURVKINDCD = #{SURVKINDCD}
				 	AND SCHCD = #{SCHCD}
				 	AND ORGCD = #{ORGCD}

	</select>		
	
	<!--   집계결과 가져오기 -->
	<select id="selectFpTotalList" parameterType="java.util.Map" resultType="java.util.Map">
	
	  			SELECT 

	  				A.ENTRANCEYEAR
	  				, SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0504', A.COLCD) AS COLNM
	  				, ( SELECT  DEPTNM FROM TMCM_DEPT  WHERE   SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND DEPTCD =  A.DEPTCD  ) DEPTNM
	  				, SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1004', A.DNCD) AS DNNM 
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}  

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
		  				  
	  				   ) FPCNT
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}    AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				  ) FPCNT_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND SEXCD ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
  				  
	  				  ) FPCNT_W
	  				  
	  				  
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='1'  

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
		  				  
	  				  ) FPCNT_NEW
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='1' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
	  				  
	  				  ) FPCNT_NEW_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='1' AND SEXCD ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				  ) FPCNT_NEW_W
	  				
	  				
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_MOV
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='2' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
						  				  
	  				  ) FPCNT_MOV_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='2' AND SEXCD ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				  ) FPCNT_MOV_W 	  
	  								
	  								
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='3' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_MOV03
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='3' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
						  				  
	  				  ) FPCNT_MOV_M03
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='3' AND SEXCD ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				  ) FPCNT_MOV_W03 	  								
	  								
	  								
	  								
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='4'  

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
	  				  
	  				  ) FPCNT_RE
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='4' AND SEXCD ='1'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
	  				  
	  				   ) FPCNT_RE_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='4' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				   ) FPCNT_RE_W
	  				
	  				
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='5' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_MOV05
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='5' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
						  				  
	  				  ) FPCNT_MOV_M05
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND ENTRANCETYPE ='5' AND SEXCD ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				  ) FPCNT_MOV_W05 	  				
	  				
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
						  				  
	  				   ) FPCNT_ST1
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='1' AND SEXCD ='1'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
				  				  
	  				   ) FPCNT_ST1_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='1' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
						  				  
	  				   ) FPCNT_ST1_W	
	  				  
	  				  
	  				  
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='2' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_ST2
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='2' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
				  				  
	  				  ) FPCNT_ST2_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='2' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
				  				  
	  				   ) FPCNT_ST2_W  				
	  				
	  				
	  				
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='3' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
	  				  
	  				   ) FPCNT_ST3
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='3' AND SEXCD ='1'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
	  				  
	  				   ) FPCNT_ST3_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='3' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
			  				  
	  				   ) FPCNT_ST3_W  	  			
	  			
	  			
	  			
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='4' 
 
		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
		  				  
	  				   ) FPCNT_ST4
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='4' AND SEXCD ='1'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD  AND DNCD = A.DNCD 
	  				  
	  				   ) FPCNT_ST4_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='4' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_ST4_W 
	  				  
	  				  
	  				  
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='5' 
	
		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD  AND DNCD = A.DNCD  
								  
	  				   ) FPCNT_ST5
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='5' AND SEXCD ='1' 

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD   AND DNCD = A.DNCD 
				  				  
	  				  ) FPCNT_ST5_M
	  				,( SELECT COUNT(SCHCD) FROM TRFP_FRSPSNINFO WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} 
	  				  AND ORGCD = #{ORGCD}   AND REGISTERTYPE ='5' AND SEXCD ='2'

		  				AND ENTRANCEYEAR = A.ENTRANCEYEAR AND COLCD = A.COLCD  AND DEPTCD = A.DEPTCD  AND DNCD = A.DNCD 
					  				  
	  				   ) FPCNT_ST5_W  	  				   	  				
	  				
	  				
				FROM TRFP_FRSPSNINFO A
				 WHERE 
				 	SURVSEQ = #{SURVSEQ}
				 	AND SURVKINDCD = #{SURVKINDCD}
				 	AND SCHCD = #{SCHCD}
				 	AND ORGCD = #{ORGCD}
				 	
				<if test='sel_dept != null and sel_dept != ""'>
					AND DEPTCD IN (  SELECT  DEPTCD FROM TMCM_DEPT  WHERE   SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND UPPER(DEPTNM) LIKE UPPER('%' || #{sel_dept} || '%') )
				</if>	
				<if test='sel_gubun != null and sel_gubun != ""'>
					AND ENTRANCEYEAR =  #{sel_gubun}
				</if>							 	

				 GROUP BY ENTRANCEYEAR, COLCD, DEPTCD ,DNCD
				 ORDER BY  ENTRANCEYEAR, COLCD, DEPTCD ,DNCD
					
				 	
				 	

	</select>		
	
		<!--  정보등록 결과조회 -->
	<select id="selectFPReginfo" parameterType="java.util.Map" resultType="java.util.Map">
	
	  			SELECT 
					A.SURVSEQ
					,A.SURVKINDCD
					,A.SCHCD
					,( SELECT SCHNM  FROM TMAD_SCHOOL WHERE SCHCD = A.SCHCD AND  SURVSEQ = #{SURVSEQ} AND  SURVKINDCD = #{SURVKINDCD} AND ORGCD = A.ORGCD ) SCHNM
					,A.ORGCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1001', A.ORGCD) AS ORGNM
					,A.STUDENTSEQ
					,A.COLCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0504', A.COLCD) AS COLNM
					,A.DEPTCD
					,(    SELECT  DEPTNM FROM TMCM_DEPT  WHERE  SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND DEPTCD =  A.DEPTCD  ) DEPTNM
					,A.STUDENTNO
					,SP_DEC_FU(  A.NAME ) NAME
					,A.NAME NAME_NM
					,A.JUMINNO
					,A.UNIQUEKEY
					,SP_DEC_FU(  A.BIRTHYEAR ) BIRTHYEAR
					, A.BIRTHYEAR BIRTHYEAR_NM
					, CASE A.SEXCD
				          WHEN  '1'  THEN '남자'
				          WHEN  '2'  THEN '여자'
				          ELSE ''  
			          END SEXCD	
			        ,A.SEXCD SEXCD_CD
			        ,A.AGE
					,A.DNCD
					,SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'1004', A.DNCD) AS DNNM
					, CASE A.EXCHANGEYN
				          WHEN  '1'  THEN '예'
				          WHEN  '2'  THEN '아니요'
				          ELSE ''  
			          END EXCHANGEYN	
			        ,A.EXCHANGEYN EXCHANGEYN_YN
					,A.ENTRANCETYPE
					, CASE A.ENTRANCETYPE
				          WHEN  '1'  THEN '신입학'
				          WHEN  '2'  THEN '편입학'
				          WHEN  '3'  THEN '특별편입학'
				          WHEN  '4'  THEN '재입학'
				          WHEN  '5'  THEN '별도편입학'
				          ELSE ''  
			          END ENTRANCETYPE_STR
					,A.ENTRANCEDATE
					,A.ENTRANCEYEAR
					,A.DEGREECD
					, CASE A.DEGREECD
				          WHEN  '1'  THEN '전문학사'
				          WHEN  '2'  THEN '학사'
				          WHEN  '3'  THEN '학석사통합과정'
				          WHEN  '4'  THEN '석사과정'
				          WHEN  '5'  THEN '박사과정'
				          WHEN  '6'  THEN '석박사통합과정'
				          ELSE ''  
			          END DEGREECD_STR
					, A.REGISTERTYPE
					, CASE A.REGISTERTYPE
				          WHEN  '1'  THEN '재학'
				          WHEN  '2'  THEN '휴학'
				          WHEN  '3'  THEN '제적'
				          WHEN  '4'  THEN '졸업'
				          WHEN  '5'  THEN '학사학위졸업유예'
				          ELSE ''  
			          END REGISTERTYPE_STR
					
					,A.REGISTERDATE	
					,A.WORKERID
					,A.WORKDTHM
				  FROM TRFP_FRSPSNINFO A
				 WHERE 
				 	SURVSEQ = #{SURVSEQ}
				 	AND SURVKINDCD = #{SURVKINDCD}
				 	AND SCHCD = #{SCHCD}
				 	AND ORGCD = #{ORGCD}
					<if test='COLNM != null and COLNM != ""'>
						AND COLCD IN (  SELECT  CD FROM TCCM_CODE  WHERE   SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND CDTYPE ='0504'  AND UPPER(CDNM) LIKE UPPER('%' || #{COLNM} || '%') )
					</if>
					<if test='DEPTNM != null and DEPTNM != ""'>
						AND DEPTCD IN (  SELECT  DEPTCD FROM TMCM_DEPT  WHERE  SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND UPPER(DEPTNM) LIKE UPPER('%' || #{DEPTNM} || '%') )
					</if>							
					<if test='STUDENTNO != null and STUDENTNO != ""'>
						AND  UPPER(STUDENTNO) LIKE UPPER('%' || #{STUDENTNO} || '%') 
					</if>	
					<if test='STUDENTNAME != null and STUDENTNAME != ""'>
						AND  UPPER(NAME) LIKE UPPER('%'||SP_ENC_FU(#{STUDENTNAME})||'%') 
					</if>
					ORDER BY STUDENTSEQ
	</select>	
</mapper>	
	