.downloadBack {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadModal {
  width: 902px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.downloadBack2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  justify-content: center;
  padding-top: 145px;
}

.downloadModal2 {
  width: 902px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.downloadModalHeader {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  padding: 33px 36px 40px 36px;
  justify-content: space-between;
  background-color: #f1f3f9;
}
.downloadModalClose {
  height: 100%;
  display: flex;
  align-items: center;
}
.downloadModalContent {
  width: 100%;
  height: fit-content;
  padding-left: 40px;
  padding-right: 43px;
  display: flex;
  flex-direction: column;
}
.downloadInnerContent {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e7;
  display: flex;
  gap: 40px;
}
.downloadModalFooter {
  padding: 29px 0;
}
.downloadFlex {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-weight: 500;
}
.downloadCalBox1,
.downloadCalBox2 {
  width: 160px;
  position: relative;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}
.downloadInputBox {
  height: 46px;
  border-radius: 10px;
  border: 1px solid #dcdfea;
  background-color: #fff;
  padding: 0 30px;
}
/* 이 부분은 원하시는대로 선택해서 하시라고 주석처리 해두겠습니다 */
/* .downloadCalBox1,
.downloadCalBox2 {
  width: 160px;
  position: relative;
  border: 1px solid #dcdfea;
  background-color: #fff;
  height: 46px;
  padding: 0 28px;
  border-radius: 10px;
}
.downloadInputBox {
  width: 83%;
  height: 99%;
  border: none;
  outline: none;
  color: #000;
  text-align: center;
  font-family: 'Roboto';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} 
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}*/
.downloadCal {
  position: absolute;
  right: 14px;
  top: 13px;
}
.downloadHLine {
  width: 20px;
  height: 1px;
  background-color: #000;
  margin: 0 10px;
}
.downloadFooterBtn {
  display: flex;
  width: 200px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background-color: #2f5dff;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.75px;
}
.downloadDivSelectBox {
  width: 200px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #dcdfea;
  background-color: #fff;
  position: relative;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.downloadInterSelectBox {
  width: 120px;
  height: 46px;
}
