.formWrapper {
  font-family: 'Noto Sans KR';
  display: flex;
  flex-direction: column;
  width: 1200px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
}
.formWrapper2 {
  font-family: 'Noto Sans KR';
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 1457px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
}
.setWidth {
  padding: 0 50px;
}
.formHeader {
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  align-items: baseline;
}
.formTitle {
  color: #2f5dff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 37px;
  text-align: end;
  border-top: 3px solid #2f5dff;
}
.mustInput {
  display: flex;
  gap: 2.66px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-items: center;
}
.inputHeader {
  width: 100%;
  height: 46px;
  border-radius: 10px 10px 0px 0px;
  background: #567bff;
  position: relative;
  display: flex;
  padding-left: 44px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputHeaderDeco {
  position: absolute;
  left: 0;
  border-radius: 10px 30px 30px 0px;
  background: #2f5dff;
  width: 35px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.inputHeaderTitle {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.inputReset {
  display: flex;
  width: fit-content;
  height: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  gap: 3px;
}
.degreeInputWrapper {
  display: flex;
  width: 100%;
  height: 206px;
  margin-top: 20px;
}
.degreeInputName {
  background-color: #f1f3f9;
  display: flex;
  width: 80px;
  height: 206px;
  align-items: center;
  justify-content: center;
  color: #707792;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.degreeInputContainer {
  display: flex;
  flex-direction: column;
}
.degreeInputContainer1 {
  margin: 0 20px;
  width: 482px;
}
.degreeInputContainer2 {
  width: 397px;
  margin-left: 20px;
}
.onelineDegreeInput {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  justify-content: space-between;
}
.onelineDegreeInput > div > span {
  color: #707792;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.twoLineDegreeInput {
  margin-top: 17px;
  height: 77px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.twoLineDegreeInput > span {
  color: #707792;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.twoLineDegreeInput > div > span {
  color: #707792;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.starTip {
  margin-left: 5px;
  margin-bottom: 4px;
}

.flexBox {
  display: flex;
}
/* selectBox */
.degreeSelect1 {
  position: relative;
  border: 1px solid #dcdfea;
  background: #fff;
  height: 46px;
  width: 414px;
  background-color: transparent;
}
.select1Btn {
  /* border-radius: 10px; */
  font-family: 'Noto Sans KR';
  background-color: #fff;
  width: 414px;
  height: 46px;
  border: 1px solid #dcdfea;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  padding-left: 18px;
}
.select1Btn.on {
  background-color: #fff;
  border: 1px solid #2f5dff;
  width: 414px;
  height: 46px;
}
.selectInput1 {
  width: 98%;
  height: 98%;
  border: none;
  z-index: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  outline: none;
  display: none;
}
.selectInput2 {
  width: 50%;
  height: 98%;
  border: none;
  z-index: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  outline: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.selectArrow2 {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 13px;
}

.selectList {
  display: none;
  position: absolute;
  width: 414px;
  height: 275px;
  top: 46px;
  left: 0;
  border: 1px solid #dcdfea;
  background: #fff;
  overflow: auto;
  z-index: 2;
}

.select1Btn.on ~ .selectArrow {
  display: none;
}
.select1Btn.on + .selectList {
  display: block;
}

.selectList li {
  display: flex;
  text-align: left;
  justify-content: center;
  height: 32px;
  box-sizing: border-box;
}

.selectList li button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  color:rgba(0, 0, 0, 0.60);
  position: relative;
  padding-left: 18px;
}

.selectList li button:hover,
.selectList li button:focus {
  background-color: #f1f3f9;
}

.degreeSelect2 {
  width: 307px;
}
.degreeSelect3 {
  width: 108px;
}
.degreeSelect4 {
  width: 118px;
}
.degreeSelect5 {
  width: 93px;
}
.degreeSelect6 {
  width: 319px;
}
.degreeSelect7 {
  width: 397px;
  display: flex;
  padding-left: 18px;
  padding-right: 10px;
}
.degreeSelect8 {
  width: 290px;
}
.degreeSelect9 {
  width: 118px;
}
.degreeSelect10 {
  width: 125px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
}
.degreeSelect11 {
  width: 100px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
}
.degreeSelect12 {
  width: 415px;
}
.degreeSelect13 {
  width: 178px;
}
.degreeSelect14 {
  width: 308px;
}
.degreeSelect15 {
  width: 88px;
}
.degreeSelect16 {
  width: 195px;
  border-radius: 10px;
}
.degreeSelect17 {
  width: 200px;
}
.degreeSelect6 > span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 18px;
}
.degreeSelectBox {
  border: 1px solid #dcdfea;
  background: #fff;
  height: 46px;
  position: relative;
  padding: 0 18px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.50);
}
.inActiveText {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 18px !important;
}
.activeText {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 18px !important;
}
.degreeInput {
  padding: 0 13px;
}
.degreeInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.degreeLineBox {
  display: flex;
  height: 100%;
  align-items: end;
}
.degreeBLine {
  width: 33px;
  height: 1px;
  background-color: #707792;
  margin-bottom: 23px;
}
.stretchBox {
  display: flex;
  justify-content: space-between;
}
.schoolname {
  align-items: center;
}
#nameHover {
  margin-left: 5px;
  position: relative;
  height: fit-content;
}
#nameTooltip {
  display: none;
  position: absolute;
  top: -26px;
  right: -310px;
}
#nameHover:hover #nameTooltip {
  display: block;
  z-index: 1;
}

.basicSecondWrapper {
  display: flex;
  padding: 50px 0;
}
.basicSecondWrapper > div {
  min-height: 397px;
  padding-right: 57px;
  border-right: 1px solid #dcdfea;
}
.basicSecondWrapper > div:nth-child(2) {
  padding: 0 57px;
}
.basicSecondWrapper > div:last-child {
  padding-left: 57px;
  border-right: none;
}
.basicHeaderWidth {
  width: 290px;
  margin-bottom: 28px;
}
.secondInner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.degreeBtn {
  border: 1px solid #707792;
  background: #707792;
  width: 66px;
  height: 46px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.degreeCheckContainer {
  display: inline-flex;
  height: 121px;
  padding: 16px 23px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #f3f6ff;
  gap: 12px;
}
.checkDes {
  color: #707792;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.checkContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: stretch;
}
.singleCheck {
  width: 112px;
  gap: 5px;
  margin-bottom: 9px;
}

.checkIput {
  gap: 5px;
  display: flex;
  align-items: center;
}
.checkIput > span {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #bfc3d1;
  position: relative;
  margin-top: 2px;
  background-color: #fff;
}
input[type='checkbox']:checked + label::after {
  content: '';
  font-size: 25px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2f5dff;
  text-align: center;
  position: absolute;
  left: 3.1px;
  top: 3.1px;
}
.toeicInput {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.toeicInput > span {
  color: #707792;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.searchBox {
  position: relative;
}
.searchIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 13px;
  top: 13px;
}
.qualInput {
  padding-top: 18px;
}
.qualText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 14px 0;
}
.qualBtnBox {
  padding-top: 7.5px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.qualBtn {
  display: flex;
  width: 290px;
  padding: 7px 0px 8px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #dcdfea;
  background: #fff;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.qualBtnActive {
  border-radius: 50px;
  border: 1px solid #2f5dff;
  background: #fff;
  color: #000;
  position: relative;
}
.closeBtn1 {
  position: absolute;
  right: 9px;
}
.refreshBox {
  width: 100%;
  padding-right: 22px;
  text-align: right;
  outline: none;
  border: none;
  background-color: transparent;
}
.refreshBox > span {
  color: #567bff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: 'Noto Sans KR';
}
.contentHLine {
  margin-top: 24px;
  width: 1200px;
  height: 8px;
  background-color: #f1f3f9;
}
.optionInputWrapper {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.optionInputWrapper > div:first-child {
  border-right: 1px solid #dcdfea;
}
.optionInputName {
  display: flex;
  width: 95px;
  height: 172px;
  align-items: center;
  justify-content: center;
  background-color: #f1f3f9;
  color: #707792;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.optionBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 18px;
}
.optionContentBox {
  margin: 0 57px;
  display: flex;
  flex-direction: column;
}
.optionContentBox2 {
  margin-left: 57px;
  display: flex;
  flex-direction: column;
}
.optionTwoLine {
  margin-top: 0px;
  gap: 10px;
  height: fit-content;
  margin-bottom: 20px;
}
.iconHover {
  margin-left: 5px;
  position: relative;
  height: fit-content;
}
.classHover {
  display: none;
  position: absolute;
  top: -26px;
  right: -440px;
}
.compHover {
  display: none;
  position: absolute;
  top: -26px;
  right: -305px;
}
.iconHover:hover .classHover,
.iconHover:hover .compHover {
  display: block;
  z-index: 1;
}

.standard {
  position: relative;
}
.iconTooltip {
  position: absolute;
  top: 5px;
  left: 19px;
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 410px;
  height: 57px;
}
.formFooter {
  width: 1200px;
  height: 145px;
  border-radius: 0px 0px 10px 10px;
  background-color: #f3f6ff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
}
.favoriteBox {
  margin-top: 21px;
  width: 100%;
  gap: 4px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  position: relative;
}
.addfavorite {
  position: fixed;
  bottom: 30px;
  right: 138px;
  border: none;
  background-color: transparent;
  /* display: none; */
  width: 360px;
  height: 200px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
  padding: 19px;
  display: none;
  flex-direction: column;
}
.ftext {
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  text-align: left;
}
.fInputWrapper {
  display: flex;
  align-items: center;
}
.fInputWrapper > span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-right: 12px;
}
.fInputWrapper > input {
  border-radius: 5px;
  border: 2px solid #2f5dff;
  background-color: #fff;
  width: 254px;
  height: 42px;
  padding: 0 13px;
  text-align: center;
}
.fBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
}
.fBtnWrapper > div:first-child {
  display: flex;
  width: 110px;
  height: 41px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dcdfea;
  background: #fff;
  color: #2f5dff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.65px;
}
.fBtnR {
  display: flex;
  gap: 10px;
}
.fBtn {
  display: flex;
  width: 70px;
  height: 41px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.fBtnR > div:first-child {
  border: 1px solid #dcdfea;
  background: #fff;
  color: #2f5dff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.65px;
}
.fBtnR > div:last-child {
  background: #2f5dff;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.65px;
}
.formTotalSearch {
  width: 195px;
  height: 52px;
  border-radius: 10px;
  background-color: #dcdfea;
  border: none;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  margin: 0 auto;
  margin-top: -17px;
}
.footerText {
  padding-top: 24px;
  padding-bottom: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin: 0 auto;
}
.footerText > span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.optionTwoLine2 {
  margin-top: 21px;
  gap: 10px;
  height: fit-content;
  margin-bottom: 20px;
  margin-right: 20px;
}
.saveBtnWrapper {
  width: 1200px;
  display: flex;
  justify-content: right;
  margin-top: 43px;
}
.saveBtn {
  width: 177px;
  height: 52px;
  border-radius: 10px;
  background-color: #24a3ff;
  box-shadow: 0px 2px 15px 0px rgba(74, 91, 151, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 8px;
}
.saveBtn:hover {
  background: #008BEF;
  transition-duration: .2s;
  cursor: pointer;
}
.expectResultWrapper {
  display: flex;
  /* display: none; */
  margin-top: 6px;
  flex-direction: column;
}
.descText {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 16px;
}

.expectTabWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.expectTab {
  width: 300px;
  height: 65px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border-right: 1px solid #f3f6ff;
  background: #e1e5f2;
  color: #707792;
  cursor: pointer;
}
input[name='expectTabs'] {
  display: none;
}
.expectTabWrapper input:checked + .expectTab {
  border-top: 3px solid #2f5dff;
  color: #1d45d2;
  background-color: #fff;
}
.noneBox {
  display: none;
}
#expectResult:checked ~ .expectResult_content,
#effect:checked ~ .effect_content {
  display: flex;
}
.expectResult_content {
  width: 1200px;
  background-color: #fff;
  padding: 50px;
  gap: 20px;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
}
.effect_content {
  width: 1200px;
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
  padding: 50px;
  gap: 100px;
}
.expectContentWrapper {
  display: flex;
  flex-direction: column;
}
.expectContentHeader {
  display: flex;
  position: relative;
}
.lineHeader {
  width: 500px;
  height: 32.882px;
  position: absolute;
  top: 0;
}
.headerContent {
  display: flex;
  gap: 10px;
  width: 500px;
  height: 32.882px;
  align-items: baseline;
  margin-top: 8px;
}
.headerContent > div:first-child {
  color: rgba(0, 0, 0, 0.8) !important;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.headerContent > div:nth-child(2) {
  width: 1px;
  height: 16px;
  background-color: #d1dbff;
}
.headerContent > div:last-child {
  color: #626a86;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.predictBox {
  width: 500px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #f4f6fb;
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.predictBox2 {
  margin-top: 50px;
}
.toeicExpectBox {
  width: 500px;
  padding: 15px 20px 15px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #f4f6fb;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Noto Sans KR';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  margin-top: 40px;
}
.boldSpan {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.redSpan {
  color: #ff6060;
  font-weight: 700;
}
.blueSpan {
  color: #24a3ff;
  font-weight: 700;
}
.deepBlueSpan {
  color: #1d45d2;
  font-weight: 700;
}
.graySpan {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
}
.chartBox {
  width: 100%;
  height: 208px;
  margin-top: 70px;
}
.chartBox1 {
  width: 500px;
  height: 400px;
  padding-bottom: 30px;
}
.charBox2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.statusSearchBtn {
  width: 500px;
  height: 52px;
  border-radius: 50px;
  background-color: #2f5dff;
  box-shadow: 0px 2px 15px 0px rgba(74, 91, 151, 0.3);
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.statusSearchBtn:hover {
  cursor: pointer;
  background-color: #1D45D2;
  transition-duration: .2s;
}
.boxGap {
  gap: 100px;
}
.headerText1 {
  color: rgba(0, 0, 0, 0.8) !important;
font-size: 22px !important;
  font-style: normal;
  font-weight: 350 !important;
  line-height: normal;
}
.headerText2 {
  color: rgba(0, 0, 0, 0.60);
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.compSearchExpectSelectBtn1,
.compSearchExpectSelectBtn2,
.compSearchExpectSelectBtn3,
.compSearchExpectSelectBtn4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff;
}
.compSearchExpectSelectBtn1.on,
.compSearchExpectSelectBtn2.on,
.compSearchExpectSelectBtn3.on,
.compSearchExpectSelectBtn4.on {
  border-radius: 0px;
  border: 1px solid #2f5dff;
}
.compSearchExpectSelectList1,
.compSearchExpectSelectList2,
.compSearchExpectSelectList3,
.compSearchExpectSelectList4 {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 415px;
  height: fit-content;
  top: 45px;
  left: 0;
  border-radius: 0px;
  border-top: 1px solid #2f5dff;
  border-left: solid #dcdfea;
  border-right: solid #dcdfea;
  border-bottom: solid #dcdfea;

  background: #fff;
  overflow: hidden;
  z-index: 2;
}
.compSearchListStyle1 {
  width: 195px;
  height: 506px;
  flex-direction: row;
  flex-wrap: wrap;
}
.compSearchListStyle2 {
  width: 195px;
  height: 414px;
  flex-direction: row;
  flex-wrap: wrap;
}
.compSearchListStyle1 > li,
.compSearchListStyle2 > li {
  width: 96px !important;
}
.compSearchListStyle1 > li > button,
.compSearchListStyle2 > li > button {
  padding-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.compSearchExpectSelectBtn1.on + .compSearchExpectSelectList1,
.compSearchExpectSelectBtn2.on + .compSearchExpectSelectList2,
.compSearchExpectSelectBtn3.on + .compSearchExpectSelectList3,
.compSearchExpectSelectBtn4.on + .compSearchExpectSelectList4 {
  display: flex;
}
.compSearchExpectSelectList1 li,
.compSearchExpectSelectList2 li,
.compSearchExpectSelectList3 li,
.compSearchExpectSelectList4 li {
  display: flex;
  text-align: left;
  justify-content: center;
  height: 46px;
  box-sizing: border-box;
  width: 415px;
}

.compSearchListLeft {
  border-right: 1px solid #F1F3F9;

}

.compSearchExpectSelectList1 li button,
.compSearchExpectSelectList2 li button,
.compSearchExpectSelectList3 li button,
.compSearchExpectSelectList4 li button {
  width: 415px;
  height: 46px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.50);
  border-bottom: 1px solid #F1F3F9;
}

.compSearchExpectSelectList1 li button:hover,
.compSearchExpectSelectList1 li button:focus,
.compSearchExpectSelectList2 li button:hover,
.compSearchExpectSelectList2 li button:focus,
.compSearchExpectSelectList3 li button:hover,
.compSearchExpectSelectList3 li button:focus,
.compSearchExpectSelectList4 li button:hover,
.compSearchExpectSelectList4 li button:focus {
  background-color: #f1f3f9;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.80);

}

.selectArrow3 {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 13px;
  z-index: 3;
}