.searchModalBack {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.commonModalBack {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center !important;
}

.favorModalBack {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.howModalBack {
  width: 100%;
  height: 2010px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.howModalBack::-webkit-scrollbar {
  display: none;
}
.commonModal {
  width: 1000px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.searchModal {
  width: 1000px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.searchModalHeader {
  width: 1000px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  padding: 33px 36px 40px 36px;
  justify-content: space-between;
  background-color: #f1f3f9;
}
.searchModalFooter {
  width: 1000px;
  display: none;
  flex-direction: column;
}
.searchFooterLine1 {
  height: 48px;
  padding-left: 40px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e7;
}
.searchFooterLine1 > div > div {
  color: #2f5dff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-left: 14px;
}
.searchFooterLine1 > div {
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.searchFooterLine2 {
  height: 46px;
  padding-left: 40px;
  padding-right: 30px;
  border-bottom: 1px solid #e6e6e7;
  display: flex;
  color: rgba(0, 0, 0, 0.80);

  gap: 37px;
  align-items: center;
}
.searchFooterLine2 > input {
  display: none;
}
input[type='checkbox2'] + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 2px solid #dcdfea;
  background: #fff;
  position: relative;
}
.searchModalTitle {
  color: #1d45d2;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.flexBox2 {
  display: flex;
  height: 100%;
}
.flexBox3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBtn2 {
  display: flex;
  width: 108px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #2f5dff;
  border: none;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
}
.searchBtn2:hover {
  background: #1D45D2;
  cursor: pointer;
  transition-duration: .2s;
}
.selectBtn2 {
  display: flex;
  width: 200px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #2f5dff;
  margin: 40px auto;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  border: none;
}

.selectBtn2:hover {
  background: #1D45D2;
  cursor: pointer;
  transition-duration: .2s;
}

.totalText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.favorInputBox {
  width: 460px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #dcdfea;
  background: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.favorInputSelct {
  width: 130px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorInputLine {
  width: 1px;
  height: 30px;
  background-color: #dcdfea;
  margin: auto 0;
}
.favorInput {
  width: 328px;
  height: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding: 0 20px;
}
.searchBtn3 {
  display: flex;
  width: 86px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #2f5dff;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.75px;
  margin-left: 10px;
}
.favorModalFooter {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.favorFooterLine1 {
  height: 49px;
  padding-left: 40px;
  padding-right: 30px;
  border-bottom: 1px solid #e6e6e7;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.favorFooterLine1 > input {
  display: none;
}

.favorFooterLine1.active {
  background: #567bff;
}

.favorFooterLine1.active div {
  color: #fff;
}

.LineTitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.LineNo {
  color: #bfc3d1;
  font-family: 'inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.LineNo2 {
  color: #bfc3d1;
  font-family: 'inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.LineFavName {
  width: 239px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.LineUnivName {
  width: 210px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.LineMajorName {
  width: 295px;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.LineTime {
  width: 149px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.LineTimeTitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titleNO {
  margin-right: 34px;
}

.modalPage1,
.modalPage2,
.modalPage3,
.modalPage4,
.modalPage5 {
  display: flex;
  width: 1200px;
  flex-direction: column;
  padding-top: 18px;
}
.leftDes1 {
  width: 284px;
  height: 80px;
  color: #dcdfea;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.grayLeftDesc1 {
  font-weight: 400;
}
.controllerBox {
  display: flex;
  gap: 6px;
  margin-left: -220px;
}
.controllers {
  display: flex;
  width: 100px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  border: none;
  padding: 15px 24px;
}
.controllers2 {
  display: flex;
  width: 178px;
  height: 54px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  border: none;
  padding: 15px 24px;
  border-radius: 10px;
  background: #2f5dff;
  color: #fff;
  margin-top: 13px;
  margin-left: 20px;
}

.prevBtn {
  border-radius: 30px 0px 0px 30px;
  background: #bfc3d1;
  color: #dcdfea;
}
.activePrev {
  border-radius: 30px 0px 0px 30px;
  background: #2f5dff;
  color: #fff;
}
.nextBtn {
  border-radius: 0px 30px 30px 0px;
  background: #2f5dff;
  color: #fff;
}
.inActiveNext {
  border-radius: 0px 30px 30px 0px;
  background: #bfc3d1;
  color: #dcdfea;
}

.sampleSelectBox {
  width: 174px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #dcdfea;
  background: #fff;
  margin-top: 100px;
  margin-bottom: 11px;
}
.sampleSelectBox > span {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rightDes1 {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.alignRight {
  display: flex;
  flex-direction: column;
  align-items: end;
}
input[name='searchTabs2'],
input[name='searchTabs3'] {
  display: none;
}
.sampleTabs {
  margin-top: 185px;
}
.sampleTabs > div {
  position: relative;
}
.sampleActiveTab {
  color: #fff;
  background: #2f5dff;
  box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
  position: relative;
}
.sampleInactiveTab {
  color: #3955b8;
  background: #d1dbff;
  position: relative;
}
.leftDeco1 {
  position: absolute;
  top: 60px;
  left: 90px;
  align-items: end;
  gap: 10px;
}
.leftDeco1 > div:first-child {
  width: 30px;
  height: 122.5px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.DecoText2 {
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-left: 19px;
}
.DecoText3 {
  margin-bottom: -20px;
}
.RightDeco2 {
  position: absolute;
  top: 60px;
  left: 300px;
  align-items: end;
  gap: 10px;
}
.RightDeco2 > div:first-child {
  width: 30px;
  height: 59px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.sampleSearchTags {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
  margin-left: 62px;
}

.tagsBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.tagsText {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  gap: 14px;
  margin-top: 49px;
}
.titleMargin1 {
  margin-right: 209px;
}
.titleMargin2 {
  margin-right: 293px;
}
.titleMargin3 {
  margin-right: 211px;
}

.tabText1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  margin-left: 19px;
}
.sampleTabs2 {
  margin-left: 196px;
}
.colBox {
  display: flex;
  flex-direction: column;
}
.compSearchText1 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin-top: 46px;
  margin-bottom: 12px;
}
.totalWrapper2 {
  display: none;
}
.compSearchAlign1 {
  margin-left: 56px;
}
.compSearchBar {
  gap: 20px;
  position: relative;
}
.compSearchArrow {
  position: absolute;
  right: 38px;
  top: 24px;
}
.compImg {
  margin-top: 74px;
}
.compSearchText2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  margin-top: 10px;
}
.alignModal5 {
  width: 100%;
}
.sampleTextBox2 {
  width: 97.6px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-left: 10px;
  margin-top: 8px;
}
.sampleTextBox3 {
  width: 160px;
}
.sampleTextBox4 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.sampleButtonBox {
  justify-content: right;
  gap: 10px;
  margin-top: 100px;
}
.sampleReset {
  justify-content: right;
  gap: 9px;
  margin-top: 125px;
}
.sampleSearchBtnBox {
  margin-top: 525px;
  justify-content: center;
  align-items: center;
}

/* selectBox */
.compSearchModalSelectBtn1,
.compSearchModalSelectBtn2,
.compSearchModalSelectBtn3,
.compSearchModalSelectBtn4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: #fff;
}
.compSearchModalSelectBtn1.on,
.compSearchModalSelectBtn2.on,
.compSearchModalSelectBtn3.on,
.compSearchModalSelectBtn4.on {
  border-radius: 10px;
  border: 1px solid #2f5dff;
}
.compSearchModalSelectList1,
.compSearchModalSelectList2,
.compSearchModalSelectList3,
.compSearchModalSelectList4 {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 195px;
  height: fit-content;
  top: 51px;
  left: 0;
  border-radius: 10px;
  border: 1px solid #dcdfea;
  background: #fff;
  overflow: hidden;
  z-index: 2;
}
.compSearchListStyle1 {
  width: 195px;
  height: 506px;
  flex-direction: row;
  flex-wrap: wrap;
}
.compSearchListStyle2 {
  width: 195px;
  height: 414px;
  flex-direction: row;
  flex-wrap: wrap;
}
.compSearchListStyle1 > li,
.compSearchListStyle2 > li {
  width: 96px !important;
}
.compSearchListStyle1 > li > button,
.compSearchListStyle2 > li > button {
  padding-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.compSearchModalSelectBtn1.on + .compSearchModalSelectList1,
.compSearchModalSelectBtn2.on + .compSearchModalSelectList2,
.compSearchModalSelectBtn3.on + .compSearchModalSelectList3,
.compSearchModalSelectBtn4.on + .compSearchModalSelectList4 {
  display: flex;
}
.compSearchModalSelectList1 li,
.compSearchModalSelectList2 li,
.compSearchModalSelectList3 li,
.compSearchModalSelectList4 li {
  display: flex;
  text-align: left;
  justify-content: center;
  height: 46px;
  box-sizing: border-box;
  width: 195px;
}

.compSearchListLeft {
  border-right: 1px solid #F1F3F9;

}

.compSearchModalSelectList1 li button,
.compSearchModalSelectList2 li button,
.compSearchModalSelectList3 li button,
.compSearchModalSelectList4 li button {
  width: 195px;
  height: 46px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.80);
  border-bottom: 1px solid #F1F3F9;
}

.compSearchModalSelectList1 li button:hover,
.compSearchModalSelectList1 li button:focus,
.compSearchModalSelectList2 li button:hover,
.compSearchModalSelectList2 li button:focus,
.compSearchModalSelectList3 li button:hover,
.compSearchModalSelectList3 li button:focus,
.compSearchModalSelectList4 li button:hover,
.compSearchModalSelectList4 li button:focus {
  background-color: #f1f3f9;
  font-weight: 700;
}

.selectArrow3 {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 13px;
  z-index: 3;
}

.formWrapper.howTo {
  background: none;
  box-shadow: none;
  margin-top: 180px;
}

.basicSecondWrapper.howTo {
  margin-top: 216px;
}

.setWidth.howTo {
  margin-top: 79px;
}

.degreeInputWrapper.howTo {
  margin-top: 79px;
  margin-left: 3px;
}

.secondInner.howTo {
  margin-top: 43px;
  margin-lefT: 3px;
}

.secondInner.howTo.Second {
  margin-top: 43px;
  margin-lefT: 0px;
}

.formTitle.howTo {
  margin-left: 3px;
}

.degreeInputWrapper.howTo.Second {
  margin-left: 80px;
  margin-top: 189px;
}

.degreeInputContainer.degreeInputContainer2.howTo {
  margin-left: 100px;
}

.basicSecondWrapper.howTo.Second {
  margin-top: 29px;
  margin-left: 0px;
}

.twoLineDegreeInput.howTo {
  margin-left: 1px;
  margin-top: 15px;
}

.degreeCheckContainer.howTo {
  width: 292px;
}

.qualHowTo {
  display: flex;
  justify-content: flex-end;
  margin-top: 330px;
}

.rightDes1.howTo01 {
  margin-top: 73px;
  margin-right: 10px;
}

.rightDes1.howTo02 {
  margin-top: 25px;
  margin-right: 10px;
}

.rightDes1.howTo03 {
  margin-top: 78px;
  margin-right: 10px;
}

.colBox.howTo {
  flex-direction: row;
}

.sampleTextBox2.howTo {
  width: unset;
  padding-right: 10px;
}


.favorite.howTo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  margin-top: 100px;
}

.selectOpt {
    width: 125px;
    height: 42px;
    border: 0px;
    text-align: center;
}