
/*
update : 20230731 daehong.min

기업 취업 현황(status) 관련 css 추가/수정 사항 모음
*/

/*
display : flex
*/
.displayFlex {
    display: flex;
}

/*
회사명 검색
*/
.searchBoxWrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.compNameSearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 52px;
    border-radius: 0px;
    border: 1px solid #dcdfea;
    background-color: #fff;
    padding-left: 18px;
    outline: none;
    align-items: center;
}

.compNameSearchBar>input {
    outline: none;
    border: none;
    width: 100%;
    height: 90%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.compNameSearchBar>div {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 90%;
    display: flex;
    margin: 0;
    padding: 0;
}

.compNameSearchBar>div>.searchingIcon {
    position: relative;
    padding: 3px;
    right: 40%;
}

.no_companyinfo {
    text-align: center;
    color: red;
}

/*
툴팁
*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltipimg {
    position: relative;
    top: 3px;
    left: 2px;
}

.tooltip .tooltiptext {
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 99;

    width: 420px;

    visibility: hidden;
    background-color: #293352;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: -320px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 76.8%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #293352 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*
검색 조건 도움말 툴팁
*/
.tooltip.compSearchByCond > .tooltiptext,
.tooltip.compSearchByName > .tooltiptext {
    background-color: #293352;
    left: 200px;
    width: 600px;
}

.tooltip.compSearchByCond > .tooltiptext::after,
.tooltip.compSearchByName > .tooltiptext::after {
    left: 128px;
    border-color: transparent transparent #293352 transparent;
}

/*
select 디자인
*/
select {
    appearance: none;
    position: relative;
    width: 180px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid #dcdfea;
    /*padding: 0 30px;*/
    display: flex;
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    background: url("../images/dropdownBtn2.svg") no-repeat right 0px center;
    margin-left: 0%;
    text-align-last:center;
    text-align:center;
}

select:disabled {
    opacity: 0.3;
}

select:hover {
    border: 2px solid #2F5DFF;
}

select.compCondSelectCompType,
select.compCondSelectIndType,
select.compCondSelectCompPersonSize,
select.compCondSelectCompArea,
select.compCondSelectJobtype {
    background-color: #e6e9f5;
    margin: 2px;
}

/*
날짜 선택 입력 요소 디자인 수정
*/
input[type=date] {
    appearance: none;
    position: relative;
    width: 130px;

    height: 46px;
    border-radius: 10px;
    border: 1px solid #dcdfea;
    background-color: #fff;
    padding: 0 30px;

    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    background: url("../images/calendarIcon2.svg") no-repeat right 10px center;
    margin-left: 0%;
    padding-left: 0%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}


/* 드롭다운 버튼 목록의 결과에 스크롤 보이도록 수정 */
.compSearchModalSelectList1.scrollEnabled,
.compSearchModalSelectList2.scrollEnabled,
.compSearchModalSelectList3.scrollEnabled,
.compSearchModalSelectList4.scrollEnabled {
    width: 210px;
    height: 300px;
    overflow: auto;
    scroll-behavior: auto;
}

.searchModal.compSearchByCondModal {
    position: absolute;
    top: 60px;
    width: 1000px;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* 기업 검색 결과가 많은 경우 적당한 크기에서 스크롤추가 */
.searchModalFooter.scrollEnabled {
    display: flex;
    /*height: 300px;*/
    overflow: auto;
    scroll-behavior: auto;
}

/* 20231113 수정. 연관 회사는 스크롤바 보이지 않기 */
.searchModalFooter.scrollEnabled_related {
    display: flex;
    /*height: 300px;*/
    overflow: unset;
    scroll-behavior: unset;
}


/* 기본 라디오 버튼은 숨김 */
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
}

/* 새 라디오 버튼 디자인 */
.checkmark {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid #dcdfea;
    background: #fff;
    vertical-align: auto;
}

/* 마우스가 올라간 라디오 버튼 색상 */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* 체크된 라디오 버튼의 색 */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/*
회사명 검색 버튼
`search.css`의 `.searchBtn` 과 같음
 */
.searchLower>button {
    width: 195px;
    height: 52px;
    border-radius: 10px;
    background: #2f5dff;
    border: none;
    box-shadow: 0px 2px 20px 0px rgba(74, 91, 151, 0.3);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.searchLower>button:hover {
    background: #1D45D2;
    transition-duration: .2s;
    cursor: pointer;
}

/*
"회사명 검색" > "회사명" 툴팁
*/
.tooltip>.tooltiptext.companyTextSearching {
    width: 500px;
    font-size: 0.6em;
    top: -45%;
    left: 350px;
}

.tooltip>.tooltiptext.companyTextSearching::after {
    bottom: 20%;
    left: -5px;
    border-color: transparent #2f5dff transparent transparent;
}


/*
chart title
*/
.chartTitle {
    position: relative;
    top: 0%;
    left: -5%;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.activeSingleCompList:hover,
.activeSingleCompList.selected,
.singleCompList:hover,
.singleCompList.selected {
    border: 2px solid #2F5DFF;
}

/*
결과 차트
*/
.resultContentWrapper {
    display: flex;
    width: 100%;
    min-height: 623px;
    align-items: center;
    padding: 0px 50px 0px 50px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(74, 91, 151, 0.1);
    flex-direction: column;
    align-content: center;
}

.shortSingleDegree {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.expectContentWrapper {
    display: flex;
    flex-direction: column;
}

.leftItem {
    position: relative;
    left: 0px;
}

.rightItem {
    position: relative;
    margin-left: 7%;
}

.chartBox1 {
    width: 500px;
    height: 400px;
    padding-bottom: 0px;
}

.chartBox1>.overseaPieChart {
    overflow: visible;
    margin-left: -10%;
}

.expectContentWrapper>.flexBox2 {
    width: 1100px;
}

.donutChartResult {
    text-align: center;
}

.expectContentWrapper>.chartBox1>.donutChartResult {
    width: 100%;
    height: 100%;
}

.resultContentWrapper>.conpLWRapper>.doChartBox1>.donutChartResult {
    width: 500px;
    height: 100%;
}

.flexBox2>.doChartBox2.doChartBox1>.donutChartResult {
    width: 100%;
    height: 100%;
}

.donutChartResult+.donutChartCenterText {
    position: absolute;
    top: 220px;
    left: 208px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Inter';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.donutChartResult+.donutChartCenterText2 {
    position: absolute;
    top: 220px;
    left: 222px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Inter';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.donutChartResult+.donutChartCenterText3 {
    position: absolute;
    top: 186pxpx;
    left: 194px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Inter';
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*
결과 그래프 제목
*/
.expectContentHeader {
    display: flex;
    position: relative;
    flex-direction: column;
}

.headerContent {
    display: flex;
    gap: 10px;
    height: 32.882px;
    align-items: baseline;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

.headerContent.scoreContentHeader {
    justify-content: flex-start;
    margin-top: 3%;
}

.headerText2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.deepBlueSpan {
    color: #1d45d2;
    font-weight: 700;
}

.graySpan {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 400;
}

.headerContent>div:first-child {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lineHeaderCompStatus {
    width: 1100px;
    height: 17.882px;
    margin-top: 4%;
    margin-bottom: -2%;
}

.resultCompanyPieAndList {
    display: flex;
    width: 99.6%;
    flex-direction: row;
    flex-wrap: wrap;
}

/*
결과 데이터 목록
*/
.resultListNoData {
    height: 260px;
    vertical-align: baseline;
    line-height: 180px;
    text-align: center;
}

.flexBox2>.resultDataListWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.resultDataTab {
    display: flex;
    width: 110px;
    height: 35px;
}

.resultDataTab:hover {
    background: #90a6f5;
    color: #fff;
}

.resultDataTab.on {
    background: #2f5dff;
    color: #fff;
}

.resultDataTab>a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.resultDataTab>a>span {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 25%;
}

.resultDataContent:hover {
    cursor: auto;
}

.resultDataContent>div:last-child {
    /*color: rgba(0, 0, 0, 0.6);*/
    width: 130px;
    text-align: right;
    font-size: 14px;
    /*font-weight: 400;*/
}

/*
[ 공통 스타일 ] 결과 데이터 안내 문구
*/
.colWrapper.resultContentWrapper>.result_content_header {
    display: block;
    position: relative;
    top: 20px;
    width: 100%;
    font-size: 16px;
    color: red;
}

/*
[ 공통 스타일 ] 결과 탭 스타일
*/
.resultTabWrapper input:checked+.resultTab {
    border-top: 3px solid #2f5dff;
    color: #1d45d2;
    background-color: #fff;
}

.resultTab {
    flex-grow: 1;
    /*width: 200px;*/
    height: 65px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-right: 1px solid #f3f6ff;
    background: #e1e5f2;
    color: #707792;
    cursor: pointer;
}

.blockBox {
    display: none;
}

/* 특성 정보 결과 */
.characterInfoContent {
    width : 100%;
}

/*
꼬리말
*/
.footerWrapper {
    display: flex;
    width: 1200px;
    height: fit-content;
    margin-top: 39px;
    margin-bottom: -14px;
    justify-content: right;
}

.footerWrapper.normal {
    margin-top: 50px;
}

/*
회사 목록 css를 사각형 라디오 선택지로 활용하기 좋게 다시 제작

디자인의 `checkbox2` 는 동작하지 않음
*/
.companyList {
    height: 46px;
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
    border-bottom: 1px solid #e6e6e7;
    display: flex;
    color: rgba(0, 0, 0, 0.80);

    gap: 37px;
    vertical-align: auto;
}

.companyNo {
    color: #bfc3d1;
    font-family: 'inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin-right: 50px;
}

.companyName {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.2fr;
    gap: 1px;
    width: 100%;
}

.companyType {
    padding-top: 0px;
    text-align: left;
}

.companySize {
    padding-top: 0px;
    text-align: left;
}

/* 회사 목록 컨테이너 */
.companyList>.container {
    display: flex;
    position: relative;
    padding-left: 38px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 텍스트 검색 회사 목록 */
.CompanySearchTextDropDown {
    position: relative;
    border: 2px solid #cccfd9;
    top: 1%;
}

.CompanySearchTextItems {
    border: 1px solid #dcdfea;
    background-color: #fff;
    padding: 5px;
    outline: none;
    display: flex;
    flex-direction: column;
}

.CompanySearchTextItems:hover {
    border: 1px solid #a0b3f7;
}

.CompanySearchTextDropDownItem {
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #fff;
    padding-left: 2%;
    text-align: left;
}


/*
기업 현황

`job_ui.css`에 기본이 정의되어 있고, 새 UI를 위해 이곳에서 미세 조정함
*/
#companyStatus_content .status_summary {
    position: relative;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

#companyStatus_content .status_summary > h2 {
    position: relative;
    width: 100%;

    margin: 20px 20px 20px 20px;
    color: rgba(0, 0, 0, 1);
    font-size: 22px;
    font-weight: 600;
}

#companyStatus_content .status_summary > div {
    color: rgb(115, 0, 255);
    margin-left: -2px;
    margin-right: 29px;
}

#companyStatus_content .status_summary > div > h3 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;

    margin-top: 20px;
}

#companyStatus_content .status_summary > div > .h_company {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    padding-left: 0px;
    padding-right: 20px;
}

#companyStatus_content .status_summary > div > .h_company dt,
#companyStatus_content .status_summary > div > .h_company dd {
    display: inline-block;
}

#companyStatus_content .status_summary > div > .h_company dd {
    padding-left: 7px;
    color: #677ad4;
}
#companyStatus_content .status_summary > div > .h_company dd::after {
    content: ":";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    color: #000;
}

.status_summary_chart_wrap {
    padding-top: 20px;
}

.status_summary_chart_wrap > .h_company_chart_bx>.h_company_chart {
    position: relative;
    width: 500px;
}

.status_summary_chart_wrap > .h_company_chart_bx>.h_company_chart>h3 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.status_summary_chart_wrap > .h_company_chart_bx>.h_company_chart.bottom_alone {
    width: 100%;
}

#companyStatus_content .status_summary > h3.footer_DataRef {
    color: red;
    font-size: 0.8em;
    text-align: right;
    margin: 50px;
}

/*
취업현황 요약
*/
#employment_total {
    display: block;
    width: 100%;
    font-weight: 500;
    margin-right: 0px;
    padding-right: 0px;
}

#employment_status_summary_rows {
    display: flex;
    flex-direction: row;
}

.statusGaugeBar {
    width: 260px;
    height: 20px;
    border-radius: 10px;
    background: #ffffff;
    margin-top: 0px;
}

.statusGaugeBar>input::after {
    display: flex;
    width: 100px;
}

.statusGaugeBar>.range-slider__range {
    position: relative;
    width: 100%;
}

.statusGaugeBar>.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f5dff;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.statusGaugeBar>.range-slider_pointer {
    position: absolute;
    display: flex;
    align-items: flex-start;
    top: 40px;
    flex-direction: column;
    justify-content: center;
}

.rangeSliderBubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 7px;
}

.statusGaugeBar>.range-slider_pointer>.rangeSliderBubble>span {
    position: absolute;
    width: 100%;
    top: 11px;
    left: -0px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.statusGauageGroup {
    top: 50%;
}

/*
최종학력
*/
#degree_content.blockBox>.colWrapper.resultContentWrapper>.singleDegree {
    margin-top: 5%;
    margin-bottom: 0%;
}

/*
자격정보
*/
.chartBox1>#toeic_chart,
.chartBox1>#grade_chart {
    position: relative;
    padding-top: 5%;
    width: 100%;
    height: 100%;
}

/*
특성정보
*/
.chartBox1 #overseaChart {
    position: relative;
    padding-top: 5%;
    width: 100%;
    height: 100%;
}

.chartBox1 #internChart {
    position: relative;
    padding-top: 15%;
    width: 100%;
    height: 100%;
}

.chartBox1 #transferChart {
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 100%;
}

.chartBox1 #teachChart {
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 100%;
}


/*
사용현황 통계 다운로드
*/
.downloadModalStatus {
    position: absolute;
    top: 60px;
    width: 841px;
    height: fit-content;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.downloadModalBackStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.downloadFlex>.statisticsDownloadType {
    width: 200px;
}

.downloadFlex>.statisticsDownloadInterval {
    width: 120px;
}

/*
날짜 선택 입력 요소 디자인 수정
*/
input[type=date] {
    appearance: none;
    position: relative;
    width: 130px;

    height: 46px;
    border-radius: 10px;
    border: 1px solid #dcdfea;
    background-color: #fff;
    padding: 0 30px;

    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    background: url("../images/calendarIcon2.svg") no-repeat right 10px center;
    margin-left: 0%;
    padding-left: 0%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

.headerBtnIcon {
    height: 35px;
}

.headerArrowIcon {
    height: 15px;
}

.flexBox {
    display: flex;
}

.degreeSelectBox {
    border: 1px solid #dcdfea;
    background: #fff;
    position: relative;
    height: 46px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.50);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/dropdownBtn2.svg);
    /* background-size: 18px 18px; */
    background-repeat: no-repeat;
    background-position: right 11px center;
}


.selectArrow3 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 7.5%;
    top: 13px;
    z-index: 3;
}

.degreeSelect16 {
    position: relative;
    width: 160px;
    border-radius: 10px;
}

.useDegreeSelectBox {
    border: 1px solid #dcdfea;
    background: #fff;
    height: 46px;
    position: relative;
    padding: 0 18px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.50);
}

.blueSpan {
    color: #24a3ff;
    font-weight: 700;
}

.selectArrow2 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 13px;
}

.pointer {
    cursor: pointer;
}

/*
Modal 팝업
*/
/* "회사 조건 검색하기" 팝업 */
.searchModalBack.compSearchModalBack {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* "연관 회사 목록 보기" 팝업 */
.searchModalBack.compRelListModalBack {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/* "사용현황 통계 다운로드" 팝업 */
.downloadModalBackStatus {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

/*
연관 기업 목록의 기준 회사명 표시
*/
.compRelListModal h2 {
    font-size: 2em;
    font-weight: 600;
}


/*
학과(계열)
*/
.deptHeader {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

.deptHeader>h2 {
    font-size: 1em;
    text-align: center;
}

.deptHeader>.tooltip {
    margin-top: 2%;
    left: 5%;
}

.deptHeader>.tooltip>.academicSubjectType {
    font-size: 0.6em;
}

input[name="deptCategorySelection"]{
    display: none;
}

.deptCategoryButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
    z-index: 4;
    gap: 5px;
}

input:checked+.deptCategoryBtn {
    border: 3px solid #2f5dff;
    color: #1d45d2;
    background-color: #fff;
}
input:hover+.deptCategoryBtn {
    border: 3px solid #2f5dff;
    color: #1d45d2;
}

.deptCategoryBtn {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    border-right: 1px solid #f3f6ff;
    background: #e1e5f2;
    color: #707792;
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
}

.tooltip>.academicSubjectType {
    width: 800px;
    left: 200px;
    top: 40px;
}

.tooltip>.academicSubjectType::after {
    left: 131px;
}

.univDepts {
    height: 100%;
}
.univDepts~select[disabled]  {
    height: 100%;
}
.univDepts~select[disabled]:hover  {
    border: 1px solid #ccc;
}

/*
기업조건별 검색에서 다중 선택을 하기 위한 조정
focus 이벤트
*/
.singleTags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.tagTitle {
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tag {
    display: flex;
    align-items: center;
    border: 1px solid #dcdfea;
    background: #f1f3f9;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.cateTag {
    width: 100%;
    height: 54px;
    padding-right: 5px;
    padding-left: 5px;
}

.tag:focus {
    border: 1px solid #dcdfea;
    background: #f1f3f9;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
}

.tag:hover {
    border: 1px solid #2f5dff;
    background-color: rgba(47, 93, 255, 0.2);
    color: #413eff;
    transition-duration: .2s;
    font-weight: 700;
}

.tag.on {
    border: 1px solid #2f5dff;
    background-color: rgba(47, 93, 255, 0.2);
    color: #413eff;
}

#check1:checked .cateTag {
    border: 1px solid #2f5dff;
    background-color: rgba(47, 93, 255, 0.2);
    color: #413eff;
}

b {
    /* width: fit-content; */
    height: 410px;
    padding: 0%;
    margin: 0%;
}

.locaWrapper {
    width: 166px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.locaTag {
    position: relative;
    width: 48.5%;
    margin-right: 0;
    margin-bottom: 0px;
}

.longTag {
    width: 100% !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.divTag {
    position: relative;
    width: 32%;
    margin-right: 0;
}

.scaleTag {
    position: relative;
    width: 115%;
    left: -8%;
    margin-left: 2px;
    margin-right: 2;
}

.jobtypeSelectionBox {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    /*width: 250px;*/
}

.jobTypeTag {
    position: relative;
    height: 35px;
    /*min-width: 105%;*/
    padding: 5px;
    margin-bottom: 6px;
}

.compPerSizeBtn {
    width: 100px;
    height: 19%;
}

/*
도움말
*/
.titleMargin1 {
    margin-right: 112px;
}
.titleMargin2 {
    margin-right: 220px;
}
.titleMargin3 {
    margin-right: 89px;
}
.titleMargin4 {
    margin-right: 140px;
}

/*
강조 문자
*/
span.redtext {
    color: red;
}

/*
회사명 문자열 검색
*/
#companyTextSearchInput {
    display: none;
    position: relative;
    border: none;
    top: -85%;
    left: -2%;
}

.custom-multiselect .multiselect__placeholder {
  text-align: center;
  width: 130%;
  padding-top: 7px;
}

.custom-multiselect .multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 4px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
}

.custom-multiselect .multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: #41b883;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    height: 29px;
    font-size: 18px;
}

.red-color {
  color: red;
}

.red-background {
  background-color: red;
}

.tooltip .tooltiptext2 {
    position: absolute;
    top: 150%;
    left: 50%;
    z-index: 99;

    width: 420px;

    visibility: hidden;
    background-color: #293352;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: -320px;
}

.tooltip .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 29.8%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #293352 transparent;
}

.tooltip:hover .tooltiptext2 {
    visibility: visible;
}