<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpSurveyMapper">

	<select id="searchSurveyList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			SURVEY_CODE
			, SURVEY_TITLE
			, '10' TAR_CNT
			, '3' ANS_CNT
		FROM
			TMCM_SURVEY_MAIN
		WHERE
			SURVEY_STATUS='1'		
	</select>
	
</mapper>