<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CmFileManagerMapper">
	
	<select id="selectFiles" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT 
           		ATT_IDT_NO, ATT_SEQ, SAVE_FILE_NAME, REAL_FILE_NAME, SAVE_PATH, FILE_SIZE
           	FROM		 
			<if test='kindCd == "BOARD"'>  
				TMHP_BOARDFILE		
			</if>
			<if test='kindCd == "SURVFILE"'>  
				TMAD_SURVFILE			
			</if>
			WHERE ATT_IDT_NO = #{ATT_IDT_NO} 
			<if test="SAVE_FILE_NAME != null">
				AND SAVE_FILE_NAME = #{SAVE_FILE_NAME} 
			</if>
	</select>	
	
	<select id="selectSurvFiles" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT 
           		A.ATT_IDT_NO, A.ATT_SEQ, A.SAVE_FILE_NAME, A.REAL_FILE_NAME, A.SAVE_PATH, A.FILE_SIZE
           	FROM TMAD_SURVFILE A, TMAG_EVDDOC T1		
			WHERE T1.SURVSEQ = #{SURVSEQ} 
			AND T1.SURVKINDCD = #{SURVKINDCD} 
			AND T1.SCHCD = #{SCHCD} 
			AND T1.ORGCD = #{ORGCD} 
			AND A.ATT_IDT_NO = T1.ATT_IDT_NO 
			AND A.ATT_SEQ = T1.ATT_SEQ 			 
	</select>
		
	<delete id="deleteFile" parameterType="java.util.Map">
			DELETE FROM	TMAD_SURVFILE			
			WHERE  SAVE_FILE_NAME = #{SAVE_FILE_NAME} 	
	</delete>	
			
	<delete id="deleteFileByAttid" parameterType="java.util.Map">
			DELETE FROM	TMAD_SURVFILE			
			WHERE ATT_IDT_NO = #{ATT_IDT_NO}
			AND ATT_SEQ = #{ATT_SEQ}	
	</delete>			
	
</mapper>