<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CmLogMapper">

 	<!-- weblog -->
	<insert id="insertWebLog" parameterType="java.util.Map" >
		    <selectKey resultType="int" keyProperty="SEQ" order="BEFORE">
		        SELECT NVL(MAX(SEQ),0)+1 SEQ FROM TMAD_LOGWEB        
		    </selectKey> 	
			INSERT INTO TMAD_LOGWEB 
			( 
				SURVSEQ
				,SURVKINDCD
				,SEQ
				,USERID
				,USERGRPTYPE
				,MENUID
				,PROCFUNC
				,LOGIP
				,WORKDTHM
			) 
			VALUES 
			( 
			 #{SURVSEQ}
			 ,#{SURVKINDCD}
			 ,#{SEQ}
			 ,#{USERID}
			 ,#{USERGRPTYPE}
			 ,#{MENUID}
			 ,#{PROCFUNC}
			 ,#{LOGIP}
			 ,SYSDATE

			 )
	 </insert>	



 	<!-- login log -->
	<insert id="insertLoginLog" parameterType="java.util.Map" >
		    <selectKey resultType="int" keyProperty="SEQ" order="BEFORE">
		        SELECT NVL(MAX(SEQ),0)+1 SEQ FROM TMAD_LOGLOGIN        
		    </selectKey> 	
			INSERT INTO TMAD_LOGLOGIN 
			( 
				SURVSEQ
				,SURVKINDCD
				,SEQ
				,USERID
				,USERGRPTYPE
				,LOGINTYPE
				,LOGINYN
				,LOGIP
				,WORKDTHM
			) 
			VALUES 
			( 
			 #{SURVSEQ}
			 ,#{SURVKINDCD}
			 ,#{SEQ}
			 ,#{USERID}
			 ,#{USERGRPTYPE}
			 ,#{LOGINTYPE}
			 ,#{LOGINYN}
			 ,#{LOGIP}
			 ,SYSDATE

			 )
	 </insert>
	 
	 <insert id="insertAccessLog" parameterType="java.util.Map" >
		<selectKey resultType="int" keyProperty="SEQ" order="BEFORE">
		    SELECT NVL(MAX(SEQ),0)+1 SEQ FROM TMAD_ACCESSLOG        
		</selectKey> 	
            INSERT INTO TMAD_ACCESSLOG
            ( 
                    SEQ
                  , USERID
                  , USERNM
                  , LOGIP
                  , USERGRPTYPE
                  , SCHCD
                  , ORGCD
                  , SCHNM
                  , SURVSEQ
                  , SURVKINDCD
                  , ALLMENUNM
                  , ACTION
                  , STRPARAM
                  , MODDTHM
            ) VALUES
            (
                    #{SEQ}
                  , #{USERID}
                  , #{USERNM}
                  , #{LOGIP}
                  , #{USERGRPTYPE}
                  , #{SCHCD}
                  , #{ORGCD}
                  , #{SCHNM}
                  , #{SURVSEQ}
                  , #{SURVKINDCD}
                  , #{ALLMENUNM}
                  , #{ACTION}
                  , #{STRPARAM}
                  , SYSDATE
            )
	 </insert>
	 
</mapper>