<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CmSmsSendMapper">
	
		
	<!-- 담당자 전화번호-->
	<select id="getUserPhone" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT 
				TELNO
				,SP_DEC_FU(MOBILENO)  MOBILENO
				,SP_DEC_FU(EMAILADDR)  EMAILADDR

			  FROM TMAD_USER
			 WHERE 
			 USERID = #{userId}
			 and WORKYN = '1'
	</select>		
		
		
	<insert id="insertSmsAuth" parameterType="java.util.Map">
		    <selectKey resultType="int" keyProperty="SEQ" order="BEFORE">
		        SELECT NVL(MAX(SEQ),0)+1 SEQ FROM TMAD_SMSCTF        
		    </selectKey> 

		MERGE INTO TMAD_SMSCTF
            USING DUAL
            ON ( MOBILENO = #{tran_phone} )
            WHEN MATCHED THEN
                      UPDATE SET
                            CERTNUM = #{CERTNUM}
                            ,REGDTHM = SYSDATE
							,AUTHYN ='N'
            WHEN NOT MATCHED THEN
                    INSERT (SEQ, MOBILENO,  CERTNUM,REGDTHM, AUTHYN) 
                    VALUES 
					(#{SEQ}   
					,#{tran_phone}
					, #{CERTNUM}
					, SYSDATE
					,'N'
					)

    </insert>	
    
    
 	<!-- 인증값 받아오기 -->
	<insert id="transSmsMsg" parameterType="java.util.Map" >
			insert into em_tran ( tran_phone, tran_callback, tran_date, tran_msg, tran_type, tran_status) values 
			( 
			 #{tran_phone}
			 , '18770081'
			 , NOW()
			 , #{tran_msg}
			 , 4, 1
			 )
	</insert>   
    	
		
	<!-- 인증값 받아오기 -->
	<select id="selectSmsAuth" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT 
				TO_CHAR( CERTNUM ) CERTNUM
				,to_char(REGDTHM,'YYYY-MM-DD HH24:MI:SS') REGDTHM

			  FROM TMAD_SMSCTF
			 WHERE 
			  MOBILENO = #{tran_phone}
	</select>			
		
		
	<select id="selectUserInfo" parameterType="java.util.Map" resultType="java.util.Map">

  			SELECT 
  				 SURVSEQ
				,SURVKINDCD
				,USERID
				,USERGRPTYPE  
				,SP_DEC_FU( USERNM ) USERNM
				,DEPTNM
				,TELNO
				,SP_DEC_FU(MOBILENO) MOBILENO
				,FAXNO
				,EMAILADDR
			  FROM TMAD_USER
			 WHERE 
			 	USERID =  #{userId}
			 	and WORKYN = '1'

	</select>		
		
 	<!-- EPKIKEY 	인증서 시리얼 넘버  중복확인 -->		
	<select id="selectEpkiKeyDup" parameterType="java.util.Map" resultType="int">

  			SELECT 
				COUNT(USERID)
			  FROM TMAD_USER
			 WHERE 
			 	USERID <![CDATA[ <> ]]>  #{USERID}
			 	AND EPKIKEY = #{EPKIKEY}

	</select>		
 	<!-- EPKIKEY 	인증서 시리얼 넘버  업데이트 -->
	<update id="updateEpkiKeySet" parameterType="java.util.Map" >
			UPDATE TMAD_USER  SET EPKIKEY = #{EPKIKEY} WHERE USERID = #{USERID}
	</update>
	<update id="updateCollAgree" parameterType="java.util.Map" >
			UPDATE TMAD_USER  SET PSNINFOAGREE = '1' WHERE USERID = #{USERID}
	</update>			
		
		
	<!-- 회원정보 EPKIKEY 로 가겨오기 -->
	<select id="selectUserEpkiInfo" parameterType="java.util.Map" resultType="java.util.Map">

  			SELECT 
  				CASE WHEN USERID IS NOT NULL THEN 'Y' ELSE 'N' END AS LOGIN_YN
  				, SURVSEQ
				,SURVKINDCD
				,USERID
				,USERGRPTYPE  
				,SP_DEC_FU( USERNM ) USERNM
				,DEPTNM
				,TELNO
				,SP_DEC_FU(MOBILENO) MOBILENO
				,FAXNO
				,EMAILADDR
			  FROM TMAD_USER
			 WHERE 
			 	EPKIKEY =  #{EPKIKEY}
			 	and WORKYN = '1'


	</select>		
		
		
		
		
		
	<!-- 현재 마지막 조사정보 가져오기 
	<select id="selectCurrSurveyInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
  				SURVSEQ
  				,SURVSEQDOT
				,SURVKINDCD	
				,SURVINFOTERM
				,SURVNM
				,WORKDTHM
		 FROM (
  			SELECT 
  				SURVSEQ
  				,REGEXP_REPLACE(SURVSEQ, '(.{2})(.{2})(.{2})', '\1.\2.\3') AS SURVSEQDOT
				,SURVKINDCD
				,TO_CHAR(TO_DATE(SURVSTRTDT),'YYYY-MM-DD')
					||'~'||TO_CHAR(TO_DATE(SURVENDDT),'YYYY-MM-DD')||'  ('||SURVNM ||')' AS SURVINFOTERM
				,SURVNM
				,WORKDTHM
			  FROM TMAD_SURVEY
			  ORDER BY WORKDTHM DESC
		) WHERE ROWNUM = 1

	</select>	
	-->
	
	
	<!-- 조사기간확인 -->
	<select id="selectSurveyCnt" parameterType="java.util.Map" resultType="int">
  			SELECT 
  				COUNT(SURVSEQ) 
			  FROM TMAD_SURVEY
			  WHERE  SURVSTRTDT IS NOT NULL AND SURVSTRTDT <![CDATA[ >= ]]>  #{currentTimeStr} AND SURVENDDT <![CDATA[ <= ]]> #{currentTimeStr}

	</select>		
	<!-- 학교조사기간확인 -->
	<select id="selectSurveyShCnt" parameterType="java.util.Map" resultType="int">
  			SELECT 
  				COUNT(SURVSEQ) 
			  FROM TMAD_SCHOOL
			  WHERE SURVSTRTDT IS NOT NULL AND SURVSTRTDT  <![CDATA[ >= ]]>  #{currentTimeStr} AND SURVENDDT <![CDATA[ <= ]]> #{currentTimeStr}

	</select>			
				
	<select id="selectUserID" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT 
				USERID, USERGRPTYPE
			FROM TMAD_USER
		    WHERE
		    	WORKYN='1'
		    	AND EPKIEKEY=#{EPKIKEY} 
	</select>				
		
</mapper>