<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CallCenterMapper">
	
	<select id="searchBoxInit" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT * FROM 
		(
		    SELECT * FROM 
		    (
		    	SELECT 
		    		'IN_SURVEY_DIV' DIV, '0' CD, '조사구분 전체' CDNM
		    	FROM DUAL
		    	UNION ALL
		        SELECT 
		            'IN_SURVEY_DIV' DIV, CD, CDNM 
		        FROM 
		            TCCM_CODE 
		        WHERE 
		            SURVSEQ=SP_GET_LAST_SURVSEQ() 
		            AND CDTYPE='0079' 
		            AND CD <![CDATA[ <> ]]> 'GROUPCD' 
		        GROUP 
		            BY CD,CDNM 
		        UNION ALL
		        SELECT
		            'IN_SURVEY_DIV' DIV, 'TMP' CD, '기타' CDNM 
		        FROM
		            DUAL
		    )
		        ORDER BY 
		        CASE WHEN CD='0' THEN 0 WHEN CD='GP' THEN 1 WHEN CD='FP' THEN 2 WHEN CD='AG' THEN 3 WHEN CD='4' THEN 4 END
		)
		UNION ALL
		SELECT * FROM
		(
			SELECT 'IN_RECEIPT_DIV' DIV, '0' CD, '문의구분 전체' CDNM FROM DUAL
			UNION ALL		
		    SELECT 'IN_RECEIPT_DIV' DIV, '지침' CD, '지침' CDNM FROM DUAL
		    UNION ALL 
		    SELECT 'IN_RECEIPT_DIV' DIV, '시스템' CD, '시스템' CDNM FROM DUAL
		    UNION ALL
		    SELECT 'IN_RECEIPT_DIV' DIV, '기타' CD, '기타' CDNM FROM DUAL
		)
		UNION ALL
		SELECT * FROM
		(
			SELECT 'IN_USERGRPTYPE' DIV, '0' CD, '전체' CDNM FROM DUAL
			UNION ALL	
		    SELECT 'IN_USERGRPTYPE' DIV, CD, CDNM 
		    FROM TCCM_CODE 
		    WHERE SURVSEQ=SP_GET_LAST_SURVSEQ() AND CDTYPE='0104' AND CD IN ('4','5','6')
		)
		UNION ALL
		SELECT * FROM
		(
			SELECT 'IN_RESPONSE_STATUS' DIV, '0' CD, '답변현황 전체' CDNM FROM DUAL
			UNION ALL		
		    SELECT 'IN_RESPONSE_STATUS' DIV, '2' CD, '보류' CDNM FROM DUAL
		    UNION ALL
		    SELECT 'IN_RESPONSE_STATUS' DIV, '3' CD, '완료' CDNM FROM DUAL
		)
		UNION ALL
		SELECT 'IN_USERLIST' DIV, '0' CD, '담당자 전체' CDNM FROM DUAL
		UNION ALL
		SELECT
		    'IN_USERLIST' DIV, entry_userid CD, entry_USERNM CDNM
		FROM 
		    call_note
		WHERE 
		    entry_userid IS NOT NULL AND entry_userid <![CDATA[ <> ]]> 'null'
		GROUP BY 
		    entry_userid, entry_USERNM
	</select>

	<select id="selectCallcenterList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
    		IDX
    		, SCHCD
    		, ORGCD
    		, SCHNM
    		, ORGNM
    		, USRNM
    		, USRGRPNM
    		, sp_dec_fu(EMAIL) EMAIL
    		, sp_dec_fu(TELNO) TELNO
    		, SURVEY_DIV
    		, RECEIPT_DIV
    		, RECEIPT
    		, ISSUE_CHK
    		, RESPONSE_STATUS
    		, RESPONSE
    		, RECEIPT_SEQ
    		, TO_CHAR(ENTRY_DATETIME, 'YY-MM-DD HH24:MI:SS') ENTRY_DATETIME
    		, ENTRY_USERID
    		, ENTRY_USERNM
    		, TO_CHAR(MODIFY_DATETIME, 'YY-MM-DD HH24:MI:SS') MODIFY_DATETIME
    		, MODIFY_USERID
    		, MODIFY_USERNM
    		, SCHNM||' '||ORGNM||' '||USRNM||'&#13;&#10;'||TO_CHAR(ENTRY_DATETIME, 'YY-MM-DD HH24:MI:SS') CALL_INFO 
    		, SURVEY_DIV||' '||RECEIPT_DIV CALL_DIV
			,to_char(ENTRY_DATETIME,'YY.MM.DD HH24:MI') ENTRYDTHM
			,ENTRY_USERNM ENTRYUSRNM
			,decode(to_char(ENTRY_DATETIME,'YY.MM.DD HH24:MI'),to_char(modify_datetime,'YY.MM.DD HH24:MI'),'',to_char(MODIFY_DATETIME,'YY.MM.DD HH24:MI')) MODIFYDTHM
			,decode(to_char(ENTRY_DATETIME,'YY.MM.DD HH24:MI'),to_char(modify_DATETIME,'YY.MM.DD HH24:MI'),'',modify_usernm) MODIFYUSRNM
		FROM 
    		CALL_NOTE
    	WHERE
    		1=1
    		<if test="IN_CALR_START != null"> 
    			AND ENTRY_datetime between to_timestamp(#{IN_CALR_START}||' 00:00:00','YYMMDD HH24:MI:SS') and to_timestamp(#{IN_CALR_END}||' 23:59:59','YYMMDD HH24:MI:SS')
    		</if>

    		<if test="IN_SCHNM != null">
    			AND SCHNM = #{IN_SCHNM}
    		</if>
    		
    		<if test="IN_ORGNM != null">
    			AND ORGNM = #{IN_ORGNM}
    		</if>
    		    		
    		<if test='IN_SURVEY_DIV != "0"'>
    			AND SURVEY_DIV = #{IN_SURVEY_DIV}
    		</if>
    		
    		<if test='IN_RECEIPT_DIV != "0"'>
    			AND RECEIPT_DIV = #{IN_RECEIPT_DIV}
    		</if>
    		
    		<if test='IN_RESPONSE_STATUS != "0"'>
    			AND RESPONSE_STATUS = #{IN_RESPONSE_STATUS}
    		</if>
    		
    		<if test='IN_CALL_USER != "0"'>
    			AND ENTRY_USERID = #{IN_CALL_USER}
    		</if>    

			<if test='IN_RECEIPT_TXT != "0"'>
    			AND RECEIPT like '%'||#{IN_RECEIPT_TXT}||'%'
    		</if>
    		
    		<if test='IN_RESPONSE_TXT != "0"'>
    			AND RESPONSE like '%'||#{IN_RESPONSE_TXT}||'%'
    		</if>    		
    	ORDER BY 
    		ENTRY_DATETIME DESC

	</select>
	
	<select id="selectCallReport" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
		    A.ENTRY_USERID
		    ,A.ENTRY_USERNM WORKERNM
		    ,A.TYPE1_CNT
		    ,DECODE(B.RESPONSE_CNT,NULL,0,B.RESPONSE_CNT) TYPE2_CNT
		    ,DECODE(D.RESPONSE_CNT,NULL,0,D.RESPONSE_CNT) TYPE4_CNT
		FROM 
		(
			SELECT
			    ENTRY_USERID
				, ENTRY_USERNM
				,COUNT(*) TYPE1_CNT
			FROM
				CALL_NOTE RCP
				LEFT OUTER JOIN CALL_WORKER USR ON RCP.ENTRY_USERID=USR.USERID
		    WHERE
		    	1=1
		        AND ENTRY_datetime between to_timestamp(#{IN_CALR_START}||' 00:00:00','YYMMDD HH24:MI:SS') and to_timestamp(#{IN_CALR_END}||' 23:59:59','YYMMDD HH24:MI:SS')
			GROUP BY
				ENTRY_USERID
				, ENTRY_USERNM
		) A
		LEFT OUTER JOIN (
			SELECT
				ENTRY_USERID,COUNT(*) RESPONSE_CNT
			FROM
				CALL_NOTE
			WHERE
				(RESPONSE_STATUS IS NULL or RESPONSE_STATUS='2')
		        AND ENTRY_datetime between to_timestamp(#{IN_CALR_START}||' 00:00:00','YYMMDD HH24:MI:SS') and to_timestamp(#{IN_CALR_END}||' 23:59:59','YYMMDD HH24:MI:SS')
			GROUP BY 
				ENTRY_USERID,RESPONSE_STATUS
		) B ON A.ENTRY_USERID=B.ENTRY_USERID
		LEFT OUTER JOIN (
			SELECT
				ENTRY_USERID,COUNT(*) RESPONSE_CNT
			FROM
				CALL_NOTE
			WHERE
				RESPONSE_STATUS='3'
		        AND ENTRY_datetime between to_timestamp(#{IN_CALR_START}||' 00:00:00','YYMMDD HH24:MI:SS') and to_timestamp(#{IN_CALR_END}||' 23:59:59','YYMMDD HH24:MI:SS')
			GROUP BY 
				ENTRY_USERID,RESPONSE_STATUS
		) D ON A.ENTRY_USERID=D.ENTRY_USERID
	
	</select>
	
	<!-- 노트 존재여부 체크 -->
	<select id="checkOverlapNote" parameterType="java.util.Map" resultType="int">
			SELECT 
				count(idx)
			FROM 
				CALL_NOTE
			WHERE 
				IDX = #{IDX}
	</select>	

    <insert id="insertCallNote" parameterType="java.util.Map">
		INSERT INTO 
			CALL_NOTE
		SELECT
			(SELECT MAX(IDX)+1 FROM CALL_NOTE) IDX
		    , #{SCHCD} SCHCD
		    , #{ORGCD} ORGCD
		    , #{SCHNM} SCHNM
		    , #{ORGNM} ORGNM
		    , #{USRNM} USRNM
		    , #{USRGRPNM} USRGRPNM
		    , SP_ENC_FU(#{EMAIL}) EMAIL
		    , SP_ENC_FU(#{TELNO}) TELNO
		    , #{SURVEY_DIV} SURVEY_DIV
		    , #{RECEIPT_DIV} RECEIPT_DIV
		    , #{RECEIPT} RECEIPT
		    , NULL ISSUE_CHK
		    , #{RESPONSE_STATUS} RESPONSE_STATUS
		    , #{RESPONSE} RESPONSE
		    , #{RECEIPT_SEQ} RECEIPT_SEQ 
		    , SYSDATE ENTRY_DATETIME
		    , #{ENTRY_USERID} ENTRY_USERID
		    , #{ENTRY_USERNM} ENTRY_USERNM
		    , SYSDATE MODIFY_DATETIME
		    , #{MODIFY_USERID} MODIFY_USERID
		    , #{MODIFY_USERNM} MODIFY_USERNM
		 FROM
		 	DUAL 

    </insert>
    		
    <update id="updateCallNote" parameterType="java.util.Map">
		UPDATE
		    CALL_NOTE
		SET
		    SCHCD = #{SCHCD}
		    , ORGCD = #{ORGCD}
		    , SCHNM = #{SCHNM}
		    , ORGNM = #{ORGNM}
		    , USRNM = #{USRNM}
		    , USRGRPNM = '수정'
		    , EMAIL = SP_ENC_FU(#{EMAIL})
		    , TELNO = SP_ENC_FU(#{TELNO})
		    , SURVEY_DIV = #{SURVEY_DIV}
		    , RECEIPT_DIV = #{RECEIPT_DIV}
		    , RECEIPT = #{RECEIPT}
		    , RESPONSE_STATUS = #{RESPONSE_STATUS}
		    , RESPONSE = #{RESPONSE}
		    , MODIFY_DATETIME = SYSDATE
		    , MODIFY_USERID = #{MODIFY_USERID}
		    , MODIFY_USERNM = #{MODIFY_USERNM}
		WHERE
		    IDX = #{IDX}
    </update>
	
</mapper>