<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AgMntrMapper">

	<select id="listDept" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				T1.SURVSEQ , T1.SURVKINDCD , SCHCD , ORGCD , T1.DEPTCD, T2.DEPTNM
			FROM
				TMAG_ATRGRDINFOBF T1, TMCM_DEPT T2
			WHERE
				T1.SURVSEQ = #{SURVSEQ}
				AND T1.SURVKINDCD = #{SURVKINDCD}
				AND T1.SCHCD = #{SCHCD}
				AND T1.ORGCD = #{ORGCD}
				AND T1.SURVSEQ = T2.SURVSEQ 
				AND T1.SURVKINDCD = T2.SURVKINDCD 
				AND T1.DEPTCD = T2.DEPTCD 
			GROUP BY
				T1.SURVSEQ, T1.SURVKINDCD, T1.SCHCD, T1.ORGCD, T1.DEPTCD, T2.DEPTNM
	</select>	
	    
	<select id="listMntr" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_CODE AS (
			SELECT B.SURVSEQ, B.SURVKINDCD, B.CDTYPE, B.CD, B.CDNM	
			FROM TCCM_CODE B
			WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD}
				AND B.CD != 'GROUPCD' AND B.CDTYPE IN ('1001','1004','0083')
		),BASE AS (	
			SELECT
				T4.SURVSEQ ,T4.SURVKINDCD ,T4.SCHCD ,T4.SCHNM,T4.ORGCD ,T4.COLCD ,T4.COLNM,T4.DEPTCD ,
				T4.DEPTNM,T4.DETAILDEPTNM ,T4.DNCD ,T4.PRGSTATUSCD ,
				TO_CHAR(T4.PRGSTATUSDTHM,'YYYY.MM.DD HH24:MI') AS PRGSTATUSDTHM,
				DECODE(T2.WORKYN,'1',SP_DEC_FU(T2.USERNM),'') AS USERNM ,
				DECODE(T2.WORKYN,'1',SP_DEC_FU(T2.MOBILENO),'') AS MOBILENO ,
				T2.USERID,T4.UNICNT
			FROM
				(
				SELECT
					T3.SURVSEQ ,T5.SCHNM,T3.DEPTNM , T3.SURVKINDCD , T1.USERID ,T3.COLNM
					, T3.SCHCD , T3.ORGCD , T3.COLCD , T3.DEPTCD , T3.DETAILDEPTNM , T3.DNCD 
					,T1.INFOSMSSENDYN, NVL(T1.PRGSTATUSCD,'1') AS PRGSTATUSCD , T6.PRGSTATUSDTHM,T3.UNICNT
				FROM
					TMAD_DEPTUSER T1, TMAD_SCHOOL T5
					,(SELECT MAX(STATUSWKDTHM)  AS PRGSTATUSDTHM, SURVSEQ,SURVKINDCD,SCHCD , ORGCD ,DEPTCD,DETAILDEPTNM,DNCD,WORKERID
						FROM TMAD_SURVMNTR  
						WHERE
							SURVSEQ = #{SURVSEQ}
							AND SURVKINDCD = #{SURVKINDCD}
							AND SCHCD = #{SCHCD}
							AND ORGCD = #{ORGCD}
							AND STATUSCD ='4'
							GROUP BY  SURVSEQ, SURVKINDCD, SCHCD , ORGCD, DEPTCD,DETAILDEPTNM,DNCD,WORKERID ) T6
					, (	SELECT
						T1.SURVSEQ , T1.SURVKINDCD , SCHCD , ORGCD , COLCD,COLNM ,DEPTNM, DEPTCD , DETAILDEPTNM , DNCD, COUNT(T1.UNIQUEKEY ) AS UNICNT
						FROM
							TMAG_ATRGRDINFOBF T1
						WHERE
							T1.SURVSEQ = #{SURVSEQ}
							AND T1.SURVKINDCD = #{SURVKINDCD}
							AND T1.SCHCD = #{SCHCD}
							AND T1.ORGCD = #{ORGCD}
						GROUP BY
							SURVSEQ, SURVKINDCD, SCHCD, ORGCD, COLCD,COLNM,DEPTNM, DEPTCD, DETAILDEPTNM, DNCD ) T3
				WHERE
					T1.SURVSEQ = T3.SURVSEQ
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
					AND T1.COLCD = T3.COLCD
					AND T1.DEPTCD = T3.DEPTCD
					AND T1.DETAILDEPTNM = T3.DETAILDEPTNM
					AND T1.DNCD = T3.DNCD 
					AND T1.SURVSEQ = T5.SURVSEQ
					AND T1.SURVKINDCD = T5.SURVKINDCD
					AND T1.SCHCD = T5.SCHCD
					AND T1.ORGCD = T5.ORGCD
					AND T1.SURVSEQ = T6.SURVSEQ(+)
					AND T1.SURVKINDCD = T6.SURVKINDCD(+)
					AND T1.SCHCD = T6.SCHCD(+)
					AND T1.ORGCD = T6.ORGCD(+)
					AND T1.DEPTCD = T6.DEPTCD(+)
					AND T1.DETAILDEPTNM = T6.DETAILDEPTNM(+)
					AND T1.DNCD = T6.DNCD(+)
			) T4 ,
				TMAD_USER T2
			WHERE
				T4.SURVSEQ = T2.SURVSEQ
				AND T4.SURVKINDCD = T2.SURVKINDCD
				AND T4.USERID = T2.USERID
				AND T2.USERGRPTYPE ='6' 
				<if test="DEPTCD != null">
					AND T4.DEPTCD = #{DEPTCD} 
				</if>				
				<if test="PRGSTATUSCD != null">
					AND T4.PRGSTATUSCD = #{PRGSTATUSCD}
				</if>	
		)
		SELECT 
			A.SURVSEQ ,	A.SURVKINDCD ,A.SCHCD ,A.SCHNM,A.ORGCD ,A.COLNM,A.COLCD ,A.DEPTCD ,A.DEPTNM,A.DETAILDEPTNM ,A.DNCD ,A.PRGSTATUSCD ,				
			A.PRGSTATUSDTHM,A.USERNM ,A.MOBILENO ,	A.USERID, A.UNICNT,
			B1.CDNM AS ORGNM ,
			B2.CDNM AS PRGSTATUSCDNM ,
			B3.CDNM AS DNNM 
		FROM BASE A, T_CODE B1, T_CODE B2, T_CODE B3
		WHERE '1001' = B1.CDTYPE(+) AND A.ORGCD = B1.CD(+)
				AND '0083' = B2.CDTYPE(+) AND A.PRGSTATUSCD = B2.CD(+)
				AND '1004' = B3.CDTYPE(+) AND A.DNCD = B3.CD(+)
		ORDER BY A.PRGSTATUSCD, A.COLNM, A.DEPTNM
	</select>	
	
	<update id="updateStatus" parameterType="java.util.Map">
			UPDATE TMAD_DEPTUSER SET PRGSTATUSCD = #{PRGSTATUSCD}, PRGSTATUSDTHM = sysdate
			 WHERE 					 
				SURVSEQ = #{SURVSEQ}
				AND SURVKINDCD = #{SURVKINDCD}
				AND USERID = #{USERID}				
				AND SCHCD = #{SCHCD}
				AND ORGCD = #{ORGCD}
				AND COLCD = #{COLCD}				
				AND DEPTCD = #{DEPTCD}	
				AND DETAILDEPTNM = #{DETAILDEPTNM}	
				AND DNCD = #{DNCD}			
	</update>
	
	<select id="selectDeptAppChk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) AS CNT
		FROM TMAD_DEPTUSER b
		WHERE 					 
			b.SURVSEQ = #{SURVSEQ}
			AND b.SURVKINDCD = #{SURVKINDCD}				
			AND b.SCHCD = #{SCHCD}
			AND b.ORGCD = #{ORGCD}
			AND b.PRGSTATUSCD is not null 
			AND b.PRGSTATUSCD != '5'	
	</select>	
</mapper>