<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="HpQuestionMapper">

	<select id="survList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DISTINCT SURVSEQ
		FROM TMAD_SURVEY
		ORDER BY SURVSEQ DESC
	</select>

	<select id="searchQuestionList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			M.SURVSEQ
			, M.SURVKINDCD
			, SP_CODENAME_FU(M.SURVSEQ, M.SURVKINDCD, '0079', M.SURVKINDCD) AS SURVKINDNM 
			, M.QUESTIONSEQ
			, M.QUESTIONTERMFR, M.QUESTIONTERMTO
			, M.QUESTIONTITLE
			, M.TOTINQCNT
			, M.DELYN
			, M.WORKERID, M.WORKDTHM, M.MODIFIERID, M.MODDTHM 	
			, (SELECT COUNT(USERID) 
				FROM TMAD_QUESTIONOBJ 
				WHERE SURVSEQ = M.SURVSEQ 
					AND SURVKINDCD = M.SURVKINDCD 
					AND QUESTIONSEQ = M.QUESTIONSEQ) AS TAR_CNT		/* 대상 */
			, (SELECT COUNT(DISTINCT USERID)
				FROM TMAD_QUESTIONANS
        		WHERE SURVSEQ = M.SURVSEQ
            			AND SURVKINDCD = M.SURVKINDCD
            			AND QUESTIONSEQ = M.QUESTIONSEQ) AS ANS_CNT	/* 응답 수*/
			, (SELECT COUNT(DISTINCT USERID)
				FROM TMAD_QUESTIONANS 
		        WHERE	SURVSEQ = M.SURVSEQ
		        	AND SURVKINDCD = M.SURVKINDCD
		            AND QUESTIONSEQ = M.QUESTIONSEQ
		            AND USERID = #{USERID}) AS TAR_STATE	/* 응답상태 */
		FROM TMAD_QUESTIONMST M
			LEFT OUTER JOIN TMAD_QUESTIONOBJ B ON M.SURVSEQ = B.SURVSEQ AND M.SURVKINDCD = B.SURVKINDCD AND M.QUESTIONSEQ = B.QUESTIONSEQ
		<where>
			 <!-- QUESTIONTERMFR <= TO_CHAR(SYSDATE, 'YYYYMMDD') AND QUESTIONTERMTO >= TO_CHAR(SYSDATE, 'YYYYMMDD') -->
			B.USERID = #{USERID}
			<if test=' SURVSEQ != null and SURVSEQ != "" '>
				AND M.SURVSEQ = #{SURVSEQ}			
			</if>			
			<if test=' SURVKINDCD != null and SURVKINDCD != "" '>
				AND M.SURVKINDCD = #{SURVKINDCD}			
			</if>
			<if test=' QUESTIONTITLE != null and QUESTIONTITLE != "" '>
				AND M.QUESTIONTITLE LIKE '%'||#{QUESTIONTITLE}||'%'			
			</if>
		</where>		
		ORDER BY SURVSEQ DESC, SP_CODENAME_FU(M.SURVSEQ, M.SURVKINDCD, '0079', M.SURVKINDCD) ASC, QUESTIONSEQ ASC		
	</select>
	
	
	<select id="selectQuestionMst" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, TO_CHAR(TO_DATE(QUESTIONTERMFR, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS QUESTIONTERMFR, TO_CHAR(TO_DATE(QUESTIONTERMTO, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS QUESTIONTERMTO, QUESTIONTITLE, TOTINQCNT, QUESTIONSCRIPT, DELYN
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONMST
		WHERE 
			SURVSEQ = #{SURVSEQ}			
			AND SURVKINDCD = #{SURVKINDCD}			
			AND QUESTIONSEQ = #{QUESTIONSEQ}					
	</select>
	
	<select id="selectQuestionInqList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ, INQNO
			, INQTYPE
			, SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '2009', INQTYPE) AS INQTYPENM
			, INQEXAMPLECNT, INQGRPNM, INQTEXT, SUJECTINQTITLE
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONINQ
		WHERE 
			SURVSEQ = #{SURVSEQ}			
			AND SURVKINDCD = #{SURVKINDCD}			
			AND QUESTIONSEQ = #{QUESTIONSEQ}	
		ORDER BY INQNO	
	</select>
	
	<select id="selectQuestionExList" parameterType="java.util.Map" resultType="java.util.Map">		
		WITH T_RESULT AS (
			 SELECT DISTINCT SURVSEQ, SURVKINDCD, USERID , QUESTIONSEQ , INQSEQ 
			 , ANSWERNO 
			 , ANSWERTEXT 
			FROM TMAD_QUESTIONANS 
			WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND QUESTIONSEQ = #{QUESTIONSEQ} AND USERID = #{USERID} 
			ORDER BY INQSEQ 
		)
		SELECT			  
			A.SURVSEQ, A.SURVKINDCD, A.QUESTIONSEQ			
			, A.INQTEXT			
		    , A.INQSEQ
		    , A.INQNO
		    , B.EXSEQ
		    , B.EXAMPLENO
		    , B.EXAMPLETEXT
			, (SELECT ANSWERNO FROM T_RESULT WHERE INQSEQ = A.INQSEQ) AS ANSWERNO
			, (SELECT ANSWERTEXT FROM T_RESULT WHERE INQSEQ = A.INQSEQ) AS ANSWERTEXT
		FROM TMAD_QUESTIONINQ A	
			LEFT OUTER JOIN TMAD_QUESTIONEX B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD AND A.QUESTIONSEQ=B.QUESTIONSEQ AND A.INQSEQ=B.INQSEQ
		WHERE
		    A.SURVSEQ 			= #{SURVSEQ}
			AND A.SURVKINDCD 	= #{SURVKINDCD}
			AND A.QUESTIONSEQ 	= #{QUESTIONSEQ}
		ORDER BY A.QUESTIONSEQ, A.INQSEQ, B.EXAMPLENO		    
	</select>
	
	
	
	
	
	<select id="selectQuestionResult" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD
			, USERID
			, QUESTIONSEQ, INQSEQ
			, ANSWERNO, ANSWERTEXT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		FROM TMAD_QUESTIONANS		
		WHERE 
			SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
			AND USERID = #{USERID}		
		ORDER BY INQSEQ	
	</select>
	
	
	<select id="selectQueUserRes"  parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DISTINCT SURVSEQ, SURVKINDCD, USERID
			, QUESTIONSEQ
			, INQSEQ
			, TRIM(regexp_substr(ANSWERNO, '[^,]+', 1, LEVEL)) AS ANSWERNO
			, TRIM(regexp_substr(ANSWERTEXT, '[^,]+', 1, LEVEL)) AS ANSWERTEXT
		FROM TMAD_QUESTIONANS
		WHERE 
			SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
			AND USERID = #{USERID}
		 CONNECT BY INSTR(ANSWERNO, ',', 1, LEVEL - 1 ) > 0		 
		ORDER BY INQSEQ 	
	</select>
	
	
	<select id="selectQueResTot"  parameterType="java.util.Map" resultType="java.util.Map">
		WITH BASE AS (
			SELECT DISTINCT SURVSEQ, SURVKINDCD, QUESTIONSEQ, INQSEQ
			, ANSWERNO AS ORG_NO	, ANSWERTEXT AS ORG_TXT
			, USERID
			, TRIM(regexp_substr(ANSWERNO, '[^,]+', 1, LEVEL)) AS ANSWERNO
			, TRIM(regexp_substr(ANSWERTEXT, '[^,]+', 1, LEVEL)) AS ANSWERTEXT
			FROM TMAD_QUESTIONANS
			
			WHERE 
				SURVSEQ=#{SURVSEQ}
				AND SURVKINDCD = #{SURVKINDCD}
				AND QUESTIONSEQ = #{QUESTIONSEQ}
			CONNECT BY INSTR(ANSWERNO, ',', 1, LEVEL - 1 ) > 0  
			ORDER BY INQSEQ, USERID		
		), EX_TOT AS (    				/* 문항 답별 */ 
			SELECT 
				SURVSEQ, SURVKINDCD, QUESTIONSEQ, INQSEQ, NVL(ANSWERNO, '') AS ANSWERNO, COUNT(ANSWERNO) AS ANSCNT /*보기별 답 갯수*/
			FROM BASE
			GROUP BY SURVSEQ, SURVKINDCD, QUESTIONSEQ, INQSEQ, ANSWERNO
			ORDER BY INQSEQ
		), INQ_TOT AS (					/* 문항 별 */
			SELECT 
				SURVSEQ, SURVKINDCD, QUESTIONSEQ, INQSEQ, SUM(ANSCNT) AS INQTOT /* 문항별 답 갯수*/ 
			FROM EX_TOT GROUP BY SURVSEQ, SURVKINDCD, QUESTIONSEQ, INQSEQ
			ORDER BY INQSEQ		
		)
		SELECT 
			A.SURVSEQ, A.SURVKINDCD, A.QUESTIONSEQ
			, A.INQSEQ
			, EXSEQ
			, A.EXAMPLENO, A.EXAMPLETEXT
			
			, NVL(B.ANSCNT, 0) AS ANSCNT	/* 보기별 응답 수*/
			, NVL(C.INQTOT, 0) AS INQTOT
			, NVL(TRUNC(B.ANSCNT/C.INQTOT*100), 0) AS AVG					
		FROM TMAD_QUESTIONEX A
			LEFT OUTER JOIN EX_TOT B ON A.SURVSEQ=B.SURVSEQ AND A.SURVKINDCD=B.SURVKINDCD AND A.QUESTIONSEQ=B.QUESTIONSEQ AND  A.INQSEQ=B.INQSEQ AND A.EXSEQ = B.ANSWERNO
			LEFT OUTER JOIN INQ_TOT C ON A.SURVSEQ=C.SURVSEQ AND A.SURVKINDCD=C.SURVKINDCD AND A.QUESTIONSEQ=C.QUESTIONSEQ AND A.INQSEQ=C.INQSEQ
		WHERE 
			A.SURVSEQ = #{SURVSEQ}
			AND A.SURVKINDCD = #{SURVKINDCD}
			AND A.QUESTIONSEQ = #{QUESTIONSEQ}
		ORDER BY A.INQSEQ, A.EXAMPLENO	
	</select>
	
	<select id="selectEssayAns"  parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			A.SURVSEQ
			, A.SURVKINDCD
			, A.QUESTIONSEQ
			, A.INQSEQ
			, A.INQNO
			, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '2009', A.INQTYPE) AS INQTYPENM
			, A.INQTEXT
			, B.ANSWERNO
			, B.ANSWERTEXT
			, B.USERID
			, NVL(SP_DEC_FU(C.USERNM), ' ') AS USERNM
			, E.SCHCD 
			, NVL(E.SCHNM, ' ') AS SCHNM
			, E.ORGCD
			, SP_CODENAME_FU(E.SURVSEQ, E.SURVKINDCD, '1001', E.ORGCD) AS ORGNM
		FROM TMAD_QUESTIONINQ A
			LEFT OUTER JOIN TMAD_QUESTIONANS B ON A.SURVSEQ = A.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD AND A.QUESTIONSEQ = B.QUESTIONSEQ AND A.INQSEQ = B.INQSEQ
			LEFT OUTER JOIN TMAD_USER C ON B.USERID = C.USERID
			LEFT OUTER JOIN TMAD_USERSCHOOL D ON C.USERID = D.USERID AND ROWNUM=1
			LEFT OUTER JOIN TMAD_SCHOOL E ON A.SURVSEQ = E.SURVSEQ AND A.SURVKINDCD = E.SURVKINDCD AND D.SCHCD = E.SCHCD AND D.ORGCD = E.ORGCD
		WHERE 
			A.SURVSEQ = #{SURVSEQ}
			AND A.SURVKINDCD = #{SURVKINDCD}
			AND A.QUESTIONSEQ = #{QUESTIONSEQ}
			/* AND A.INQTYPE IN ('02', '03', '05', '06','07') */
		ORDER BY A.SURVSEQ, A.SURVKINDCD, A.QUESTIONSEQ, SCHNM, ORGNM, USERNM, A.INQNO	
	</select>
	
	<insert id="insertAns">
		INSERT INTO TMAD_QUESTIONANS (
			SURVSEQ, SURVKINDCD, USERID, QUESTIONSEQ
			, INQSEQ, ANSWERNO, ANSWERTEXT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES ( 
			#{SURVSEQ}, #{SURVKINDCD}, #{USERID}, #{QUESTIONSEQ}
			, #{INQSEQ}, #{ANSWERNO}, #{ANSWERTEXT}
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)
	</insert>
	
	
	
	
	

	
</mapper>