<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdProgressFpInfoMapper">

	<select id="searchFpInfoCnt" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVEY AS (
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'	
		), T_TMAD_SCHOOL AS (
			SELECT A.*
			FROM TMAD_SCHOOL A
				RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
			WHERE A.SURVSEQ = B.SURVSEQ 
        		AND A.SURVKINDCD = B.SURVKINDCD
				AND A.SURVPROSTATUSCD IN ('7','8','9','10','11','12','13')		
		), T_SURVMNTR AS (	
			SELECT 
				BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ
			FROM T_SURVEY AA
				LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD AND STATUSCD = '11' /* kedi제출건 정보만  */
			ORDER BY BB.STATUSWKDTHM DESC
		), T_USER AS (
			SELECT 
	        	B.SCHCD, B.ORGCD, B.USERGRPTYPE
	        	, B.USERID, A.USERNM
	        FROM TMAD_USER A
	        	LEFT OUTER JOIN TMAD_USERSCHOOL B ON A.USERID = B.USERID	
	        WHERE
	            B.USERGRPTYPE = '4'
		)		
		SELECT COUNT(*) AS CNT FROM T_TMAD_SCHOOL A
		<where>
			<if test=' SCHKINDCD != "" and SCHKINDCD != null '>
				AND A.SCHKINDCD = #{SCHKINDCD}
			</if>
			<if test=' SCHNM != "" and SCHNM != null '>
				AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
			</if>
			<if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
				AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
			</if>		
		</where>
	</select>
	
	<select id="searchFpInfoResultCnt" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVEY AS (
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'	
		), T_TMAD_SCHOOL AS (
			SELECT A.*
			FROM TMAD_SCHOOL A
				RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
			WHERE A.SURVSEQ = B.SURVSEQ 
        		AND A.SURVKINDCD = B.SURVKINDCD
				AND A.SURVPROSTATUSCD IN ('1','2','3','4','5','6','7','8','9','10','11','12','13')		
		), T_SURVMNTR AS (	
			SELECT 
				BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ
			FROM T_SURVEY AA
				LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD AND STATUSCD = '11' /* kedi제출건 정보만  */
			ORDER BY BB.STATUSWKDTHM DESC
		), T_USER AS (
			SELECT 
	        	B.SCHCD, B.ORGCD, B.USERGRPTYPE
	        	, B.USERID, A.USERNM
	        FROM TMAD_USER A
	        	LEFT OUTER JOIN TMAD_USERSCHOOL B ON A.USERID = B.USERID	
	        WHERE
	            B.USERGRPTYPE = '4'
		)		
		SELECT COUNT(*) AS CNT FROM T_TMAD_SCHOOL A
		<where>
			<if test=' SCHKINDCD != "" and SCHKINDCD != null '>
				AND A.SCHKINDCD = #{SCHKINDCD}
			</if>
			<if test=' SCHNM != "" and SCHNM != null '>
				AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
			</if>
			<if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
				AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
			</if>		
		</where>
	</select>
	
	<select id="searchFpInfoList" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVEY AS (
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'	
		), T_TMAD_SCHOOL AS (
			SELECT A.*
			FROM TMAD_SCHOOL A
				RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
			WHERE A.SURVSEQ = B.SURVSEQ 
        		AND A.SURVKINDCD = B.SURVKINDCD
				AND A.SURVPROSTATUSCD IN ('7','8','9','10','11','12','13')		
		), T_SURVMNTR AS (	
			SELECT 
				BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ
			FROM T_SURVEY AA
				LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD AND STATUSCD = '11' /* kedi제출건 정보만  */
			ORDER BY BB.STATUSWKDTHM DESC
		), T_USER as (
	        SELECT 
	        	B.SCHCD, B.ORGCD, B.USERGRPTYPE
	        	, B.USERID, A.USERNM
	        FROM TMAD_USER A
	        	LEFT OUTER JOIN TMAD_USERSCHOOL B ON A.USERID = B.USERID	
	        WHERE
	            B.USERGRPTYPE = '4'
		)
		
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, A.* FROM (
				SELECT 		
					'false' AS CHK
					, A.SURVSEQ, A.SURVKINDCD, A.SCHCD, A.ORGCD 
					, A.SCHNM
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '1001', A.ORGCD) AS ORGNM
					, SP_DEC_FU(B.USERNM) AS USERNM
					, B.USERID
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0104', B.USERGRPTYPE) AS USERTYPE
					
					, CASE WHEN (SELECT COUNT(*)  FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD) > 0 THEN 'Y'
						ELSE 'N' END AS SENDYN
					, TO_CHAR((SELECT STATUSWKDTHM FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND ROWNUM=1), 'YYYY.MM.DD HH24:MI') AS SENDDATE
					
					, (SELECT COUNT(*) FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD ) AS SENDCNT
					, A.SURVPROSTATUSCD
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0082', A.SURVPROSTATUSCD) AS SURVPROSTATUSNM
					
				FROM T_TMAD_SCHOOL A	
					LEFT OUTER JOIN T_USER B ON A.SCHCD = B.SCHCD AND A.ORGCD = B.ORGCD
				<where>
					<if test=' SCHKINDCD != "" and SCHKINDCD != null '>
						AND A.SCHKINDCD = #{SCHKINDCD}
					</if>
					<if test=' SCHNM != "" and SCHNM != null '>
						AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
					</if>
					<if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
						AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
					</if>		
				</where>
				ORDER BY A.SCHNM
				) A
			)
		WHERE RNUM BETWEEN #{START} AND #{END}			
	</select>	
	
	<select id="searchFpInfoResultList" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVEY AS (
  			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
    		FROM TMAD_SURVEY 
   			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'  
		), T_TMAD_SCHOOL AS (
		    SELECT A.*
		    FROM TMAD_SCHOOL A
		        RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
		    WHERE A.SURVSEQ = B.SURVSEQ 
		        AND A.SURVKINDCD = B.SURVKINDCD
		        AND A.SURVPROSTATUSCD IN ('1','2','3','4','5','6','7','8','9','10','11','12','13')      
		), T_SURVMNTR AS (  
		    SELECT 
		        BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ
		    FROM T_SURVEY AA
		        LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD
		    ORDER BY BB.STATUSWKDTHM DESC
		), T_USER as (
		    SELECT 
		        B.SCHCD, B.ORGCD, B.USERGRPTYPE
		        , B.USERID, A.USERNM, A.TELNO
		    FROM TMAD_USER A
		        LEFT OUTER JOIN TMAD_USERSCHOOL B ON A.USERID = B.USERID    
		    WHERE
		        B.USERGRPTYPE = '4'
		)
		
		SELECT * FROM (
		    SELECT ROWNUM AS RNUM, A.* FROM (
		        SELECT      
		            'false' AS CHK
		            , A.SURVSEQ
		            , A.SURVKINDCD
		            , A.SCHCD
		            , A.ORGCD 
		            , A.SCHNM
		            , SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '1001', A.ORGCD) AS ORGNM
		            , SP_DEC_FU(B.USERNM) AS USERNM
		            , B.USERID
		            , B.TELNO
		            , SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0104', B.USERGRPTYPE) AS USERTYPE
		            , CASE WHEN (SELECT COUNT(*)  FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND STATUSCD = '11') > 0 THEN 'Y'
		                ELSE 'N' END AS SENDYN
		            , TO_CHAR((SELECT STATUSWKDTHM FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND STATUSCD = '11' AND ROWNUM=1), 'YYYY.MM.DD HH24:MI') AS SENDDATE
		            , (SELECT COUNT(*) FROM T_SURVMNTR WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND STATUSCD = '11') AS SENDCNT
		            , A.SURVPROSTATUSCD
		            , SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0082', A.SURVPROSTATUSCD) AS SURVPROSTATUSNM
		            
		            , TO_CHAR(A.SURVPROSTATUSDTHM, 'YYYY.MM.DD HH24:MI') AS SURVPROSTATUSDTHM /* 상태수정일 */
		            , (
		                SELECT RCEPTCN FROM T_SURVMNTR 
		                WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND ROWNUM = 1
		            ) AS RCEPTCN
		            
		        FROM T_TMAD_SCHOOL A
		            LEFT OUTER JOIN T_USER B ON A.SCHCD = B.SCHCD AND A.ORGCD = B.ORGCD
		        <where>
		            <if test=' SCHKINDCD != "" and SCHKINDCD != null '>
		                AND A.SCHKINDCD = #{SCHKINDCD}
		            </if>
		            <if test=' SCHNM != "" and SCHNM != null '>
		                AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
		            </if>
		            <if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
		                AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
		            </if>       
		        </where>
		        ORDER BY A.SCHNM
		        ) A
		    )
		WHERE RNUM BETWEEN  #{START} AND #{END}
	</select>
	<delete id="deleteFpInfoTr">
		DELETE FROM TRFP_FRSPSNINFO
		WHERE SURVSEQ  		= #{SURVSEQ}
			AND SURVKINDCD  = #{SURVKINDCD}
			AND SCHCD  		= #{SCHCD}
			AND ORGCD  		= #{ORGCD}	
	</delete>
	
	<delete id="deleteFpInfo">
		DELETE 
		FROM TMFP_FRSPSNINFO
		WHERE SURVSEQ  		= #{SURVSEQ}
			AND SURVKINDCD  = #{SURVKINDCD}
			AND SCHCD  		= #{SCHCD}
			AND ORGCD  		= #{ORGCD}	
	</delete>
	
	
	




	
	
</mapper>