<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdProgressAgResultMapper">

	<select id="listAgprogs" parameterType="java.util.Map" resultType="java.util.Map">
		WITH BASE AS (
			SELECT
				T1.SURVSEQ
				,T1.SURVKINDCD
				,T1.ORGCD
				,T1.SCHCD
				,T1.SCHKINDCD
				,SP_CODENAME_FU(T1.SURVSEQ, T1.SURVKINDCD,'0527', T1.SCHKINDCD) AS SCHKINDNM
				,SP_CODENAME_FU(T1.SURVSEQ, T1.SURVKINDCD,'1001', T1.ORGCD) AS ORGNM
				,T1.SCHNM
				,T1.SURVPROSTATUSCD
				,SP_CODENAME_FU(T1.SURVSEQ, T1.SURVKINDCD,'0083', T1.SURVPROSTATUSCD) AS SURVPROSTATUSNM
				,T2.DEPTCNT
				,T3.TOTALCNT
				FROM TMAD_SCHOOL T1
				,(SELECT SURVSEQ,SURVKINDCD,SCHCD,ORGCD
					,COUNT(*) DEPTCNT FROM (
						SELECT  SURVSEQ,SURVKINDCD,SCHCD,ORGCD,COUNT( DEPTCD  )
						FROM TMAG_ATRGRDINFOBF 
						WHERE SURVSEQ = #{SURVSEQ}
						AND SURVKINDCD = #{SURVKINDCD}
						GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD,DEPTCD
					)
					GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD 
				) T2
				,(SELECT SURVSEQ,SURVKINDCD,SCHCD,ORGCD
					,COUNT(*) TOTALCNT
						FROM TMAG_ATRGRDINFOBF 
						WHERE SURVSEQ = #{SURVSEQ}
						AND SURVKINDCD = #{SURVKINDCD}
					GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD 
				) T3
				WHERE T1.SURVSEQ = #{SURVSEQ}
					AND T1.SURVKINDCD = #{SURVKINDCD}
					AND T1.SURVSEQ = T2.SURVSEQ
					AND T1.SURVKINDCD = T2.SURVKINDCD
					AND T1.SCHCD = T2.SCHCD
					AND T1.ORGCD = T2.ORGCD
					AND T1.SURVSEQ = T3.SURVSEQ
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
				<if test="SCHKINDCD != null">
					AND T1.SCHKINDCD = #{SCHKINDCD} 
				</if>				
				<if test="SURVPROSTATUSCD != null">
					AND T1.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
				</if>	
				<if test="SCHNM != null">
					AND T1.SCHNM LIKE  '%' || #{SCHNM} || '%'
				</if>			
		),T_SURVEY AS (
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE  SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD}	
		), T_SURVMNTR AS (	
			SELECT 
				BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ
			FROM T_SURVEY AA
				LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD 
			ORDER BY BB.STATUSWKDTHM DESC
		)
		SELECT * FROM 
			(
				SELECT ROWNUM AS RNUM, T1.*
				 , TO_CHAR((SELECT STATUSWKDTHM FROM T_SURVMNTR WHERE SCHCD = T1.SCHCD AND ORGCD = T1.ORGCD  AND ROWNUM=1 AND STATUSCD = '11'), 'YYYY.MM.DD HH24:MI') AS SENDDATE 
				FROM BASE T1
			)
		WHERE RNUM BETWEEN #{START} AND #{END}						
	</select>	
	
	<select id="listAgprogsTOTALPAGECNT" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT COUNT(*) TOTALPAGECNT
				FROM TMAD_SCHOOL T1
				,(SELECT SURVSEQ,SURVKINDCD,SCHCD,ORGCD
					,COUNT(*) DEPTCNT FROM (
						SELECT  SURVSEQ,SURVKINDCD,SCHCD,ORGCD,COUNT( DEPTCD  )
						FROM TMAG_ATRGRDINFOBF 
						WHERE SURVSEQ = #{SURVSEQ}
						AND SURVKINDCD = #{SURVKINDCD}
						GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD,DEPTCD
					)
					GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD 
				) T2
				,(SELECT SURVSEQ,SURVKINDCD,SCHCD,ORGCD
					,COUNT(*) TOTALCNT
						FROM TMAG_ATRGRDINFOBF 
						WHERE SURVSEQ = #{SURVSEQ}
						AND SURVKINDCD = #{SURVKINDCD}
					GROUP BY SURVSEQ,SURVKINDCD,SCHCD,ORGCD 
				) T3
				WHERE T1.SURVSEQ = #{SURVSEQ}
					AND T1.SURVKINDCD = #{SURVKINDCD}
					AND T1.SURVSEQ = T2.SURVSEQ
					AND T1.SURVKINDCD = T2.SURVKINDCD
					AND T1.SCHCD = T2.SCHCD
					AND T1.ORGCD = T2.ORGCD
					AND T1.SURVSEQ = T3.SURVSEQ
					AND T1.SURVKINDCD = T3.SURVKINDCD
					AND T1.SCHCD = T3.SCHCD
					AND T1.ORGCD = T3.ORGCD
				<if test="SCHKINDCD != null">
					AND T1.SCHKINDCD = #{SCHKINDCD} 
				</if>				
				<if test="SURVPROSTATUSCD != null">
					AND T1.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
				</if>	
				<if test="SCHNM != null">
					AND T1.SCHNM LIKE  '%' || #{SCHNM} || '%'
				</if>	
	</select>			
	
	<delete id="deleteRstTable" parameterType="java.util.Map">
		DELETE FROM TMAG_ATRGRDRST T1		
		WHERE
		 	T1.SURVSEQ = #{SURVSEQ}
			AND T1.SURVKINDCD = #{SURVKINDCD}
			AND T1.SCHCD = #{SCHCD}
			AND T1.ORGCD = #{ORGCD}		
	</delete>	
				
	<delete id="deleteMstTable" parameterType="java.util.Map">
			DELETE FROM TMAG_ATRGRDINFO 
			 WHERE 					 
				SURVSEQ = #{SURVSEQ}
				AND SURVKINDCD = #{SURVKINDCD}			
				AND SCHCD = #{SCHCD}
				AND ORGCD = #{ORGCD}		
	</delete>	
		
	<insert id="insertMstTable" parameterType="java.util.Map">
		INSERT INTO TMAG_ATRGRDINFO (
			SURVSEQ
			,SURVKINDCD
			,SCHKINDCD
			,SCHCD
			,ORGCD
			,COLCD
			,COLNM
			,DEPTCD
			,MOECLASS
			,DEPTNM
			,DNCD
			,DETAILDEPTNM
			,DEGREECD
			,INYM
			,OUTYM
			,EXCHANGEYN
			,STUDENTNO
			,UNIQUEKEY
			,BIRTHYEAR
			,SEXCD
			,AGE
			,JOBTYPECD
			,WELFARECD
			,CLERICYN
			,STARTDT
			,ENDDT
			,SCHWORKFORM
			,WORKHOUR
			,NACODE
			,FORGCOMNM
			,OVERSEAVISATYPE
			,OVERSEAVISAYN
			,OVERSEAWORKTYPE
			,SAMEUNIVYN
			,GOSCHCD
			,GOORGCD
			,GOFORGSCHNM
			,ARTNM
			,ARTPL
			,ARTPO
			,ALDYEMPLYN
			,TRANSCLOSEYN
			,MNTNEMPLYN1
			,MNTNEMPLYN2
			,MNTNEMPLYN3
			,MNTNEMPLYN4
			,TARGETYN
			,SALARY
			,INDLGROUPCD
			,COMTYPE
			,COMSIZE
			,WORKERID
			,WORKDTHM
			) SELECT 
			T1.SURVSEQ
			,T1.SURVKINDCD
			,T1.SCHKINDCD
			,T1.SCHCD
			,T1.ORGCD
			,T1.COLCD
			,T1.COLNM
			,T1.DEPTCD
			,T1.MOECLASS
			,T1.DEPTNM
			,T1.DNCD
			,T1.DETAILDEPTNM
			,T1.DEGREECD
			,T1.INYM
			,T1.OUTYM
			,T1.EXCHANGEYN
			,T1.STUDENTNO
			,T1.UNIQUEKEY
			,T1.BIRTHYEAR
			,T1.SEXCD
			,T1.AGE
			,T1.JOBTYPECD
			,T1.WELFARECD
			,T1.CLERICYN
			,T1.STARTDT
			,T1.ENDDT
			,T1.SCHWORKFORM
			,T1.WORKHOUR
			,T1.NACODE
			,T1.FORGCOMNM
			,T1.OVERSEAVISATYPE
			,T1.OVERSEAVISAYN
			,T1.OVERSEAWORKTYPE
			,T1.SAMEUNIVYN
			,T1.GOSCHCD
			,T1.GOORGCD
			,T1.GOFORGSCHNM
			,T1.ARTNM
			,T1.ARTPL
			,T1.ARTPO
			,T1.ALDYEMPLYN
			,T1.TRANSCLOSEYN
			,T1.MNTNEMPLYN1
			,T1.MNTNEMPLYN2
			,T1.MNTNEMPLYN3
			,T1.MNTNEMPLYN4
			,T1.TARGETYN
			,T1.SALARY
			,T1.INDLGROUPCD
			,T1.COMTYPE
			,T1.COMSIZE
			,T1.WORKERID
			,SYSDATE
		FROM TMAG_ATRGRDRST T1		
		WHERE
		 	T1.SURVSEQ = #{SURVSEQ}
			AND T1.SURVKINDCD = #{SURVKINDCD}
			AND T1.SCHCD = #{SCHCD}
			AND T1.ORGCD = #{ORGCD}	
	</insert>			
	
	<select id="selectSchKindCodeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT T2.CD, T2.CDNM 
		FROM TMAG_ATRGRDRST T1, TCCM_CODE T2
		WHERE
		 	T1.SURVSEQ = #{SURVSEQ}
			AND T1.SURVKINDCD = #{SURVKINDCD}
			AND T1.SURVSEQ = T2.SURVSEQ
			AND T1.SURVKINDCD = T2.SURVKINDCD
			AND T2.CDTYPE = '0527'
			AND T1.SCHKINDCD = T2.CD
		GROUP BY T2.CD, T2.CDNM  
	</select>			
</mapper>