<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdProgressFpResultMapper">
	
	<select id="selectSurvList" resultType="java.util.Map">
		SELECT SURVSEQ, SURVKINDCD, SURVYEAR, TO_CHAR(TO_DATE(SURVSTRTDT, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS SURVSTRTDT, TO_CHAR(TO_DATE(SURVENDDT, 'YYYY.MM.DD'), 'YYYY.MM.DD') AS SURVENDDT, SURVOBJ, SURVNM
		FROM TMAD_SURVEY
		WHERE SURVKINDCD = 'FP'
		ORDER BY SURVYEAR DESC, SURVENDDT DESC
	</select>
	
	<select id="searchFpResultCnt" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVEY AS (		/* 조사 기본정보*/
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'	
		
		), T_TMAD_SCHOOL AS ( 	/* 조사대상학교*/
			SELECT A.*
			FROM TMAD_SCHOOL A
				RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
			WHERE A.SURVSEQ = B.SURVSEQ 
				AND A.SURVKINDCD = B.SURVKINDCD
				AND A.SURVPROSTATUSCD IN ('1','2','3','4','5','6')	
			ORDER BY SCHNM
		)		
		SELECT COUNT(*) AS CNT  FROM T_TMAD_SCHOOL A					
		<where>			 
			<if test=' SCHKINDCD != "" and SCHKINDCD != null '>
				AND A.SCHKINDCD = #{SCHKINDCD}
			</if>
			<if test=' SCHNM != "" and SCHNM != null '>
				AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
			</if>
			<if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
				AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
			</if>
		</where>			
	</select>	
	
	
	<select id="searchFpResultList" parameterType="java.util.Map" resultType="java.util.Map">		
		WITH T_SURVEY AS (		/* 조사 기본정보*/
			SELECT SURVSEQ, SURVKINDCD, SURVYEAR, SURVSTRTDT, SURVENDDT, SURVOBJ, SURVNM, REMARK, SURVSTATUSCD, WORKERID, WORKDTHM 
			FROM TMAD_SURVEY 
			WHERE SURVYEAR = #{SURVYEAR} AND SURVKINDCD = 'FP'	
		
		), T_TMAD_SCHOOL AS ( 	/* 조사대상학교*/
			SELECT A.*
			FROM TMAD_SCHOOL A
				RIGHT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD 
			WHERE A.SURVSEQ = B.SURVSEQ 
				AND A.SURVKINDCD = B.SURVKINDCD 
				AND A.SURVPROSTATUSCD IN ('1','2','3','4','5','6')	
			ORDER BY SCHNM
		), T_SURVMNTR AS (		/* 상태진행현황 */	
			SELECT 
				BB.SURVSEQ, BB.SURVKINDCD, BB.SCHCD, BB.ORGCD, BB.MNTRSEQ, BB.STATUSCD, BB.STATUSWKDTHM, BB.RCEPTCN, BB.ATT_IDT_NO, BB.ATT_SEQ			
			FROM T_SURVEY AA
				LEFT OUTER JOIN TMAD_SURVMNTR BB ON AA.SURVSEQ = BB.SURVSEQ AND AA.SURVKINDCD = BB.SURVKINDCD /* AND STATUSCD = '2' 수정요청건 정보만  */
			ORDER BY BB.STATUSWKDTHM DESC
		)
		
		SELECT * FROM (
			SELECT ROWNUM AS RNUM, A.* FROM (
				SELECT 
					'false' AS CHK
					, A.SURVSEQ		/* 조사기준*/
					, A.SURVKINDCD
					, A.SCHCD
					, A.ORGCD			/* 본분교 코드 */
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '1001', A.ORGCD) AS ORGNM
			
					, A.SCHNM			/* 학교명 */
					, A.UNIGRADECD		/* 대학 / 대학원코드*/
					, A.SCHKINDCD		/* 학교 종류 코드*/
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0527', A.SCHKINDCD) AS SCHKINDNM
					
					, A.SCHFUNDCD
					, A.SCHSEXCD
					, A.SCHDNCD
					, A.SCHSTATCD		/* 학교 상태코드 */
					, A.PROVINCECD
					, A.ZIPCODE
					, A.SCHADDR
					, A.SURVTARGETYN
					, A.SURVPROSTATUSCD		/* 조사진행 상태 */
					, SP_CODENAME_FU(A.SURVSEQ, A.SURVKINDCD, '0082', A.SURVPROSTATUSCD) AS SURVPROSTATUSNM
					
					, TO_CHAR(A.SURVPROSTATUSDTHM, 'YYYY.MM.DD HH24:MI') AS SURVPROSTATUSDTHM /* 상태수정일 */
					, A.SURVSTRTDT			/* 조사시작일 */
					, A.SURVENDDT			/* 조사종료일 */
					
					, C.DEPTCNT
					, C.FPCNT
					, (
						SELECT RCEPTCN FROM T_SURVMNTR 
						WHERE SCHCD = A.SCHCD AND ORGCD = A.ORGCD AND ROWNUM = 1
					) AS RCEPTCN
				
				FROM T_TMAD_SCHOOL A
					LEFT OUTER JOIN T_SURVEY B ON A.SURVSEQ = B.SURVSEQ AND A.SURVKINDCD = B.SURVKINDCD					  	 
					LEFT OUTER JOIN (
						SELECT 
							SURVSEQ, SURVKINDCD, SCHCD, ORGCD
							, COUNT(DEPTCD) AS DEPTCNT,  SUM(FRESHCNT) as FPCNT
						FROM TMFP_FRSPSNCNT GROUP BY SURVSEQ, SURVKINDCD, SCHCD, ORGCD	
					) C ON A.SURVSEQ = C.SURVSEQ AND A.SURVKINDCD = C.SURVKINDCD AND A.SCHCD = C.SCHCD AND A.ORGCD = C.ORGCD					
				<where>			 
					<if test=' SCHKINDCD != "" and SCHKINDCD != null '>
						AND A.SCHKINDCD = #{SCHKINDCD}
					</if>
					<if test=' SCHNM != "" and SCHNM != null '>
						AND A.SCHNM LIKE '%' || #{SCHNM} || '%'
					</if>
					<if test=' SURVPROSTATUSCD != "" and SURVPROSTATUSCD != null '>
						AND A.SURVPROSTATUSCD = #{SURVPROSTATUSCD}
					</if>					
				</where>
				ORDER BY A.SCHNM
				) A
			)
		WHERE RNUM BETWEEN #{START} AND #{END}	
	</select>
	
	
	
	<select id="selectDetailFP" parameterType="java.util.Map" resultType="java.util.Map">
		WITH T_SURVMNTR AS (
			SELECT 
				SURVSEQ, SURVKINDCD, SCHCD, ORGCD, MNTRSEQ, STATUSCD, STATUSWKDTHM, RCEPTCN
			FROM TMAD_SURVMNTR
			WHERE STATUSCD = '4'				
				AND SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND SCHCD = #{SCHCD} AND ORGCD = #{ORGCD}
			ORDER BY STATUSWKDTHM DESC
		)		
		SELECT 
			SURVSEQ, SURVKINDCD,  SCHCD, ORGCD
			, ENTERSEQ
			, COLCD, COLNM
			, DEPTCD, DEPTNM, DEPTDNCD, SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '1004', DEPTDNCD) AS DEPTDNNM 
			, MOECLASS
			, FRESHCNT, FRESHCNTF, FRESHCNTM
			, COLFRESHCNT, COLFRESHCNTF, COLFRESHCNTM
			, UNIFRESHCNT, UNIFRESHCNTF, UNIFRESHCNTM
			, UMFRESHCNT, UMFRESHCNTF, UMFRESHCNTM
			, MSTFRESHCNT, MSTFRESHCNTF, MSTFRESHCNTM
			, DRFRESHCNT, DRFRESHCNTF, DRFRESHCNTM
			, MDFRESHCNT, MDFRESHCNTF, MDFRESHCNTM
			, (SELECT TO_CHAR(STATUSWKDTHM, 'YYYY.MM.DD') FROM T_SURVMNTR WHERE ROWNUM = 1) AS STATUSWKDTHM
		FROM TMFP_FRSPSNCNT A
		WHERE A.SURVSEQ = #{SURVSEQ} 
			AND A.SURVKINDCD = #{SURVKINDCD}
			AND A.SCHCD = #{SCHCD}
			AND A.ORGCD = #{ORGCD}
		ORDER BY A.ENTERSEQ, A.COLNM, A.DEPTNM
	</select>
	
	<select id="overlapChk" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(DEPTCD)
		FROM TMCM_DEPT
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND DEPTCD = #{DEPTCD}				
	</select>
	
	
	<insert id="insertDetailFP">
		INSERT INTO TMFP_FRSPSNCNT (
			SURVSEQ, SURVKINDCD, ENTERSEQ, SCHCD, ORGCD, COLCD
			, COLNM
			, DEPTCD, DEPTNM
			, DEPTDNCD, MOECLASS
			, FRESHCNT, FRESHCNTF, FRESHCNTM
			, COLFRESHCNT, COLFRESHCNTF, COLFRESHCNTM, UNIFRESHCNT, UNIFRESHCNTF, UNIFRESHCNTM, UMFRESHCNT, UMFRESHCNTF, UMFRESHCNTM, MSTFRESHCNT, MSTFRESHCNTF, MSTFRESHCNTM, DRFRESHCNT, DRFRESHCNTF, DRFRESHCNTM, MDFRESHCNT, MDFRESHCNTF, MDFRESHCNTM
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES (
			#{SURVSEQ}, #{SURVKINDCD}, #{ENTERSEQ}, #{SCHCD}, #{ORGCD}, #{COLCD}
			, NVL(#{COLNM}, ' ')
			, #{DEPTCD}, NVL(#{DEPTNM},' ')
			, #{DEPTDNCD}, #{MOECLASS}
			, NVL(#{FRESHCNT}, 0), NVL(#{FRESHCNTF},0), NVL(#{FRESHCNTM},0)
			, NVL(#{COLFRESHCNT},0), NVL(#{COLFRESHCNTF},0), NVL(#{COLFRESHCNTM},0), NVL(#{UNIFRESHCNT},0), NVL(#{UNIFRESHCNTF},0), NVL(#{UNIFRESHCNTM},0), NVL(#{UMFRESHCNT},0), NVL(#{UMFRESHCNTF},0), NVL(#{UMFRESHCNTM},0), NVL(#{MSTFRESHCNT},0), NVL(#{MSTFRESHCNTF},0), NVL(#{MSTFRESHCNTM},0), NVL(#{DRFRESHCNT},0), NVL(#{DRFRESHCNTF},0), NVL(#{DRFRESHCNTM},0), NVL(#{MDFRESHCNT},0), NVL(#{MDFRESHCNTF},0), NVL(#{MDFRESHCNTM},0) 
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)
	
	</insert>
	
		
	<update id="updateDetailFP">
		UPDATE TMFP_FRSPSNCNT
		SET		    
		    COLNM        = #{COLNM} 		    
		    , DEPTNM       = #{DEPTNM}		    
		    , FRESHCNT = NVL(#{FRESHCNT},0), 		FRESHCNTF = NVL(#{FRESHCNTF},0), 		FRESHCNTM = NVL(#{FRESHCNTM},0)
			, COLFRESHCNT = NVL(#{COLFRESHCNT},0), 	COLFRESHCNTF = NVL(#{COLFRESHCNTF},0), 	COLFRESHCNTM = NVL(#{COLFRESHCNTM},0)
			, UNIFRESHCNT = NVL(#{UNIFRESHCNT},0), 	UNIFRESHCNTF = NVL(#{UNIFRESHCNTF},0), 	UNIFRESHCNTM = NVL(#{UNIFRESHCNTM},0)
			, UMFRESHCNT = NVL(#{UMFRESHCNT},0), 	UMFRESHCNTF = NVL(#{UMFRESHCNTF},0), 	UMFRESHCNTM = NVL(#{UMFRESHCNTM},0)
			, MSTFRESHCNT = NVL(#{MSTFRESHCNT},0), 	MSTFRESHCNTF = NVL(#{MSTFRESHCNTF},0), 	MSTFRESHCNTM = NVL(#{MSTFRESHCNTM},0)
			, DRFRESHCNT = NVL(#{DRFRESHCNT},0), 	DRFRESHCNTF = NVL(#{DRFRESHCNTF},0), 	DRFRESHCNTM = NVL(#{DRFRESHCNTM},0)
			, MDFRESHCNT = NVL(#{MDFRESHCNT},0), 	MDFRESHCNTF = NVL(#{MDFRESHCNTF},0), 	MDFRESHCNTM = NVL(#{MDFRESHCNTM},0)
		
		    , MODIFIERID   = #{MODIFIERID} 
		    , MODDTHM      = SYSDATE
		WHERE 
			SURVSEQ      	= #{SURVSEQ} 
		    AND SURVKINDCD  = #{SURVKINDCD}
		    AND ENTERSEQ    = #{ENTERSEQ}
		    AND SCHCD       = #{SCHCD}
		    AND ORGCD       = #{ORGCD}
		    AND COLCD       = #{COLCD}
		    AND DEPTCD      = #{DEPTCD}
		    AND DEPTDNCD    = #{DEPTDNCD}
		    AND MOECLASS    = #{MOECLASS}	
	</update>
	
	
	<delete id="deleteDetailFP">
		DELETE 
		FROM TMFP_FRSPSNCNT
		WHERE SURVSEQ      	= #{SURVSEQ} 
		    AND SURVKINDCD  = #{SURVKINDCD}
		    AND ENTERSEQ    = #{ENTERSEQ}
		    AND SCHCD       = #{SCHCD}
		    AND ORGCD       = #{ORGCD}
		    AND COLCD       = #{COLCD}
		    AND DEPTCD      = #{DEPTCD}
		    AND DEPTDNCD    = #{DEPTDNCD}
		    AND MOECLASS    = #{MOECLASS}	
	</delete>
	
</mapper>