<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdProgressCommonMapper">

	
	<select id="selectHistory" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			A.SURVSEQ, A.SURVKINDCD, A.SCHCD, A.ORGCD
			, A.MNTRSEQ
			, A.STATUSCD			
			<choose>
				<when test=' SURVKINDCD == "GP" ' >
					, SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD}, '0081', A.STATUSCD) as STATUSNM
				</when>
				<when test=' SURVKINDCD == "FP" '>
					, SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD}, '0082', A.STATUSCD) as STATUSNM
				</when>			
			</choose>			
			, A.STATUSWKDTHM
			, A.RCEPTCN
			, A.ATT_IDT_NO, A.ATT_SEQ
			, A.WORKERID
			, SP_DEC_FU(D.USERNM) as WORKERNM
			, A.WORKDTHM
			, B.SAVE_FILE_NAME
			, B.REAL_FILE_NAME
			, B.SAVE_PATH
			, B.FILE_SIZE
			, B.BASEFILENM 	
		FROM TMAD_SURVMNTR A
			LEFT OUTER JOIN TMAD_SURVFILE B ON A.ATT_IDT_NO = B.ATT_IDT_NO AND A.ATT_SEQ = B.ATT_SEQ
			LEFT OUTER JOIN TMAD_USER D ON A.WORKERID = D.USERID 
		WHERE A.SURVSEQ = #{SURVSEQ} 
			AND A.SURVKINDCD = #{SURVKINDCD}
			AND A.SCHCD = #{SCHCD}
			AND A.ORGCD = #{ORGCD}
		ORDER BY A.MNTRSEQ DESC
	</select>
	
	<insert id="insertReturnHis">
		<selectKey resultType="int" keyProperty="MNTRSEQ" order="BEFORE">
	        SELECT NVL(MAX(MNTRSEQ), 0)+1 FROM TMAD_SURVMNTR  WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD =  #{SURVKINDCD} AND SCHCD = #{SCHCD} AND ORGCD =  #{ORGCD}       
	    </selectKey> 
		INSERT INTO TMAD_SURVMNTR(
			SURVSEQ, SURVKINDCD, SCHCD, ORGCD
			, MNTRSEQ, STATUSCD, STATUSWKDTHM
			, RCEPTCN
			, WORKERID, WORKDTHM
		) VALUES (
			#{SURVSEQ}, #{SURVKINDCD}, #{SCHCD}, #{ORGCD}
			, #{MNTRSEQ}, #{STATUSCD}, SYSDATE
			, #{RCEPTCN}
			, #{WORKERID}, SYSDATE
		)	
	</insert>
	
	<update id="updateApproval">
		UPDATE TMAD_SCHOOL 
			SET 
				SURVPROSTATUSCD     = #{STATUSCD}
				, SURVPROSTATUSDTHM = SYSDATE
				, MODIFIERID        = #{MODIFIERID}
				, MODDTHM           = SYSDATE
		WHERE 
			SURVSEQ 		= #{SURVSEQ}
			AND SURVKINDCD 	= #{SURVKINDCD}
			AND SCHCD 		= #{SCHCD}
			AND ORGCD 		= #{ORGCD}
	</update>
	
	<!-- 단과대학명... -->
	<select id="getCOLNM" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT  SP_CODENAME_FU(#{SURVSEQ}, #{SURVKINDCD},'0504', #{COLCD} ) AS COLNM FROM DUAL
	</select>		
	
	<!-- 학과명... -->
	<select id="getDEPTNM" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT  DEPTNM FROM TMCM_DEPT  WHERE   SURVSEQ = #{SURVSEQ} AND SURVKINDCD =#{SURVKINDCD} AND DEPTCD =  #{DEPTCD}
	</select>
	
	<!-- 주야간 목록 -->
	<select id="getDayNight" parameterType="java.util.Map" resultType="java.util.Map">

		SELECT 
			A.CDNM DNNM
		FROM 
			TCCM_CODE A
		WHERE CDTYPE =  '1004'
			AND SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND CD = #{DEPTDNCD}
	</select>
	
	<select id="getSurvProStatusNmCnt" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT SURVPROSTATUSCD
			 , COUNT(*) CNT
		FROM TMAD_SCHOOL
		WHERE 1=1
		AND SURVSEQ = #{SURVSEQ}
		AND SURVKINDCD = #{SURVKINDCD}
		AND SURVTARGETYN IN ('1','3')
		GROUP BY SURVPROSTATUSCD
	</select>
	
	<insert id="insertDept">
		INSERT INTO TMCM_DEPT (
		    SURVSEQ
		    , SURVKINDCD
		    , DEPTCD
		    , DEPTNM
		    , DEPTENGNM
		    , LCD
		    , LNM
		    , MCD
		    , MNM
		    , SCD
		    , SNM
		) VALUES (
		      #{SURVSEQ}
		    , #{SURVKINDCD}
		    , #{DEPTCD}
		    , #{DEPTNM}
		    , NULL
		    , NULL
		    , NULL
		    , NULL
		    , NULL
		    , NULL
		    , NULL
		)
	</insert>
	
	<select id="overlapChk" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(DEPTCD)
		  FROM TMCM_DEPT
		 WHERE SURVSEQ = #{SURVSEQ}
		   AND SURVKINDCD = #{SURVKINDCD}
		   AND DEPTCD = #{DEPTCD}
	</select>
</mapper>