<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdQuestionMngMapper">

	<select id="survList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			DISTINCT SURVSEQ
		FROM TMAD_SURVEY
		where survseq>'191231'
		ORDER BY SURVSEQ DESC
	</select>
	
	<select id="searchQuestionList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			M.SURVSEQ
			, M.SURVKINDCD
			, SP_CODENAME_FU(M.SURVSEQ, M.SURVKINDCD, '0079', M.SURVKINDCD) AS SURVKINDNM 
			, M.QUESTIONSEQ
			, M.QUESTIONTERMFR, M.QUESTIONTERMTO
			, M.QUESTIONTITLE
			, M.TOTINQCNT
			, M.DELYN
			, M.WORKERID, M.WORKDTHM, M.MODIFIERID, M.MODDTHM 	
			, (SELECT COUNT(USERID) 
				FROM TMAD_QUESTIONOBJ 
				WHERE SURVSEQ = M.SURVSEQ 
					AND SURVKINDCD = M.SURVKINDCD 
					AND QUESTIONSEQ = M.QUESTIONSEQ) AS TAR_CNT		/* 대상 */
			, (SELECT COUNT(DISTINCT USERID)
				FROM TMAD_QUESTIONANS
        		WHERE SURVSEQ = M.SURVSEQ
            			AND SURVKINDCD = M.SURVKINDCD
            			AND QUESTIONSEQ = M.QUESTIONSEQ) AS ANS_CNT	/* 응답 수*/
            , CASE WHEN	<![CDATA[  M.QUESTIONTERMFR <= TO_CHAR(SYSDATE, 'YYYYMMDD') AND M.QUESTIONTERMTO >= TO_CHAR(SYSDATE, 'YYYYMMDD') ]]> THEN 'NOW'
            	WHEN 	<![CDATA[  M.QUESTIONTERMFR > TO_CHAR(SYSDATE, 'YYYYMMDD') ]]> THEN 'NOF'
    			ELSE 'END' END AS TAR_STATE
		FROM TMAD_QUESTIONMST M
		<where>
			<if test=' SURVSEQ != null and SURVSEQ != "" '>
				AND M.SURVSEQ = #{SURVSEQ}			
			</if>			
			<if test=' SURVKINDCD != null and SURVKINDCD != "" '>
				AND M.SURVKINDCD = #{SURVKINDCD}			
			</if>
			<if test=' QUESTIONTITLE != null and QUESTIONTITLE != "" '>
				AND M.QUESTIONTITLE LIKE '%'||#{QUESTIONTITLE}||'%'			
			</if>
		</where>		
		ORDER BY SURVSEQ DESC, QUESTIONSEQ DESC, SP_CODENAME_FU(M.SURVSEQ, M.SURVKINDCD, '0079', M.SURVKINDCD) ASC
	</select>
	
	<select id="selectQuestionMstView" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ, QUESTIONTERMFR, QUESTIONTERMTO, QUESTIONTITLE, TOTINQCNT, QUESTIONSCRIPT, DELYN
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONMST
		<where>
			<if test=' SURVSEQ != null and SURVSEQ != null '>
				AND SURVSEQ = #{SURVSEQ}			
			</if>
			<if test=' SURVKINDCD != null and SURVKINDCD != null '>
				AND SURVKINDCD = #{SURVKINDCD}			
			</if>
			<if test=' QUESTIONSEQ != null and QUESTIONSEQ != null '>
				AND QUESTIONSEQ = #{QUESTIONSEQ}
			</if>		
		</where>		
	</select>
	
	
	
	<insert id="insertQueMst">
		<selectKey resultType="int" keyProperty="QUESTIONSEQ" order="BEFORE">
	        SELECT NVL(MAX(TO_NUMBER(QUESTIONSEQ)), 0)+1 FROM TMAD_QUESTIONMST  WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD}       
	    </selectKey> 
		INSERT INTO TMAD_QUESTIONMST (
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, QUESTIONTERMFR, QUESTIONTERMTO
			, QUESTIONTITLE, QUESTIONSCRIPT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES ( 
			#{SURVSEQ}, #{SURVKINDCD}, #{QUESTIONSEQ}
			, REPLACE(#{QUESTIONTERMFR}, '.'), REPLACE(#{QUESTIONTERMTO}, '.')
			, #{QUESTIONTITLE}, #{QUESTIONSCRIPT}
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)
	
	</insert>
	
	<update id="updateQueMst">
		UPDATE TMAD_QUESTIONMST
		SET     
		    QUESTIONTERMFR 	 = REPLACE(#{QUESTIONTERMFR}, '.')
		    , QUESTIONTERMTO = REPLACE(#{QUESTIONTERMTO}, '.')
		    , QUESTIONTITLE  = #{QUESTIONTITLE} 
		    , QUESTIONSCRIPT = #{QUESTIONSCRIPT} 
		
		    , MODIFIERID     = #{MODIFIERID} 
		    , MODDTHM        = SYSDATE
		WHERE 
			SURVSEQ        	= #{SURVSEQ} 
		    AND SURVKINDCD  = #{SURVKINDCD} 
		    AND QUESTIONSEQ = #{QUESTIONSEQ} 
	</update>
	
	<update id="updateQueMstTotInqCnt">
		UPDATE TMAD_QUESTIONMST
		SET     
		    TOTINQCNT	= (SELECT COUNT(INQSEQ)
							FROM TMAD_QUESTIONINQ
							WHERE SURVSEQ     	= #{SURVSEQ} 
		    					AND SURVKINDCD  = #{SURVKINDCD} 
		    					AND QUESTIONSEQ = #{QUESTIONSEQ})
		WHERE 
			SURVSEQ        	= #{SURVSEQ} 
		    AND SURVKINDCD  = #{SURVKINDCD} 
		    AND QUESTIONSEQ = #{QUESTIONSEQ}	
	</update>
	
	
	
	
	
	
	<select id="selectQuestionInqList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ, INQNO
			, INQTYPE
			, SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '2009', INQTYPE) AS INQTYPENM
			, INQEXAMPLECNT, INQGRPNM, INQTEXT, SUJECTINQTITLE
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONINQ
		<where>
			<if test=' SURVSEQ != null and SURVSEQ != null '>
				AND SURVSEQ = #{SURVSEQ}			
			</if>
			<if test=' SURVKINDCD != null and SURVKINDCD != null '>
				AND SURVKINDCD = #{SURVKINDCD}			
			</if>
			<if test=' QUESTIONSEQ != null and QUESTIONSEQ != null '>
				AND QUESTIONSEQ = #{QUESTIONSEQ}
			</if>
		</where>		
		ORDER BY INQNO				
	</select>
	
	
	<select id="selectQueInqView" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ, INQNO
			, INQTYPE
			, SP_CODENAME_FU(SURVSEQ, SURVKINDCD, '2009', INQTYPE) AS INQTYPENM
			, INQEXAMPLECNT, INQGRPNM, INQTEXT, SUJECTINQTITLE
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONINQ
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
			AND INQSEQ = #{INQSEQ}
	</select>
		
	<insert id="insertQueInq" parameterType="java.util.Map">
		<selectKey resultType="int" keyProperty="INQSEQ" order="BEFORE">
	        SELECT NVL(MAX(INQSEQ), 0)+1 FROM TMAD_QUESTIONINQ  WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND QUESTIONSEQ = #{QUESTIONSEQ}       
	    </selectKey> 
		INSERT INTO TMAD_QUESTIONINQ (
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ, INQNO, INQTYPE
			/*, INQEXAMPLECNT 문제갯수 */
			, INQGRPNM, INQTEXT, SUJECTINQTITLE
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES (
			#{SURVSEQ}, #{SURVKINDCD}, #{QUESTIONSEQ}
			, #{INQSEQ}, #{INQNO}, #{INQTYPE}
			/*, INQEXAMPLECNT*/
			, #{INQGRPNM}, #{INQTEXT}, #{SUJECTINQTITLE}
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)	
	</insert>
	
	<update id="updateQueInq">
		UPDATE TMAD_QUESTIONINQ
		SET     
		    INQNO          = #{INQNO}, 
		    INQTYPE        = #{INQTYPE}, 
		    <!-- 문항보기CNT :  INQEXAMPLECNT  = #{INQEXAMPLECNT}, --> 
		    INQGRPNM       = #{INQGRPNM}, 
		    INQTEXT        = #{INQTEXT}, 
		    SUJECTINQTITLE = #{SUJECTINQTITLE}, 
		    MODIFIERID     = #{MODIFIERID}, 
		    MODDTHM        = SYSDATE
		WHERE 
			SURVSEQ        	   = #{SURVSEQ}
		    AND SURVKINDCD     = #{SURVKINDCD}
		    AND QUESTIONSEQ    = #{QUESTIONSEQ}
		    AND INQSEQ         = #{INQSEQ}
	</update>
	



	<select id="selectQueExList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ
			, EXSEQ
			, EXAMPLENO, EXAMPLETEXT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONEX
		WHERE SURVSEQ 		= #{SURVSEQ}
			AND SURVKINDCD 	= #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
			AND INQSEQ 		= #{INQSEQ}	
	</select>
	
	<insert id="insertQueEx">
		<selectKey resultType="int" keyProperty="EXSEQ" order="BEFORE">
	        SELECT NVL(MAX(EXSEQ), 0)+1 
			FROM TMAD_QUESTIONEX  
			WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND QUESTIONSEQ = #{QUESTIONSEQ} AND INQSEQ = #{INQSEQ}       
	    </selectKey> 
		INSERT INTO TMAD_QUESTIONEX (
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ
			, EXSEQ
			, EXAMPLENO, EXAMPLETEXT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES ( 
			#{SURVSEQ}, #{SURVKINDCD}, #{QUESTIONSEQ}
			, #{INQSEQ}
			, #{EXSEQ}
			, #{EXAMPLENO}, #{EXAMPLETEXT}
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)
	</insert>
	
	<update id="updateQueEx">
		UPDATE TMAD_QUESTIONEX
		SET     
		    EXAMPLENO   = #{EXAMPLENO}, 
		    EXAMPLETEXT = #{EXAMPLETEXT}, 
		
		    MODIFIERID  = #{MODIFIERID}, 
		    MODDTHM     = SYSDATE
		WHERE 
			SURVSEQ     	= #{SURVSEQ}
		    AND SURVKINDCD  = #{SURVKINDCD}
		    AND QUESTIONSEQ = #{QUESTIONSEQ}
		    AND INQSEQ      = #{INQSEQ}
		    AND EXSEQ       = #{EXSEQ}
				
	</update>
	
	<delete id="deleteQueEx">
		DELETE FROM TMAD_QUESTIONEX
		WHERE 
			SURVSEQ     	= #{SURVSEQ}
		    AND SURVKINDCD  = #{SURVKINDCD}
		    AND QUESTIONSEQ = #{QUESTIONSEQ}
		    AND INQSEQ      = #{INQSEQ}
		    AND EXSEQ       = #{EXSEQ}
	</delete>
	
	
	<update id="updateQueExCnt">
		<selectKey resultType="int" keyProperty="INQEXAMPLECNT" order="BEFORE">
			SELECT COUNT(*) 
			FROM TMAD_QUESTIONEX
			WHERE SURVSEQ = #{SURVSEQ} AND SURVKINDCD = #{SURVKINDCD} AND QUESTIONSEQ = #{QUESTIONSEQ} AND INQSEQ = #{INQSEQ}
		</selectKey>
		UPDATE TMAD_QUESTIONINQ
		SET     
		    INQEXAMPLECNT  = #{INQEXAMPLECNT}, 
		    MODIFIERID     = #{MODIFIERID}, 
		    MODDTHM        = SYSDATE
		WHERE 
			SURVSEQ        	   = #{SURVSEQ}
		    AND SURVKINDCD     = #{SURVKINDCD}
		    AND QUESTIONSEQ    = #{QUESTIONSEQ}
		    AND INQSEQ         = #{INQSEQ}	
	</update>
	
	
	<delete id="deleteMst">
		DELETE FROM TMAD_QUESTIONMST
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
	</delete>
	
	<delete id="deleteInq">
		DELETE FROM TMAD_QUESTIONINQ
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}	
	</delete>
	
	<delete id="deleteEx">
		DELETE FROM TMAD_QUESTIONEX
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}	
	</delete>
	
	<delete id="deleteAns">
		DELETE FROM TMAD_QUESTIONANS
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}	
	</delete>
	
	<select id="selectQuestionExList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			SURVSEQ, SURVKINDCD, QUESTIONSEQ
			, INQSEQ
			, EXSEQ
			, EXAMPLENO, EXAMPLETEXT
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM 
		FROM TMAD_QUESTIONEX
		WHERE 
			SURVSEQ 		= #{SURVSEQ}
			AND SURVKINDCD 	= #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
		ORDER BY QUESTIONSEQ, INQSEQ, EXAMPLENO
	</select>
	
	
	<select id="selectQuestionResult" parameterType="java.util.Map" resultType="java.util.Map">
		select sysdate from dual
	</select>
	
	
	
	<select id="selectQueTargetList" parameterType="java.util.Map" resultType="java.util.Map">
		WITH BASE AS (
			SELECT
				'' AS CHK 
				, C.PROVINCECD	/* 지역 */
				, SP_CODENAME_FU(C.SURVSEQ, C.SURVKINDCD, '0522', C.PROVINCECD) AS PROVINCENM
				, C.SCHKINDCD	/* 학제 */
				, SP_CODENAME_FU(C.SURVSEQ, C.SURVKINDCD, '0527', C.SCHKINDCD) AS SCHKINDNM
				, C.SCHFUNDCD	/* 설립구분 */
				, SP_CODENAME_FU(C.SURVSEQ, C.SURVKINDCD, '0512', C.SCHFUNDCD) AS SCHFUNDNM
				, C.SCHNM
				, C.ORGCD		/* 본분교*/
				, SP_CODENAME_FU(C.SURVSEQ, C.SURVKINDCD, '1001', C.SCHFUNDCD) AS ORGNM
				, A.USERGRPTYPE 
				, SP_CODENAME_FU(C.SURVSEQ, C.SURVKINDCD, '0016', A.USERGRPTYPE) AS USERGRPNM
				, SP_DEC_FU(A.USERNM) AS USERNM
				, A.USERID
				, (SELECT COUNT(DISTINCT USERID) 
					FROM TMAD_QUESTIONANS 
					WHERE SURVSEQ = C.SURVSEQ
		        		AND SURVKINDCD = C.SURVKINDCD
		            	AND QUESTIONSEQ = D.QUESTIONSEQ
                   		AND USERID = A.USERID
                ) AS ANSCNT			/* 설문상태 */				
				, CASE WHEN 
					(SELECT COUNT(USERID) FROM TMAD_QUESTIONOBJ WHERE SURVSEQ = C.SURVSEQ AND SURVKINDCD = C.SURVKINDCD AND QUESTIONSEQ = D.QUESTIONSEQ AND USERID = A.USERID) = 0 THEN 'false'
				  ELSE 'true' END AS TARGETYN	/* 설문대상여부 */
			FROM TMAD_USER A
				LEFT OUTER JOIN TMAD_USERSCHOOL B 	ON A.USERID = B.USERID AND B.USERGRPTYPE = '4'
				INNER JOIN TMAD_SCHOOL C	 	ON B.SCHCD = C.SCHCD AND B.ORGCD = C.ORGCD AND C.SURVSEQ = #{SURVSEQ} AND C.SURVKINDCD = #{SURVKINDCD}
				LEFT OUTER JOIN TMAD_QUESTIONMST D 	ON D.SURVSEQ = #{SURVSEQ} AND D.SURVKINDCD = #{SURVKINDCD} AND D.QUESTIONSEQ = #{QUESTIONSEQ}			
			WHERE A.USERGRPTYPE = '4'	/* 취업담당자 */
				<if test=' PROVINCECD != null and PROVINCECD != "" '>
					AND C.PROVINCECD = #{PROVINCECD}
				</if> 
				<if test=' SCHKINDCD != null and SCHKINDCD != "" '>
					AND C.SCHKINDCD = #{SCHKINDCD}
				</if>
				<if test=' SCHFUNDCD != null and SCHFUNDCD != "" '>
					AND C.SCHFUNDCD = #{SCHFUNDCD}
				</if>
				
				<if test=' SCHNM != null and SCHNM != "" '>
					AND A.SCHNM LIKE '%'||#{SCHNM}||'%'	
				</if>
				<if test=' USERNM != null and USERNM != "" '>
					AND SP_DEC_FU(A.USERNM) LIKE '%'||#{USERNM}||'%'
				</if>	
		)
		SELECT * FROM BASE 
		<where>
			<if test=' TARGETYN != null and TARGETYN != "" '>
				AND TARGETYN = #{TARGETYN}
			</if>
		</where>
		ORDER BY SCHNM		
	</select>
	
	<insert id="insertQueObj">
		INSERT INTO TMAD_QUESTIONOBJ (
			SURVSEQ, SURVKINDCD, QUESTIONSEQ, USERID
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) VALUES ( 
			#{SURVSEQ}, #{SURVKINDCD}, #{QUESTIONSEQ}, #{USERID}
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE
		)
	</insert>
	
	<insert id="insertQueObjInit">
		INSERT INTO TMAD_QUESTIONOBJ (
			SURVSEQ, SURVKINDCD, QUESTIONSEQ, USERID
			, WORKERID, WORKDTHM, MODIFIERID, MODDTHM
		) SELECT 
			#{SURVSEQ}, #{SURVKINDCD}, #{QUESTIONSEQ}, USERID
			, #{WORKERID}, SYSDATE, #{MODIFIERID}, SYSDATE 
		  FROM TMAD_USER 
		  WHERE WORKYN = '1' AND USERGRPTYPE = '4'
	</insert>
	
	<delete id="deleteQueObj">
		DELETE 
		FROM TMAD_QUESTIONOBJ
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
			AND USERID = #{USERID}
	</delete>
	
	<delete id="deleteQbjAll">
		DELETE 
		FROM TMAD_QUESTIONOBJ
		WHERE SURVSEQ = #{SURVSEQ}
			AND SURVKINDCD = #{SURVKINDCD}
			AND QUESTIONSEQ = #{QUESTIONSEQ}
	</delete>
	


	
</mapper>